# NRL Team of the Year Analysis

Going to first determine which stats are most important to a teams win / loss record. Then we'll determine which players had the biggest impact on their team's success. Compare this to the 2018 Team of the Year to see if it's a fair reflection of the statistical data

### Team of the Year:
<br>
    Fullback --> Roger Tuivasa-Sheck (Warriors)
    <br>
    Winger --> Blake Ferguson (Roosters)
    <br>
    Centre --> Joseph Leilua (Raiders)
    <br>
    Five-eighth --> Cameron Munster (Storm)
    <br>
    Halfback --> Luke Brooks (Tigers)
    <br>
    Lock --> Jason Taumalolo (Cowboys)
    <br>
    Second-rower --> Josh Jackson (Bulldogs)
    <br>
    Prop --> Andrew Fifita (Sharks)
    <br>
    Hooker --> Damien Cook (Rabbitohs)
    <br>
    Interchange --> Jazz Tevaga (Warriors)

In [1]:
#Import Pandas
import pandas as pd

In [2]:
#Connect to database
import mysql.connector as sql

mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)

In [3]:
#Function to easily create dataframes from SQL query results
def create_df(query):
    return pd.read_sql_query(query, con=mydb)

In [4]:
#Only want to analyze matches from the 2018 season
matches2018 = "SELECT * FROM Matches WHERE year(date) = '2018';"
matches2018 = create_df(matches2018)
matches2018.head()

,id,date,round,home_team_id,home_score,away_team_id,away_score,winner,is_draw,stadium_id,weather,url
0,1,2018-03-08,1,14,34,1,12,14,0,1,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
1,2,2018-03-09,1,8,19,6,18,8,0,2,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
2,3,2018-03-09,1,10,20,4,14,10,0,3,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
3,4,2018-03-10,1,16,10,15,8,16,0,4,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
4,5,2018-03-10,1,13,20,9,32,9,0,5,None,http://www.nrl.com/draw/nrl-premiership/2018/r...

# Make Standings to have better idea of teams that performed well

In [5]:
#Better way to view the data in a table...easier to work with team names than ids
matches2018 = '''SELECT m.id, m.round, m.date,
CASE
	WHEN m.home_team_id = m.winner THEN home.nickname
    ELSE away.nickname
END winner,
CASE
	WHEN m.home_team_id = m.winner THEN m.home_score
    ELSE m.away_score
END winning_score,
CASE
	WHEN m.home_team_id = m.winner THEN away.nickname
    ELSE home.nickname
END loser,
CASE
	WHEN m.home_team_id = m.winner THEN m.away_score
    ELSE m.home_score
END losing_score, home.nickname home, away.nickname away
FROM Matches m
JOIN Teams home
ON m.home_team_id = home.id
JOIN Teams away
ON m.away_team_id = away.id
WHERE year(m.date) = 2018
ORDER BY date;'''
matches2018 = create_df(matches2018)
matches2018.head()

,id,round,date,winner,winning_score,loser,losing_score,home,away
0,1,1,2018-03-08,Dragons,34,Broncos,12,Dragons,Broncos
1,2,1,2018-03-09,Knights,19,Sea Eagles,18,Knights,Sea Eagles
2,3,1,2018-03-09,Cowboys,20,Sharks,14,Cowboys,Sharks
3,6,1,2018-03-10,Storm,36,Bulldogs,18,Bulldogs,Storm
4,5,1,2018-03-10,Warriors,32,Rabbitohs,20,Rabbitohs,Warriors

In [6]:
winners = matches2018.groupby('winner')
w_scored = winners['winning_score'].sum()
w_allowed = winners['losing_score'].sum()

losers = matches2018.groupby('loser')
l_scored = losers['losing_score'].sum()
l_allowed = losers['winning_score'].sum()

total_scores = pd.concat([w_scored, l_scored, w_allowed, l_allowed], axis=1, join='inner')
total_scores.columns = ['scored_in_win', 'scored_in_loss', 'allowed_in_win', 'allowed_in_loss']
total_scores.head(2)

total_scores['pts_scored'] = total_scores['scored_in_win'] + total_scores['scored_in_loss']
total_scores['pts_allowed'] = total_scores['allowed_in_win'] + total_scores['allowed_in_loss']
total_scores['pts_differential'] = total_scores['pts_scored'] - total_scores['pts_allowed']
total_points_data = total_scores[['pts_differential', 'pts_scored', 'pts_allowed']]
total_points_data.head()

          pts_differential  pts_scored  pts_allowed
Broncos                 56         556          500
Bulldogs               -46         428          474
Cowboys                -72         449          521
Dragons                 47         519          472
Eels                  -176         374          550

In [7]:
#Pull win / loss records from database
standings2018 = '''SELECT t.nickname team,
    count(m.winner) as wins,
    24 - count(m.winner) as loses
FROM Matches m
JOIN Teams t
ON m.winner = t.id
WHERE year(m.date) = 2018
GROUP BY m.winner
ORDER BY wins DESC;'''
standings2018 = create_df(standings2018).set_index('team')
standings2018.head()

           wins  loses
team
Roosters     16      8
Rabbitohs    16      8
Storm        16      8
Sharks       16      8
Dragons      15      9

In [8]:
final_standings = pd.concat([standings2018, total_points_data], axis=1, join='inner').sort_values(['wins', 'pts_differential'], ascending=[0,0])
final_standings

            wins  loses  pts_differential  pts_scored  pts_allowed
Roosters      16      8               181         542          361
Storm         16      8               173         536          363
Rabbitohs     16      8               145         582          437
Sharks        16      8                96         519          423
Broncos       15      9                56         556          500
Panthers      15      9                56         517          461
Dragons       15      9                47         519          472
Warriors      15      9                25         472          447
Tigers        12     12               -83         377          460
Raiders       10     14                23         563          540
Knights        9     15              -193         414          607
Bulldogs       8     16               -46         428          474
Cowboys        8     16               -72         449          521
Titans         8     16              -110         472          582
Sea Eagles     7     17              -122         500          622
Eels           6     18              -176         374          550

In [9]:
#From the standings above, we can see that points and 

final_standings.plot.scatter(x='wins', y='pts_differential', color='Red', label='point_differential')
final_standings.plot.scatter(x='wins', y='pts_scored', color='Blue', label='scored')
final_standings.plot.scatter(x='wins', y='pts_allowed', color='Green', label='allowed')

We can see correlation between point_differential and wins, but lets look at alternative metrics and player stats to find a better correlation to win probability.

# Want to see if there are any statistics that are a good predictor of wins

In [10]:
#PlayerMatchStats
query = '''SELECT CONCAT(p.first_name, ' ' ,p.last_name) name, t.nickname team, p_stats.*
        FROM PlayerMatchStats p_stats
        JOIN Players p
        ON p_stats.player_id = p.id
        JOIN Teams t
        ON p_stats.team_id = t.id
        JOIN Matches m
        ON p_stats.match_id = m.id
        WHERE year(m.date) = 2018;'''

player_stat_df = create_df(query)
player_stat_df.head()

,name,team,id,match_id,player_id,team_id,position_id,minutes_played,points,tries,...,kicked_dead,errors,handling_errors,one_on_ones_lost,penalties,on_report,sin_bins,send_offs,stint_one,stint_two
0,Darius Boyd,Broncos,18,1,22,1,1,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
1,Corey Oates,Broncos,19,1,20,1,2,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
2,James Roberts,Broncos,20,1,27,1,3,80.0,8,2,...,0,0,0,0,1,0,0,0,80.0,None
3,Jordan Kahu,Broncos,21,1,251,1,3,80.0,4,0,...,0,1,1,0,0,0,0,0,80.0,None
4,Jamayne Isaako,Broncos,22,1,26,1,2,80.0,0,0,...,0,2,0,0,0,0,0,0,80.0,None

In [11]:
#Look at columns...what can we drop and what can we alter?
player_stat_df.columns

Index(['name', 'team', 'id', 'match_id', 'player_id', 'team_id', 'position_id',
       'minutes_played', 'points', 'tries', 'conversions',
       'conversion_attempts', 'penalty_goals', 'conversion_percentage',
       'field_goals', 'total_runs', 'total_run_metres', 'kick_return_metres',
       'post_contact_metres', 'line_breaks', 'line_break_assists',
       'try_assists', 'line_engaged_runs', 'tackle_breaks', 'hit_ups',
       'play_the_ball', 'average_play_ball_seconds', 'dummy_half_runs',
       'dummy_half_run_metres', 'steals', 'offloads', 'dummy_passes', 'passes',
       'receipts', 'pass_to_run_ratio', 'tackle_percentage', 'tackles_made',
       'tackles_missed', 'ineffective_tackles', 'intercepts', 'kicks_defused',
       'kicks', 'kicking_metres', 'forced_drop_outs', 'bomb_kicks', 'grubbers',
       'fourty_twenty', 'cross_field_kicks', 'kicked_dead', 'errors',
       'handling_errors', 'one_on_ones_lost', 'penalties', 'on_report',
       'sin_bins', 'send_offs', 'stint_one', 'stint_two'],
      dtype='object')

In [12]:
player_stat_df = player_stat_df.drop(['id', 'team_id', 'conversions', 'conversion_attempts', 'penalty_goals', 'conversion_percentage',
                           'field_goals', 'hit_ups', 'play_the_ball', 'average_play_ball_seconds', 'dummy_half_runs',
                           'dummy_half_run_metres', 'steals', 'dummy_passes', 'receipts', 'pass_to_run_ratio',
                           'intercepts', 'kicks_defused', 'forced_drop_outs', 'bomb_kicks', 'grubbers', 'fourty_twenty',
                           'cross_field_kicks', 'kicked_dead', 'handling_errors', 'one_on_ones_lost', 'on_report',
                           'send_offs', 'stint_one', 'stint_two'], axis=1)
player_stat_df.head()

,name,team,match_id,player_id,position_id,minutes_played,points,tries,total_runs,total_run_metres,...,passes,tackle_percentage,tackles_made,tackles_missed,ineffective_tackles,kicks,kicking_metres,errors,penalties,sin_bins
0,Darius Boyd,Broncos,1,22,1,80.0,0,0,9,46,...,18,0.75,12,2,2,0,0,1,0,0
1,Corey Oates,Broncos,1,20,2,80.0,0,0,10,113,...,1,0.8,4,1,0,0,0,1,0,0
2,James Roberts,Broncos,1,27,3,80.0,8,2,7,48,...,10,0.786,11,1,2,0,0,0,1,0
3,Jordan Kahu,Broncos,1,251,3,80.0,4,0,5,50,...,0,0.783,18,5,0,0,0,1,0,0
4,Jamayne Isaako,Broncos,1,26,2,80.0,0,0,12,95,...,3,1.0,7,0,0,0,0,2,0,0

In [13]:
#grouped = player_df.groupby(['match_id', 'team']) 
#grouped.first()
player_stats2018 = player_stat_df.groupby(['player_id', 'name']).agg(sum)
player_stats2018

,,match_id,position_id,minutes_played,points,tries,total_runs,total_run_metres,kick_return_metres,post_contact_metres,line_breaks,...,offloads,passes,tackles_made,tackles_missed,ineffective_tackles,kicks,kicking_metres,errors,penalties,sin_bins
player_id,name,,,,,,,,,,,,,,,,,,,,,
2,Alex Glenn,1913,161,1467.0,16,4,196,1799,6,653,3,...,4,133,629,82,29,0,0,9,15,0
3,Andrew McCullough,1936,150,1528.0,12,3,90,829,0,287,3,...,0,1783,884,41,20,31,969,6,14,1
4,David Fifita,1525,94,480.0,4,1,106,983,0,387,3,...,9,3,208,15,16,0,0,0,1,0
5,George Fai,89,10,14.0,0,0,3,29,0,12,0,...,0,0,11,0,1,0,0,0,0,0
6,Jake Turpin,320,20,80.0,0,0,4,30,0,12,0,...,0,112,56,3,2,0,0,1,1,0
7,James Segeyaro,2269,227,776.0,4,1,79,734,0,130,4,...,17,960,349,28,28,21,386,10,7,0
9,Joe Ofahengaue,2193,213,1160.0,12,3,309,2876,638,1076,3,...,3,24,648,26,28,1,10,7,16,0
10,Matt Gillett,100,40,396.0,0,0,47,383,2,138,0,...,1,9,194,16,6,6,102,3,2,0
11,Matthew Lodge,2315,160,1128.0,12,3,346,3231,907,1085,3,...,22,67,547,46,23,0,0,11,12,0
13,Patrick Mago,1481,106,232.0,0,0,55,542,70,234,0,...,1,3,140,20,3,0,0,3,4,0
14,Payne Haas,202,30,36.0,0,0,12,96,40,36,0,...,0,0,27,3,0,0,0,1,1,0
15,Sam Tagataese,330,40,62.0,0,0,12,125,16,44,0,...,2,0,28,3,1,0,0,0,1,0
16,Shaun Fensom,1583,136,334.0,4,1,78,656,70,208,1,...,3,15,221,11,9,0,0,3,6,1
19,Anthony Milford,2315,97,1918.0,25,6,261,2090,120,360,9,...,42,639,285,57,23,279,8701,24,21,1
20,Corey Oates,2156,44,1702.0,72,18,279,3225,694,1067,19,...,2,15,75,24,13,3,59,26,1,0
22,Darius Boyd,2315,30,1928.0,16,4,257,2307,823,624,5,...,5,516,202,33,4,12,164,13,8,0
23,Gehamat Shibasaki,161,3,80.0,0,0,9,79,0,36,0,...,0,2,17,2,0,1,32,0,0,0
25,Jack Bird,385,31,636.0,0,0,57,412,4,180,0,...,1,74,140,22,13,13,248,8,1,0
26,Jamayne Isaako,2315,45,1928.0,233,11,281,2390,643,706,10,...,10,96,149,26,8,5,76,23,4,0
27,James Roberts,1946,63,1668.0,36,9,186,1805,3,466,7,...,12,106,303,41,22,4,129,10,17,0
28,Kotoni Staggs,1331,93,274.0,8,2,35,333,0,97,2,...,1,12,83,8,8,2,16,2,1,0
29,Richard Kennar,523,16,612.0,28,7,86,823,206,274,6,...,5,29,30,9,3,0,0,5,1,0
30,Sean O'Sullivan,633,35,80.0,4,1,5,28,0,4,1,...,0,26,27,1,1,8,287,0,0,0
33,Aidan Sezer,1351,96,1380.0,21,2,95,697,6,103,3,...,3,603,279,59,11,131,3386,16,8,0
35,Ata Hingano,649,100,237.0,0,0,29,218,0,52,0,...,5,205,98,20,12,2,8,6,2,0
37,Brad Abbey,1406,11,697.0,4,1,84,726,187,210,1,...,1,67,34,17,2,1,10,13,2,0
40,Jack Wighton,776,13,1040.0,12,3,193,1802,514,548,3,...,5,162,47,13,2,7,190,9,6,0
41,Jarrod Croker,1191,51,1288.0,154,7,142,1250,52,378,9,...,12,138,179,34,10,5,65,10,11,1
42,Jordan Rapana,1983,42,1638.0,40,10,277,2843,214,877,14,...,24,172,131,36,6,10,225,28,13,3
43,Joseph Leilua,2348,72,1741.0,56,14,262,2481,23,853,13,...,38,104,215,46,16,5,60,21,17,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,Jack Stockwell,2017,166,361.0,4,1,95,921,182,318,0,...,2,8,200,12,7,0,0,4,3,0
597,Ryan Simpkins,115,20,53.0,0,0,6,36,0,12,0,...,0,3,36,3,2,0,0,0,1,0
598,Taniela Paseka,1589,136,302.0,0,0,82,848,182,345,0,...,1,0,150,12,7,0,0,3,6,0
600,Frank-paul Nuuausala,149,20,34.0,0,0,5,50,0,20,0,...,0,0,27,2,2,0,0,0,0,0
603,Luke Yates,657,60,187.0,0,0,19,161,0,53,0,...,0,21,136,9,3,0,0,1,1,0
604,Tyronne Roberts-davis,54,2,80.0,0,0,9,61,20,16,0,...,0,0,5,2,0,1,20,1,0,0
605,Scott Sorensen,1593,106,680.0,4,1,90,807,0,320,1,...,2,23,289,21,14,0,0,5,4,0
606,Jack Hetherington,1483,130,402.0,0,0,88,789,84,276,1,...,10,4,235,18,7,0,0,5,12,1
607,Joseph Vuna,486,38,135.0,0,0,20,160,0,63,0,...,0,3,65,5,3,1,4,1,0,0
611,Clay Priest,864,76,217.0,0,0,40,344,31,153,0,...,2,5,136,7,14,0,0,0,5,0
612,Tyrone Phillips,903,18,720.0,16,4,112,961,71,285,4,...,4,36,31,9,1,0,0,9,0,0
614,Siosaia Vave,1665,80,383.0,8,2,107,985,159,353,3,...,2,9,225,18,8,0,0,0,5,0
615,Tom Wright,467,28,165.0,4,1,25,219,0,50,1,...,3,38,41,9,3,2,49,3,3,0
616,Jack Williams,388,40,142.0,4,1,34,338,44,134,0,...,0,1,94,11,3,0,0,1,1,0
618,Toafofoa Sipley,520,50,73.0,0,0,17,173,33,67,0,...,1,0,42,6,2,0,0,0,0,0
619,Sam Hoare,312,18,107.0,0,0,23,184,42,63,0,...,0,6,72,6,6,0,0,1,0,0
620,Kane Linnett,1718,50,883.0,0,0,135,1206,25,499,0,...,7,25,175,16,9,0,0,3,7,0
622,Cory Denniss,1568,33,880.0,4,1,122,951,0,376,0,...,7,55,131,21,10,2,8,8,4,0
623,Cheyse Blair,1037,26,495.0,8,2,64,609,14,196,2,...,1,15,86,13,9,1,14,7,3,0
624,Manase Fainu,1407,63,606.0,4,1,51,419,10,116,2,...,18,724,345,22,9,6,137,0,13,0
628,Jj Felise,154,10,13.0,0,0,6,69,35,20,0,...,1,0,11,1,1,0,0,0,0,0
630,Tom Starling,188,10,17.0,0,0,1,0,0,0,0,...,0,27,9,0,0,0,0,1,0,0
1624,Jaydn Su'a,1144,123,915.0,4,1,156,1359,3,519,3,...,17,13,353,28,17,0,0,10,8,0
1626,Leeson Ah Mau,2221,222,902.0,4,1,253,2567,562,971,3,...,21,10,539,6,25,1,20,4,7,0
1628,Christian Crichton,1654,36,1440.0,12,3,210,1916,316,612,3,...,2,39,57,20,9,0,0,12,2,0
1631,Shannon Boyd,1927,154,734.0,4,1,196,1947,179,869,2,...,2,17,476,21,18,0,0,5,13,0
1633,Malakai Watene-zelezniak,766,24,916.0,12,3,161,1300,152,421,4,...,5,30,55,13,9,0,0,13,1,0
1636,Nick Meaney,813,5,400.0,10,2,57,426,174,103,0,...,0,74,44,12,3,3,17,5,2,0
1638,Jack Cogger,1363,55,960.0,4,1,109,644,0,69,1,...,7,473,217,27,9,80,1997,8,6,0
1639,Morgan Boyle,415,80,144.0,4,1,41,335,92,126,0,...,0,0,93,15,3,0,0,1,1,0

In [14]:
#Make Every Stat a per-minute stat
#grouped.loc[:,'points':'sin_bins'] = grouped.loc[:,'points':'sin_bins']apply()
#grouped.loc[:,'points':'sin_bins'] = grouped.loc[:,'points':'sin_bins'].div(grouped['minutes_played'], axis=0)
#grouped.sort_values(by=['kicking_metres'], ascending = 0)

In [15]:
team_stats = player_stat_df.groupby('team').agg(sum)
#team_stats['total_run_metres'].sort_values(ascending=False)
slimmed_team_stats = team_stats[['points', 'tries', 'total_runs', 'total_run_metres', 'tackles_made', 'tackles_missed', 'ineffective_tackles',
           'kicks', 'kicking_metres', 'errors', 'penalties']]
wins = final_standings[['wins', 'pts_differential', 'pts_scored', 'pts_allowed']]
wins_and_stats = pd.concat([wins, slimmed_team_stats], axis=1, join='inner').sort_values(['wins', 'pts_differential'], ascending=[0,0])
wins_and_stats['metres_per_kick'] = wins_and_stats['kicking_metres'] / wins_and_stats['kicks']
wins_and_stats['metres_per_run'] = wins_and_stats['total_run_metres'] / wins_and_stats['total_runs']
wins_and_stats['tackle_percentage'] = wins_and_stats['tackles_made'] / (wins_and_stats[['tackles_made', 'tackles_missed', 'ineffective_tackles']].sum(axis = 1))
wins_stats_final = wins_and_stats[['wins', 'pts_scored', 'pts_allowed', 'tries', 'metres_per_run', 'total_run_metres', 'total_runs',
               'metres_per_kick', 'kicking_metres', 'kicks', 'tackle_percentage', 'tackles_made',
               'errors', 'penalties']]
wins_stats_final

,wins,pts_scored,pts_allowed,tries,metres_per_run,total_run_metres,total_runs,metres_per_kick,kicking_metres,kicks,tackle_percentage,tackles_made,errors,penalties
Roosters,16,542,361,88,9.555332,38078,3985,25.516930,11304,443,0.877144,7925,276,198
Storm,16,536,363,89,8.901842,35278,3963,24.536300,10477,427,0.882131,7731,255,196
Rabbitohs,16,582,437,98,9.168663,38270,4174,26.138191,10403,398,0.877546,7582,242,202
Sharks,16,519,423,87,8.852687,36898,4168,25.492754,10554,414,0.869888,7381,245,201
Broncos,15,556,500,88,9.135204,35810,3920,28.477124,13071,459,0.872340,7749,207,189
Panthers,15,517,461,82,8.959581,36797,4107,24.700483,10226,414,0.862932,7624,237,226
Dragons,15,519,472,82,8.927717,37300,4178,26.092135,11611,445,0.880188,7846,246,169
Warriors,15,472,447,80,9.154361,36947,4036,26.889423,11186,416,0.872875,7855,219,206
Tigers,12,377,460,61,8.751688,34998,3999,25.450855,11911,468,0.865833,8583,233,197
Raiders,10,563,540,93,9.198932,34450,3745,25.313673,9442,373,0.863331,7315,233,225
Knights,9,414,607,73,8.449585,33604,3977,26.953883,11105,412,0.879970,8101,228,191
Bulldogs,8,428,474,65,8.856198,37506,4235,24.494407,10949,447,0.880417,7679,225,166
Cowboys,8,449,521,73,8.818542,35574,4034,21.863946,9642,441,0.872865,7614,255,181
Titans,8,472,582,80,8.861295,34754,3922,24.221945,9713,401,0.865776,7708,263,218
Sea Eagles,7,500,622,81,9.204175,36154,3928,23.486842,8925,380,0.870392,7320,239,212
Eels,6,374,550,66,8.867740,35267,3977,25.080963,11462,457,0.881210,8479,232,200

In [16]:
corr = wins_stats_final.corr()
corr.style.background_gradient(cmap='coolwarm')

In [17]:
#We can see that tries, total_run_metres, metres_per_kick, low penalties, 

#Make some charts comparing points(for / against) to (metres_per_run, total_run_metres, tries, kicks, metres_per_kick,
#tackles_made, tackle_percentage)
#we don't want guys with high tackles_made...but high tackle_percentage

# Find each player's positions
Will = max(position_id)
Get rid of all players who played less than 12 games (half the season)

In [79]:
from scipy.stats import mode

position_df = player_stat_df[['name', 'position_id']]
modes = position_df.groupby('name')['position_id'].apply(lambda x: mode(x)[0][0]).reset_index().rename(columns={"position_id": "main_position"})
modes[:20]

stats_positions_merged = pd.merge(modes, player_stats2018, how='left', on='name')
stats_positions_merged.head(20)

stats_positions_merged = stats_positions_merged.drop(columns=['match_id', 'position_id'])
stats_positions_merged['metres_per_run'] = stats_positions_merged['total_run_metres'] / stats_positions_merged['total_runs']
stats_positions_merged['metres_per_kick'] = stats_positions_merged['kicking_metres'] / stats_positions_merged['kicks']
stats_positions_merged['tackle_percentage'] = stats_positions_merged['tackles_made'] / (stats_positions_merged['tackles_made'] +stats_positions_merged['tackles_missed'] + stats_positions_merged['ineffective_tackles'])

stats_positions_merged.columns

Index(['name', 'main_position', 'minutes_played', 'points', 'tries',
       'total_runs', 'total_run_metres', 'kick_return_metres',
       'post_contact_metres', 'line_breaks', 'line_break_assists',
       'try_assists', 'line_engaged_runs', 'tackle_breaks', 'offloads',
       'passes', 'tackles_made', 'tackles_missed', 'ineffective_tackles',
       'kicks', 'kicking_metres', 'errors', 'penalties', 'sin_bins',
       'metres_per_run', 'metres_per_kick', 'tackle_percentage'],
      dtype='object')

# Rank players on important stats..group by position

In [94]:
stats_positions_merged = stats_positions_merged[stats_positions_merged['minutes_played'] > 800]
stats_positions_merged.shape
main_stats = ['name', 'main_position', 'minutes_played', 'tries', 'total_run_metres', 'total_runs', 'metres_per_run', 'kicks', 'metres_per_kick', 'tackles_made', 'tackle_percentage']

df_by_position = {}

for i in range(11):
    if i > 0:
        important_stats = stats_positions_merged[main_stats]
        position_df = important_stats[important_stats['main_position'] == i]
        df_by_position[i] = position_df
    
df_by_position[9].sort_values(['total_run_metres', 'total_runs', 'tries', 'tackle_percentage', 'metres_per_kick'], ascending = [0,0,0,0, 0])

,name,main_position,minutes_played,tries,total_run_metres,total_runs,metres_per_run,kicks,metres_per_kick,tackles_made,tackle_percentage
183,Jason Taumalolo,9,1430.0,4,4104,408,10.058824,1,2.000000,635,0.873453
164,Jake Trbojevic,9,1801.0,7,3133,373,8.399464,3,22.000000,967,0.937016
158,Jai Arrow,9,1146.0,3,2974,324,9.179012,0,NaN,635,0.899433
361,Sam Burgess,9,1402.0,1,2930,332,8.825301,3,24.666667,634,0.868493
223,Josh Papalii,9,1480.0,5,2888,310,9.316129,0,NaN,644,0.900699
331,Paul Gallen,9,1175.0,1,2785,309,9.012945,1,2.000000,594,0.929577
144,Jack De Belin,9,1327.0,3,2563,297,8.629630,0,NaN,751,0.919217
318,Nathan Brown,9,1028.0,1,2354,255,9.231373,0,NaN,550,0.922819
167,James Fisher-Harris,9,1349.0,0,2150,256,8.398438,1,0.000000,804,0.886439
221,Josh McGuire,9,1180.0,0,2121,239,8.874477,3,13.333333,587,0.892097
293,Matthew Eisenhuth,9,1410.0,2,1962,243,8.074074,0,NaN,963,0.914530
137,Isaac Liu,9,1384.0,5,1904,208,9.153846,0,NaN,667,0.907483
4,Adam Elliott,9,1063.0,4,1856,240,7.733333,0,NaN,583,0.883333
86,Dale Finucane,9,817.0,1,1583,175,9.045714,0,NaN,431,0.905462
2,Adam Blair,9,1390.0,1,1296,169,7.668639,0,NaN,660,0.889488
110,Elijah Taylor,9,1103.0,1,771,107,7.205607,0,NaN,782,0.903002

# Based off of position stats, make graphs compairing positions where there wasn't a clear 'best player'...or...the 'best player' should have been someone else

In [63]:
#800...want 10 full games at least

stats_positions_merged = stats_positions_merged[stats_positions_merged['minutes_played'] > 800]
stats_positions_merged.shape

main_stats = ['tries', 'total_run_metres', 'metres_per_run', 'kicks', 'metres_per_kick', 'tackles_made', 'tackle_percentage']
stats_by_position_dict = {}

for stat in main_stats:
    stat_df = pd.DataFrame()
    for i in range(10):
        single_stat_rankings = stats_positions_merged[stats_positions_merged[stat] == i].sort_values(by=[stat], ascending=False)
        #column_title = stat + '_leader_names'
        #single_stat_rankings.rename(columns={"name": column_title})
        stat_df = stat_df.append(single_stat_rankings[['name', stat]])
    stats_by_position_dict[stat] = stat_df

stats_by_position_dict['tries']

#stats_by_position_dict['tries']

                    name  tries
10          Aiden Tolman      0
221         Josh McGuire      0
385          Sione Katoa      0
383      Simon Mannering      0
372         Scott Bolton      0
335          Peni Terepo      0
320         Nathan Peats      0
284        Martin Taupau      0
271         Luke Bateman      0
235      Keegan Hipgrave      0
232         Kane Linnett      0
210         Joseph Paulo      0
32          Ben Matulino      0
175         Jamie Buhrer      0
167  James Fisher-Harris      0
162          Jake Friend      0
107           Dylan Napa      0
105          Dunamis Lui      0
101        David Klemmer      0
95            Danny Levi      0
94         Danny Fualalo      0
91         Daniel Alvaro      0
399         Tepai Moeroa      0
1            Aaron Woods      1
352        Robbie Rochow      1
302       Michael Lichaa      1
303       Michael Morgan      1
306    Mitchell Aubusson      1
316           Moses Suli      1
318         Nathan Brown      1
..                   ...    ...
23   Antonio Winterstein      7
34          Bevan French      7
50           Brian Kelly      7
61       Campbell Graham      7
66        Chris Lawrence      7
74             Coen Hess      7
75         Connor Watson      7
164       Jake Trbojevic      7
178        Jarrod Croker      7
196        Joel Thompson      7
346         Reimis Smith      7
392          Sosaia Feki      7
396           Tariq Sims      7
14         Alex Johnston      8
30           Ben Hampton      8
88     Daly Cherry-Evans      8
132          Greg Inglis      8
220         Josh Mansour      8
386      Sione Mata'utia      8
49          Brett Morris      9
81        Corey Thompson      9
83          Curtis Scott      9
171        James Roberts      9
174        James Tedesco      9
222          Josh Morris      9
246        Kodi Nikorima      9
259   Lachlan Fitzgibbon      9
381           Shaun Lane      9
412        Tom Trbojevic      9
421       Tyrone Peachey      9

[221 rows x 2 columns]

# Rank players based on how big an impact they had for their respective teams

# Compare rankings to team of the year