# NRL match analysis

Going to determine which stats have the biggest impact on the outcome of NRL matches. We will see if we can use this information to make predictions about future matches.

In [1]:
#Import Pandas
import pandas as pd

In [2]:
#Connect to database
import mysql.connector as sql

mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)

In [3]:
#Function to easily create dataframes from SQL query results
def create_df(query):
    return pd.read_sql_query(query, con=mydb)

In [4]:
#Only want to analyze matches from the 2018 season
matches2018 = "SELECT * FROM Matches WHERE year(date) = '2018';"
matches2018 = create_df(matches2018)
matches2018.head()

,id,date,round,home_team_id,home_score,away_team_id,away_score,winner,is_draw,stadium_id,weather,url
0,1,2018-03-08,1,14,34,1,12,14,0,1,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
1,2,2018-03-09,1,8,19,6,18,8,0,2,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
2,3,2018-03-09,1,10,20,4,14,10,0,3,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
3,4,2018-03-10,1,16,10,15,8,16,0,4,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
4,5,2018-03-10,1,13,20,9,32,9,0,5,None,http://www.nrl.com/draw/nrl-premiership/2018/r...

# Make Standings to have better idea of teams that performed well

In [21]:
#Better way to view the data in a table...easier to work with team names than ids
matches2018 = '''SELECT m.id, m.round, m.date,
CASE
	WHEN m.home_team_id = m.winner THEN home.nickname
    ELSE away.nickname
END winner,
CASE
	WHEN m.home_team_id = m.winner THEN m.home_score
    ELSE m.away_score
END winning_score,
CASE
	WHEN m.home_team_id = m.winner THEN away.nickname
    ELSE home.nickname
END loser,
CASE
	WHEN m.home_team_id = m.winner THEN m.away_score
    ELSE m.home_score
END losing_score, home.nickname home, away.nickname away
FROM Matches m
JOIN Teams home
ON m.home_team_id = home.id
JOIN Teams away
ON m.away_team_id = away.id
WHERE year(m.date) = 2018
ORDER BY date;'''
matches2018 = create_df(matches2018)
matches2018.head()

,id,round,date,winner,winning_score,loser,losing_score,home,away
0,1,1,2018-03-08,Dragons,34,Broncos,12,Dragons,Broncos
1,2,1,2018-03-09,Knights,19,Sea Eagles,18,Knights,Sea Eagles
2,3,1,2018-03-09,Cowboys,20,Sharks,14,Cowboys,Sharks
3,6,1,2018-03-10,Storm,36,Bulldogs,18,Bulldogs,Storm
4,5,1,2018-03-10,Warriors,32,Rabbitohs,20,Rabbitohs,Warriors

In [24]:
winners = matches2018.groupby('winner')
w_scored = winners['winning_score'].sum()
w_allowed = winners['losing_score'].sum()

losers = matches2018.groupby('loser')
l_scored = losers['losing_score'].sum()
l_allowed = losers['winning_score'].sum()

total_scores = pd.concat([w_scored, l_scored, w_allowed, l_allowed], axis=1, join='inner')
total_scores.columns = ['scored_in_win', 'scored_in_loss', 'allowed_in_win', 'allowed_in_loss']
total_scores.head(2)

total_scores['scored'] = total_scores['scored_in_win'] + total_scores['scored_in_loss']
total_scores['allowed'] = total_scores['allowed_in_win'] + total_scores['allowed_in_loss']
total_scores['point_differential'] = total_scores['scored'] - total_scores['allowed']
total_points_data = total_scores[['point_differential', 'scored', 'allowed']]
total_points_data.head()

          point_differential  scored  allowed
Broncos                   56     556      500
Bulldogs                 -46     428      474
Cowboys                  -72     449      521
Dragons                   47     519      472
Eels                    -176     374      550

In [25]:
#Pull win / loss records from database
standings2018 = '''SELECT t.nickname team,
    count(m.winner) as wins,
    24 - count(m.winner) as loses
FROM Matches m
JOIN Teams t
ON m.winner = t.id
WHERE year(m.date) = 2018
GROUP BY m.winner
ORDER BY wins DESC;'''
standings2018 = create_df(standings2018).set_index('team')
standings2018.head()

           wins  loses
team
Roosters     16      8
Rabbitohs    16      8
Storm        16      8
Sharks       16      8
Dragons      15      9

In [26]:
final_standings = pd.concat([standings2018, total_points_data], axis=1, join='inner').sort_values(['wins', 'point_differential'], ascending=[0,0])
final_standings

            wins  loses  point_differential  scored  allowed
Roosters      16      8                 181     542      361
Storm         16      8                 173     536      363
Rabbitohs     16      8                 145     582      437
Sharks        16      8                  96     519      423
Broncos       15      9                  56     556      500
Panthers      15      9                  56     517      461
Dragons       15      9                  47     519      472
Warriors      15      9                  25     472      447
Tigers        12     12                 -83     377      460
Raiders       10     14                  23     563      540
Knights        9     15                -193     414      607
Bulldogs       8     16                 -46     428      474
Cowboys        8     16                 -72     449      521
Titans         8     16                -110     472      582
Sea Eagles     7     17                -122     500      622
Eels           6     18                -176     374      550

# Want to see if there are any statistics that are a good predictor of wins

In [27]:
#PlayerMatchStats
stats2018 = '''SELECT t.nickname team, 
	count(m.winner) * 2 as points,
    count(m.winner) as wins
FROM PlayerMatchStats m
JOIN Teams t
ON m.winner = t.id
WHERE year(m.date) = 2018
GROUP BY m.winner
ORDER BY points DESC;'''

In [117]:
query = '''SELECT CONCAT(p.first_name, ' ' ,p.last_name) name, t.nickname team, p_stats.*
        FROM PlayerMatchStats p_stats
        JOIN Players p
        ON p_stats.player_id = p.id
        JOIN Teams t
        ON p_stats.team_id = t.id;'''

player_df = create_df(query)

In [123]:
print(player_df.groupby(['match_id', 'team_id']))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x11af15940>