# Step 1 - Scrape match data

The first step of building my database of match stats was gathering information on all of the matches that were to be scraped. The CSV file that contains general information on all matches from 2013 - 2020 includes betting data as well. I added the betting data to my database because I felt I could utilize it later on when trying to make predictions on match outcomes.

In [34]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd
from datetime import datetime

In [36]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="NRL_data"
)
mycursor = mydb.cursor()

## Import Data frorm CSV found off of Australian betting website

In [37]:
match_and_betting_data = pd.read_csv('Data-Table 1.csv')

data = match_and_betting_data.rename(columns=match_and_betting_data.iloc[0])[1:].reset_index(drop=True)
data.head()

,Date,Kick-off (local),Home Team,Away Team,Home Score,Away Score,Play Off Game?,Over Time?,Home Odds,Draw Odds,...,Total Score Close,Total Score Over Open,Total Score Over Min,Total Score Over Max,Total Score Over Close,Total Score Under Open,Total Score Under Min,Total Score Under Max,Total Score Under Close,Notes
0,06-Oct-19,19:30,Sydney Roosters,Canberra Raiders,14,8,Y,NaN,\t1.35,\t18.92,...,34.5,1.91,1.85,1.91,1.91,1.91,1.91,1.91,1.91,NaN
1,28-Sep-19,19:50,Sydney Roosters,Melbourne Storm,14,6,Y,NaN,\t1.59,\t19.04,...,34.5,1.97,1.91,2.00,2.00,1.85,1.82,1.91,1.82,NaN
2,27-Sep-19,19:50,Canberra Raiders,South Sydney Rabbitohs,16,10,Y,NaN,\t1.39,\t20.38,...,38.5,1.91,1.91,1.95,1.91,1.91,1.91,1.91,1.91,NaN
3,21-Sep-19,19:50,Melbourne Storm,Parramatta Eels,32,0,Y,NaN,\t1.35,\t21.14,...,36.5,1.91,1.91,1.91,2.00,1.91,1.82,1.91,1.82,NaN
4,20-Sep-19,19:50,South Sydney Rabbitohs,Manly Sea Eagles,34,26,Y,NaN,\t1.41,\t20.94,...,37.5,1.97,1.85,2.00,1.85,1.85,1.91,1.91,1.97,NaN

In [38]:
data.columns

Index(['Date', 'Kick-off (local)', 'Home Team', 'Away Team', 'Home Score',
       'Away Score', 'Play Off Game?', 'Over Time?', 'Home Odds', 'Draw Odds',
       'Away Odds', 'Bookmakers Surveyed', 'Home Odds Open', 'Home Odds Min',
       'Home Odds Max', 'Home Odds Close', 'Away Odds Open', 'Away Odds Min',
       'Away Odds Max', 'Away Odds Close', 'Home Line Open', 'Home Line Min',
       'Home Line Max', 'Home Line Close', 'Away Line Open', 'Away Line Min',
       'Away Line Max', 'Away Line Close', 'Home Line Odds Open',
       'Home Line Odds Min', 'Home Line Odds Max', 'Home Line Odds Close',
       'Away Line Odds Open', 'Away Line Odds Min', 'Away Line Odds Max',
       'Away Line Odds Close', 'Total Score Open', 'Total Score Min',
       'Total Score Max', 'Total Score Close', 'Total Score Over Open',
       'Total Score Over Min', 'Total Score Over Max',
       'Total Score Over Close', 'Total Score Under Open',
       'Total Score Under Min', 'Total Score Under Max',
       'Total Score Under Close', 'Notes'],
      dtype='object')

In [39]:
#This removes all columns we don't want added to the db
data = data[['Date', 'Kick-off (local)', 'Home Team', 'Away Team', 'Home Score', 'Away Score', 'Play Off Game?',
            'Home Odds', 'Draw Odds', 'Away Odds']]
data.head()

,Date,Kick-off (local),Home Team,Away Team,Home Score,Away Score,Play Off Game?,Home Odds,Draw Odds,Away Odds
0,06-Oct-19,19:30,Sydney Roosters,Canberra Raiders,14,8,Y,\t1.35,\t18.92,\t3.45
1,28-Sep-19,19:50,Sydney Roosters,Melbourne Storm,14,6,Y,\t1.59,\t19.04,\t2.48
2,27-Sep-19,19:50,Canberra Raiders,South Sydney Rabbitohs,16,10,Y,\t1.39,\t20.38,\t3.21
3,21-Sep-19,19:50,Melbourne Storm,Parramatta Eels,32,0,Y,\t1.35,\t21.14,\t3.36
4,20-Sep-19,19:50,South Sydney Rabbitohs,Manly Sea Eagles,34,26,Y,\t1.41,\t20.94,\t3.09

## Prepare data for loading into db

The following columns are in the Matches table of the database:
    date, round, home_team_id, home_score, away_team_id, away_score, winner, is_draw, stadium_id, weather, url

1. Only want entries from 2013 onward
2. We need a way to identify the round of each match so we can interpolate it into the url

In [40]:
#Rename columns so they are compatable with db column names
data = data.rename(columns={'Home Score': 'home_score', 'Away Score': 'away_score'})

### Rename teams so they are compatable with the team names currently existing in the database

In [41]:
#Get team names from the database
team_query = pd.read_sql_query('''
    SELECT * 
    FROM Teams;
''', mydb)
teams_df = pd.DataFrame(team_query)
teams_df

,id,official_name,nickname,abbreviation,logo_image,url
0,1,Brisbane,Broncos,BRI,None,https://www.broncos.com.au
1,2,Canberra,Raiders,CBR,None,https://www.raiders.com.au
2,3,Canterbury-Bankstown,Bulldogs,CBY,None,https://www.bulldogs.com.au
3,4,Cronulla-Sutherland,Sharks,CRO,None,https://www.sharks.com.au
4,5,Gold Coast,Titans,GLD,None,https://www.titans.com.au
5,6,Manly Warringah,Sea Eagles,MAN,None,https://www.seaeagles.com.au
6,7,Melbourne,Storm,MEL,None,https://www.melbournestorm.com.au
7,8,Newcastle,Knights,NEW,None,https://www.newcastleknights.com.au
8,9,New Zealand,Warriors,WAR,None,https://www.warriors.kiwi
9,10,North Queensland,Cowboys,NQL,None,https://www.cowboys.com.au
10,11,Parramatta,Eels,PAR,None,https://www.parraeels.com.au
11,12,Penrith,Panthers,PEN,None,https://www.penrithpanthers.com.au
12,13,South Sydney,Rabbitohs,SOU,None,https://www.rabbitohs.com.au
13,14,St. George Illawarra,Dragons,STI,None,https://www.dragons.com.au
14,15,Sydney,Roosters,SYD,None,https://www.roosters.com.au
15,16,Wests,Tigers,WST,None,https://www.weststigers.com.au

In [42]:
#Get team names from our dataframe to be uploaded
print(list(data['Home Team'].unique()))
print(list(data['Away Team'].unique()))

['Sydney Roosters', 'Canberra Raiders', 'Melbourne Storm', 'South Sydney Rabbitohs', 'Parramatta Eels', 'Manly Sea Eagles', 'Penrith Panthers', 'Wests Tigers', 'Gold Coast Titans', 'Canterbury Bulldogs', 'St George Dragons', 'Cronulla Sharks', 'Newcastle Knights', 'Brisbane Broncos', 'New Zealand Warriors', 'North QLD Cowboys', 'Manly-Warringah Sea Eagles', 'Canterbury-Bankstown Bulldogs', 'Cronulla-Sutherland Sharks', 'North Queensland Cowboys', 'St. George Illawarra Dragons']
['Canberra Raiders', 'Melbourne Storm', 'South Sydney Rabbitohs', 'Parramatta Eels', 'Manly Sea Eagles', 'Brisbane Broncos', 'Cronulla Sharks', 'Newcastle Knights', 'St George Dragons', 'New Zealand Warriors', 'North QLD Cowboys', 'Sydney Roosters', 'Wests Tigers', 'Penrith Panthers', 'Gold Coast Titans', 'Canterbury Bulldogs', 'Manly-Warringah Sea Eagles', 'Cronulla-Sutherland Sharks', 'North Queensland Cowboys', 'Canterbury-Bankstown Bulldogs', 'St. George Illawarra Dragons']

In [43]:
#Rename teams in our data so they match the team names currently stored in the database
for t in ['Home Team', 'Away Team']:
    data.loc[data[t] == 'North QLD Cowboys', t] = 'North Queensland Cowboys'
    data.loc[data[t] == 'Manly Sea Eagles', t] = 'Manly Warringah Sea Eagles'
    data.loc[data[t] == 'Canterbury Bulldogs', t] = 'Canterbury-Bankstown Bulldogs'
    data.loc[data[t] == 'St George Dragons', t] = 'St. George Illawarra Dragons'
    data.loc[data[t] == 'Manly-Warringah Sea Eagles', t] = 'Manly Warringah Sea Eagles'
    data.loc[data[t] == 'Cronulla Sharks', t] = 'Cronulla-Sutherland Sharks'

In [44]:
#Test to make sure rows were properly updated
print(len(list(data['Home Team'].unique())))
print(len(list(data['Away Team'].unique())))

16
16

In [45]:
#Add team id's to the upload df by:
# 1. Create home_team_df and away_team_df which contains team name as primary key and team_id
team_name_query = pd.read_sql_query('''
    SELECT id,
        CONCAT(official_name, ' ', nickname) 'Home Team',
        CONCAT(official_name, ' ', nickname) 'Away Team'
    FROM Teams;
''', mydb)
team_name_df = pd.DataFrame(team_name_query)
home_team_name_df = team_name_df[['id', 'Home Team']]
away_team_name_df = team_name_df[['id', 'Away Team']]

# 2. Merge these df's with the upload df on the team name
data_with_team_ids = pd.merge(data, home_team_name_df, how='left', on='Home Team')
data_with_team_ids = pd.merge(data_with_team_ids, away_team_name_df, how='left', on='Away Team')
data_with_team_ids = data_with_team_ids.rename(columns={'id_x': 'home_team_id', 'id_y': 'away_team_id'})
data_with_team_ids.head()

,Date,Kick-off (local),Home Team,Away Team,home_score,away_score,Play Off Game?,Home Odds,Draw Odds,Away Odds,home_team_id,away_team_id
0,06-Oct-19,19:30,Sydney Roosters,Canberra Raiders,14,8,Y,\t1.35,\t18.92,\t3.45,15,2
1,28-Sep-19,19:50,Sydney Roosters,Melbourne Storm,14,6,Y,\t1.59,\t19.04,\t2.48,15,7
2,27-Sep-19,19:50,Canberra Raiders,South Sydney Rabbitohs,16,10,Y,\t1.39,\t20.38,\t3.21,2,13
3,21-Sep-19,19:50,Melbourne Storm,Parramatta Eels,32,0,Y,\t1.35,\t21.14,\t3.36,7,11
4,20-Sep-19,19:50,South Sydney Rabbitohs,Manly Warringah Sea Eagles,34,26,Y,\t1.41,\t20.94,\t3.09,13,6

### Clean up remaining columns

In [46]:
#Clean up Odds columns
for col in ['Home Odds', 'Away Odds', 'Draw Odds']:
    data_with_team_ids[col] = data_with_team_ids[col].str.replace('\t', '')
    data_with_team_ids[col] = pd.to_numeric(data_with_team_ids[col])
    data_with_team_ids[col] = 1 / data_with_team_ids[col]

data = data_with_team_ids
data.head()

,Date,Kick-off (local),Home Team,Away Team,home_score,away_score,Play Off Game?,Home Odds,Draw Odds,Away Odds,home_team_id,away_team_id
0,06-Oct-19,19:30,Sydney Roosters,Canberra Raiders,14,8,Y,0.740741,0.052854,0.289855,15,2
1,28-Sep-19,19:50,Sydney Roosters,Melbourne Storm,14,6,Y,0.628931,0.052521,0.403226,15,7
2,27-Sep-19,19:50,Canberra Raiders,South Sydney Rabbitohs,16,10,Y,0.719424,0.049068,0.311526,2,13
3,21-Sep-19,19:50,Melbourne Storm,Parramatta Eels,32,0,Y,0.740741,0.047304,0.297619,7,11
4,20-Sep-19,19:50,South Sydney Rabbitohs,Manly Warringah Sea Eagles,34,26,Y,0.709220,0.047755,0.323625,13,6

In [47]:
data['Date'] = data['Date'] + ' ' + data["Kick-off (local)"]

In [48]:
#Convert date column to datetime

#Commented out to check format of date column
#data['Date'] = data['Date'] + ' ' + data["Kick-off (local)"]

def convert_to_datetime(date_string):
    try:
        return datetime.strptime(date_string, '%d-%b-%y %H:%M')
    except:
        day = date_string.split(' ')[0]
        return datetime.strptime(day, '%d-%b-%y')
data['Date'] = data['Date'].apply(lambda x: convert_to_datetime(x))

data.dtypes

Date                datetime64[ns]
Kick-off (local)            object
Home Team                   object
Away Team                   object
home_score                  object
away_score                  object
Play Off Game?              object
Home Odds                  float64
Draw Odds                  float64
Away Odds                  float64
home_team_id                 int64
away_team_id                 int64
dtype: object

In [49]:
#Drop this column...not to be inserted
data = data.drop(columns="Kick-off (local)")
data.head()

,Date,Home Team,Away Team,home_score,away_score,Play Off Game?,Home Odds,Draw Odds,Away Odds,home_team_id,away_team_id
0,2019-10-06 19:30:00,Sydney Roosters,Canberra Raiders,14,8,Y,0.740741,0.052854,0.289855,15,2
1,2019-09-28 19:50:00,Sydney Roosters,Melbourne Storm,14,6,Y,0.628931,0.052521,0.403226,15,7
2,2019-09-27 19:50:00,Canberra Raiders,South Sydney Rabbitohs,16,10,Y,0.719424,0.049068,0.311526,2,13
3,2019-09-21 19:50:00,Melbourne Storm,Parramatta Eels,32,0,Y,0.740741,0.047304,0.297619,7,11
4,2019-09-20 19:50:00,South Sydney Rabbitohs,Manly Warringah Sea Eagles,34,26,Y,0.709220,0.047755,0.323625,13,6

In [50]:
#Create boolean column for play-off games
data['Play Off Game?'].value_counts()
data['Play Off Game?'] = data['Play Off Game?'].apply(lambda x: True if x == 'Y' else False)
data['Play Off Game?'].value_counts()

False    2112
True       99
Name: Play Off Game?, dtype: int64

In [51]:
#Remove data from before 2013
data = data[data['Date'].dt.year >= 2013]
#data.head()

In [52]:
#Rename columns so they are compatible with the database
data = data.rename(columns={'Date': 'date',
                            'Play Off Game?': 'is_playoff',
                            'Home Odds': 'home_odds',
                            'Draw Odds': 'draw_odds',
                            'Away Odds': 'away_odds'})
#data.head()

In [53]:
#Create columns to indicate winning team_id and boolean to indicate if match was a tie
data['winner'] = 0
data['is_draw'] = False

#Update column datatypes
for col in ['winner', 'is_draw', 'home_score', 'away_score']:
    data[col] = data[col].astype(int)

def update_winner(match):
    if match['home_score'] > match['away_score']:
        return match['home_team_id']
    elif match['home_score'] < match['away_score']:
        return match['away_team_id']
    else:
        return 0
    
def find_draws(match):
    if match['winner'] == 0:
        return True
    else:
        return False

data['winner'] = data.apply(lambda x: update_winner(x), axis = 1)
data['is_draw'] = data.apply(lambda x: find_draws(x), axis = 1)
#data.tail(15)

## Adding Rounds to data

Eventually, I will need to generate a URL for each match for the purposes of scraping. Each match URL contains the "round" of the match (similar to weeks in the NFL seson). Below is the process for associating each match with its specified round.

In [54]:
#Import in a JSON file I creted with information about rounds and bye weeks for each season
import json
bye_weeks = pd.read_json('bye_weeks.json')
bye_weeks['items']

0    {'season': 2013, 'rounds': 26, 'exceptions': {...
1    {'season': 2014, 'rounds': 26, 'exceptions': {...
2    {'season': 2015, 'rounds': 26, 'exceptions': {...
3    {'season': 2016, 'rounds': 26, 'exceptions': {...
4    {'season': 2017, 'rounds': 26, 'exceptions': {...
5    {'season': 2018, 'rounds': 25, 'exceptions': {...
6    {'season': 2019, 'rounds': 25, 'exceptions': {...
7    {'season': 2020, 'rounds': 25, 'exceptions': {...
Name: items, dtype: object

In [55]:
#Crete a dictionary of match information for each season
matches_by_year = dict.fromkeys(list(data['date'].dt.year.unique()), [])
for year in matches_by_year.keys():
    matches_by_year[year] = data[data['date'].dt.year == year].sort_values(by='date').reset_index()
#matches_by_year[2013]

In [56]:
#Remove JSON node for the 2020 season as no matches have been played yet at the time of writing this
bye_weeks['items'].pop(7)

{'season': 2020, 'rounds': 25, 'exceptions': {'12': 4, '16': 4}}

In [57]:
match_round_columns = dict.fromkeys(list(data['date'].dt.year.unique()), [])

#Go through each season's node in the JSON file
for item in bye_weeks['items']:
    season = item['season']
    rounds = item['rounds']
    
    #Each round normally has 8 matches. The 'exceptions' node indicates matches with less than 8 matches...indicting some teams didn't play this round
    exception_dict = item['exceptions']
    exception_rounds = list(item['exceptions'].keys())
    exception_matches = list(item['exceptions'].values())
    
    #Create a blank list to be appended with the round of each match in chronological order
    round_list = []
    for i in range(1, rounds+1):
        if str(i) not in exception_rounds:
            for each in range(1,9):
                round_list.append(i)
        else:
            range_ending = exception_dict[str(i)] + 1
            for each in range(1, range_ending):
                round_list.append(i)
    
    #After looping through the JSON, append entries to round_list indicating there was a play-off match
    for i in range(1,5):
        round_list.append('finals-week-1')
    for i in range(1,3):
        round_list.append('finals-week-2')
    for i in range(1,3):
        round_list.append('finals-week-3')
    round_list.append('grand-final')
    #Associate each round_list with its corresponding season
    match_round_columns[season] = round_list
    
print(match_round_columns[2018])

[1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 'finals-week-1', 'finals-week-1', 'finals-week-1', 'finals-week-1', 'finals-week-2', 'finals-week-2', 'finals-week-3', 'finals-week-3', 'grand-final']

In [58]:
#Add the round_list to its corresponding year
for year in matches_by_year.keys():
    #df = matches_by_year[year]
    round_column = pd.Series(match_round_columns[year])
    matches_by_year[year]['round'] = round_column

### Put together the scarping URLs for each match

In [60]:
def format_team_name(team):
    #print(team.split(' ')[-1].lower().strip())
    if team == 'Manly Warringah Sea Eagles':
        team = 'sea-eagles'
    elif team == 'Wests Tigers':
        team = 'wests-tigers'
    else:
        team = team.split(' ')[-1].lower().strip()
    return team
    
def create_url_column(match):
    home_team = format_team_name(match['Home Team'])
    away_team = format_team_name(match['Away Team'])
    year = str(match['date'].year)
    #print(match.iloc)
    try:
        match_round = 'round-' + str(int(match['round']))
    except:
        match_round = match['round']
    if year == '2019':
        vs = '-v-'
    else:
        vs = '-vs-'
    
    url = 'https://www.nrl.com/draw/nrl-premiership/' + year + '/' + match_round + '/' + home_team + vs + away_team + '/'
    return url

#Create a url for each match from which we will eventually scrape data
for year in matches_by_year.keys():
    year_df = matches_by_year[year]
    year_df['url'] = year_df.apply(lambda x: create_url_column(x), axis = 1)
    
#matches_by_year[2018].head()

### Add betting odds to our data

In [61]:
match_df = pd.concat(matches_by_year.values(), ignore_index=True)
for col in ['home_odds', 'draw_odds', 'away_odds']:
    match_df[col] = match_df[col].round(4)
match_df = match_df
#match_df

## Insert match data into database

In [34]:
find_match_id_sql ='''
    SELECT id 
    FROM Matches
    WHERE home_team_id = %s
        AND away_team_id = %s
        AND DATE(date) = %s;
    '''
insert_sql = '''
            INSERT INTO Matches (date, round, home_team_id, home_score, away_team_id, away_score, 
                winner, is_draw, url, home_odds, draw_odds, away_odds, is_playoff)
            VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
            '''
update_sql = '''
            UPDATE Matches SET home_odds = %s, 
                draw_odds = %s,
                away_odds = %s,
                is_playoff = False
            WHERE id = %s;
            '''

In [37]:
#Add each match to the database
for match in match_df.iterrows():
    match = match[1]
    if match['is_playoff'] == True:
        match['round'] = None
    try:
        mycursor.execute(find_match_id_sql, (match['home_team_id'], match['away_team_id'], match['date'].date()))
        match_id = mycursor.fetchone()[0]
        mycursor.execute(update_sql, (match['home_odds'], match['draw_odds'], match['away_odds'], match_id))
        mydb.commit()
    except:
        mycursor.execute(insert_sql, (match['date'], match['round'], match['home_team_id'], match['home_score'],
                                     match['away_team_id'], match['away_score'], match['winner'], match['is_draw'],
                                     match['url'], match['home_odds'], match['draw_odds'], match['away_odds'], match['is_playoff']))
        mydb.commit()

In [44]:
mycursor.close()

True