In [1]:
import csv
import pandas as pd
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [2]:
csv_name = ('../../scraping/scraper_py/csv_files/2018_data.csv')

open_file = open(csv_name)
read_file = list(csv.reader(open_file))

In [3]:
stat_df = pd.read_csv('../../scraping/scraper_py/csv_files/2018_data.csv', index_col='index').drop(columns='Unnamed: 0')
stat_df.head()

,player_id,team_id,match_id,number,position,minutes_played,points,tries,conversions,conversion_attempts,...,kicked_dead,errors,handling_errors,one_on_ones_lost,penalties,on_report,sin_bins,send_offs,stint_one,stint_two
index,,,,,,,,,,,,,,,,,,,,,
Billy_Slater_7,568.0,7,462,1,Fullback,80:00,0,0,0,0,...,0,1,1,0,0,0,0,0,80:00,0
Suliasi_Vunivalu_7,185.0,7,462,2,Winger,80:00,8,2,0,0,...,0,2,1,0,0,0,0,0,80:00,0
Cheyse_Blair_7,623.0,7,462,3,Centre,80:00,8,2,0,0,...,0,0,0,0,0,0,0,0,80:00,0
Curtis_Scott_7,177.0,7,462,4,Centre,80:00,4,1,0,0,...,0,0,0,0,1,0,0,0,80:00,0
Josh_Addo-carr_7,179.0,7,462,5,Winger,80:00,0,0,0,0,...,0,3,3,0,1,0,0,0,80:00,0

In [4]:
def find_position_id(name):
    find_position_query = 'SELECT id FROM Positions WHERE position_name = %s;'
    mycursor.execute(find_position_query, (name,))
    return mycursor.fetchone()[0]

In [5]:
for column in ['conversion_percentage', 'tackle_percentage']:
    stat_df[column] = stat_df[column].str.replace('%', '').astype('float') / 100
    stat_df[column] = stat_df[column].round(3)
stat_df['average_play_the_ball_seconds'] = stat_df['average_play_the_ball_seconds'].str.replace('s', '').astype('float')
stat_df['position_id'] = stat_df['position'].apply(find_position_id)
stat_df.head()

,player_id,team_id,match_id,number,position,minutes_played,points,tries,conversions,conversion_attempts,...,errors,handling_errors,one_on_ones_lost,penalties,on_report,sin_bins,send_offs,stint_one,stint_two,position_id
index,,,,,,,,,,,,,,,,,,,,,
Billy_Slater_7,568.0,7,462,1,Fullback,80:00,0,0,0,0,...,1,1,0,0,0,0,0,80:00,0,1
Suliasi_Vunivalu_7,185.0,7,462,2,Winger,80:00,8,2,0,0,...,2,1,0,0,0,0,0,80:00,0,2
Cheyse_Blair_7,623.0,7,462,3,Centre,80:00,8,2,0,0,...,0,0,0,0,0,0,0,80:00,0,3
Curtis_Scott_7,177.0,7,462,4,Centre,80:00,4,1,0,0,...,0,0,0,1,0,0,0,80:00,0,3
Josh_Addo-carr_7,179.0,7,462,5,Winger,80:00,0,0,0,0,...,3,3,0,1,0,0,0,80:00,0,2

In [6]:
def convert_time_columns_to_numeric(x):
    x = x.split(':')
    minutes = x[0]
    try:
        seconds = x[1]
    except:
        seconds = 0
    return round(((int(minutes) * 60) + int(seconds)) / 60, 2)
    
for column in ['minutes_played', 'stint_one', 'stint_two']:
    stat_df[column] = stat_df[column].apply(lambda x: convert_time_columns_to_numeric(x))

In [7]:
stat_df['player_id'] = stat_df['player_id'].astype('int')

In [8]:
stat_df.head()

,player_id,team_id,match_id,number,position,minutes_played,points,tries,conversions,conversion_attempts,...,errors,handling_errors,one_on_ones_lost,penalties,on_report,sin_bins,send_offs,stint_one,stint_two,position_id
index,,,,,,,,,,,,,,,,,,,,,
Billy_Slater_7,568,7,462,1,Fullback,80.0,0,0,0,0,...,1,1,0,0,0,0,0,80.0,0.0,1
Suliasi_Vunivalu_7,185,7,462,2,Winger,80.0,8,2,0,0,...,2,1,0,0,0,0,0,80.0,0.0,2
Cheyse_Blair_7,623,7,462,3,Centre,80.0,8,2,0,0,...,0,0,0,0,0,0,0,80.0,0.0,3
Curtis_Scott_7,177,7,462,4,Centre,80.0,4,1,0,0,...,0,0,0,1,0,0,0,80.0,0.0,3
Josh_Addo-carr_7,179,7,462,5,Winger,80.0,0,0,0,0,...,3,3,0,1,0,0,0,80.0,0.0,2

In [ ]:
insert_query = '''INSERT INTO PlayerMatchStats (match_id, player_id, team_id, position_id, minutes_played,
    points, tries, conversions, conversion_attempts, penalty_goals,
    conversion_percentage, field_goals, total_runs, total_run_metres, kick_return_metres,
    post_contact_metres, line_breaks, line_break_assists, try_assists, line_engaged_runs,
    tackle_breaks, hit_ups, play_the_ball, average_play_ball_seconds, dummy_half_runs,
    dummy_half_run_metres, steals, offloads, dummy_passes, passes,
    receipts, pass_to_run_ratio, tackle_percentage, tackles_made, tackles_missed, ineffective_tackles,
    intercepts, kicks_defused, kicks, kicking_metres, forced_drop_outs,
    bomb_kicks, grubbers, fourty_twenty, cross_field_kicks, kicked_dead,
    errors, handling_errors, one_on_ones_lost, penalties, on_report,
    sin_bins, send_offs, stint_one, stint_two)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
    %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    '''

In [15]:
for row in stat_df.iterrows():
    r = row[1]
    insert_tuple = (r['match_id'],
r['player_id'],
r['team_id'],
r['position_id'],
r['minutes_played'],
r['points'],
r['tries'],
r['conversions'],
r['conversion_attempts'],
r['penalty_goals'],
r['conversion_percentage'],
r['field_goals'],
r['total_runs'],
r['total_run_metres'],
r['kick_return_metres'],
r['post_contact_metres'],
r['line_breaks'],
r['line_break_assists'],
r['try_assists'],
r['line_engaged_runs'],
r['tackle_breaks'],
r['hit_ups'],
r['play_the_ball'],
r['average_play_the_ball_seconds'],
r['dummy_half_runs'],
r['dummy_half_run_metres'],
r['steals'],
r['offloads'],
r['dummy_passes'],
r['passes'],
r['receipts'],
r['pass_to_run_ratio'],
r['tackle_percentage'],
r['tackles_made'],
r['tackles_missed'],
r['ineffective_tackles'],
r['intercepts'],
r['kicks_defused'],
r['kicks'],
r['kicking_metres'],
r['forced_drop_outs'],
r['bomb_kicks'],
r['grubbers'],
r['fourty_twenty'],
r['cross_field_kicks'],
r['kicked_dead'],
r['errors'],
r['handling_errors'],
r['one_on_ones_lost'],
r['penalties'],
r['on_report'],
r['sin_bins'],
r['send_offs'],
r['stint_one'],
r['stint_two'])
    print(row[0])
    try:
        mycursor.execute(insert_query, insert_tuple)
        mydb.commit()
        print('success!')
    except:
        print('error: ' + str(row[0]) + ' match_id = ' + str(r['match_id']))

Billy_Slater_7
Suliasi_Vunivalu_7
Cheyse_Blair_7
Curtis_Scott_7
Josh_Addo-carr_7
Cameron_Munster_7
Jesse_Bromwich_7
Cameron_Smith_7
Tim_Glasby_7
Felise_Kaufusi_7
Joe_Stimson_7
Dale_Finucane_7
Brandon_Smith_7
Christian_Welch_7
Kenneath_Bromwich_7
Brodie_Croft_7
Sam_Kasiano_7
Alex_Johnston_13
Campbell_Graham_13
Greg_Inglis_13
Dane_Gagai_13
Robert_Jennings_13
Cody_Walker_13
Adam_Reynolds_13
Thomas_Burgess_13
Damien_Cook_13
George_Burgess_13
John_Sutton_13
Angus_Crichton_13
Sam_Burgess_13
Hymel_Hunt_13
Cameron_Murray_13
Jason_Clark_13
Dean_Britt_13
Dallin_Watene-zelezniak_12
Josh_Mansour_12
Waqa_Blake_12
Tyrone_Peachey_12
Christian_Crichton_12
James_Maloney_12
Nathan_Cleary_12
Trent_Merrin_12
Sione_Katoa_12
Reagan_Campbell-gillard_12
Viliame_Kikau_12
Isaah_Yeo_12
James_Fisher-harris_12
Tyrone_May_12
Moses_Leota_12
Corey_Harawira-naera_12
James_Tamou_12
Roger_Tuivasa-sheck_9
David_Fusitu'a_9
Peta_Hiku_9
Solomone_Kata_9
Ken_Maumalo_9
Blake_Green_9
Shaun_Johnson_9
James_Gavet_9
Issac_Luke_9
Agnatius_Paasi_9
Adam_Blair_9
Tohu_Harris_9
Simon_Mannering_9
Jazz_Tevaga_9
Isaiah_Papali'i_9
Bunty_Afoa_9
Gerard_Beale_9
James_Tedesco_15
Daniel_Tupou_15
Latrell_Mitchell_15
Joseph_Manu_15
Blake_Ferguson_15
Luke_Keary_15
Cooper_Cronk_15
Jared_Waerea-hargreaves_15
Jake_Friend_15
Siosiua_Taukeiaho_15
Boyd_Cordner_15
Isaac_Liu_15
Victor_Radley_15
Lindsay_Collins_15
Zane_Tetevano_15
Mitchell_Aubusson_15
Ryan_Matterson_15
Valentine_Holmes_4
Sosaia_Feki_4
Josh_Dugan_4
Ricky_Leutele_4
Edrick_Lee_4
Matt_Moylan_4
Chad_Townsend_4
Andrew_Fifita_4
Jayden_Brailey_4
Matt_Prior_4
Luke_Lewis_4
Wade_Graham_4
Paul_Gallen_4
James_Segeyaro_4
Aaron_Woods_4
Jayson_Bukuya_4
Scott_Sorensen_4
Darius_Boyd_1
Corey_Oates_1
James_Roberts_1
Jordan_Kahu_1
Jamayne_Isaako_1
Anthony_Milford_1
Kodi_Nikorima_1
Matthew_Lodge_1
Andrew_Mccullough_1
Sam_Thaiday_1
Tevita_Pangai Junior_1
Josh_Mcguire_1
Patrick_Mago_1
Joe_Ofahengaue_1
Korbin_Sims_1
David_Fifita_1
Kotoni_Staggs_1
Matthew_Dufty_14
Nene_Macdonald_14
Zac_Lomax_14
Timoteo_Lafai_14
Jordan_Pereira_14
Gareth_Widdop_14
Ben_Hunt_14
James_Graham_14
Cameron_Mcinnes_14
Leeson_Ah Mau_14
Tyson_Frizell_14
Tariq_Sims_14
Jack_De Belin_14
Jeremy_Latimore_14
Kurt_Mann_14
Blake_Lawrie_14
Luciano_Leilua_14
James_Tedesco_15
Daniel_Tupou_15
Latrell_Mitchell_15
Joseph_Manu_15
Blake_Ferguson_15
Luke_Keary_15
Mitchell_Aubusson_15
Jared_Waerea-hargreaves_15
Jake_Friend_15
Siosiua_Taukeiaho_15
Boyd_Cordner_15
Isaac_Liu_15
Victor_Radley_15
Dylan_Napa_15
Zane_Tetevano_15
Ryan_Matterson_15
Cooper_Cronk_15
Billy_Slater_7
Suliasi_Vunivalu_7
Will_Chambers_7
Curtis_Scott_7
Josh_Addo-carr_7
Cameron_Munster_7
Brodie_Croft_7
Jesse_Bromwich_7
Cameron_Smith_7
Tim_Glasby_7
Felise_Kaufusi_7
Joe_Stimson_7
Dale_Finucane_7
Kenneath_Bromwich_7
Christian_Welch_7
Brandon_Smith_7
Nelson_Asofa-solomona_7