# Predicting Match Outcomes

In [7]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd
import datetime

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [9]:
query = pd.read_sql_query('''
    SELECT * 
    FROM TeamMatchStats
''', mydb)

In [10]:
match_stat_df = pd.DataFrame(query)

In [11]:
match_stat_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,prop_1,prop_2,hooker,sr_1,sr_2,lock_1,int_1,int_2,int_3,int_4
0,1,1,14,1,1,34,5,4,3,0.8000,...,404,396,391,407,406,483,1626,402,397,219
1,2,1,1,14,0,12,2,1,1,0.5000,...,11,500,499,2,10,269,3,400,9,1624
2,3,2,8,6,1,19,3,3,0,1.0000,...,192,503,201,196,188,197,190,429,194,505
3,4,2,6,8,0,18,3,2,1,0.6667,...,510,509,153,511,155,512,516,309,513,327
4,5,3,10,4,1,20,4,1,1,0.2500,...,268,272,265,264,375,266,260,276,267,261

# Prediction Algorithm

Things to try:
1. Want to create scoring function (sklearn.metrics import f1_score, make_scorer, classification_report)

2. Random Forest
3. Neural Network (10-3-2)

Features to try:
- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- Tackle Percentages
- Factor in the strength of opposition

In [12]:
correlation_df = match_stat_df
col = list(match_stat_df.columns)[35:52]
correlation_df = match_stat_df.drop(col, axis=1)
correlation_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,ineffective_tackles,tackle_percentage,kicks,kicking_metres,metres_per_kick,errors,handling_errors,penalties,sin_bins,send_offs
0,1,1,14,1,1,34,5,4,3,0.8000,...,14,0.8881,17,478,28.1176,10,9,7,0,0
1,2,1,1,14,0,12,2,1,1,0.5000,...,15,0.8715,14,382,27.2857,13,11,9,0,0
2,3,2,8,6,1,19,3,3,0,1.0000,...,27,0.8465,21,538,25.6190,6,6,9,0,0
3,4,2,6,8,0,18,3,2,1,0.6667,...,5,0.8883,13,284,21.8462,16,10,11,0,0
4,5,3,10,4,1,20,4,1,1,0.2500,...,19,0.8774,13,252,19.3846,15,10,6,0,0

In [13]:
correlation_df = correlation_df.drop(columns=['line_engaged_runs'])

In [14]:
import seaborn as sns
corr = correlation_df.corr()
corr['is_winner']
stats = corr[(corr['is_winner'] > .2) | (corr['is_winner'] < -.2)]
stats['is_winner']
#corr.style.background_gradient(cmap='coolwarm')

is_winner              1.000000
points                 0.616395
tries                  0.563085
conversions            0.495853
penalty_goals          0.331492
field_goals            0.213446
runs                   0.291058
run_metres             0.387814
kick_return_metres     0.257286
post_contact_metres    0.253308
line_breaks            0.372330
tackle_breaks          0.291125
hit_ups                0.295609
tackles               -0.330251
missed_tackles        -0.290167
kicks                  0.236040
kicking_metres         0.247338
errors                -0.236594
handling_errors       -0.203090
Name: is_winner, dtype: float64

Columns to take into consideration
From highly correlated stats:

- points (allowed)
- tries (allowed)
- penalty_goals
- run_metres (allowed)
- runs
- runs_per_metre (allowed)
- line_breaks (allowed)
- tackle_breaks
- tackles (allowed)
- missed_tackles
- kicking_metres
- errors

In [15]:
prediction_columns = ['id', 'match_id', 'team_id', 'opponent_id', 'is_winner', 'points', 'tries', 'penalty_goals',
                     'run_metres', 'runs', 'line_breaks', 'tackle_breaks', 'tackles', 'missed_tackles',
                     'kicking_metres', 'errors']
predictions_df = match_stat_df[prediction_columns]
predictions_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,line_breaks,tackle_breaks,tackles,missed_tackles,kicking_metres,errors
0,1,1,14,1,1,34,5,3,1618,168,5,35,238,16,478,10
1,2,1,1,14,0,12,2,1,1076,130,2,16,339,35,382,13
2,3,2,8,6,1,19,3,0,1425,192,3,41,342,35,538,6
3,4,2,6,8,0,18,3,1,1648,178,4,35,366,41,284,16
4,5,3,10,4,1,20,4,1,1348,165,3,37,272,19,252,15

columns to create

- tackle_percentage
- metres_per_run

- point_differential
- run_metre differential
- 

- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- line_breaks last X matches
- errors last X matches
- Tackle Percentages
- Strength of opposition metric

In [22]:
columns = [*predictions_df.columns.tolist(),'point_diff', 'run_metre_diff', 'points_allowed', 'run_metres_allowed', 'line_breaks_allowed']
predictions_df = predictions_df.reindex(columns=columns, fill_value=0)
#print(predictions_df)

for match in list(predictions_df['match_id'].unique()):
    match_df = predictions_df[predictions_df['match_id'] == match]
    #print(match_df)
    for team in list(match_df['team_id']):
        team_data = match_df[match_df['team_id'] == team]
        opp_data = match_df[match_df['team_id'] != team]
        point_diff = team_data['points'].iloc[0] - opp_data['points'].iloc[0]
        run_metre_diff = team_data['run_metres'].iloc[0] - opp_data['run_metres'].iloc[0]
        points_allowed = opp_data['points'].iloc[0]
        run_metres_allowed = opp_data['run_metres'].iloc[0]
        line_breaks_allowed = opp_data['line_breaks'].iloc[0]
        
        predictions_df.loc[team_data.index, 'point_diff'] = point_diff
        predictions_df.loc[team_data.index, 'run_metre_diff'] = run_metre_diff
        predictions_df.loc[team_data.index, 'points_allowed'] = points_allowed
        predictions_df.loc[team_data.index, 'run_metres_allowed'] = run_metres_allowed
        predictions_df.loc[team_data.index, 'line_breaks_allowed'] = line_breaks_allowed
        
predictions_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,...,tackle_breaks,tackles,missed_tackles,kicking_metres,errors,point_diff,run_metre_diff,points_allowed,run_metres_allowed,line_breaks_allowed
0,1,1,14,1,1,34,5,3,1618,168,...,35,238,16,478,10,22,542,12,1076,2
1,2,1,1,14,0,12,2,1,1076,130,...,16,339,35,382,13,-22,-542,34,1618,5
2,3,2,8,6,1,19,3,0,1425,192,...,41,342,35,538,6,1,-223,18,1648,4
3,4,2,6,8,0,18,3,1,1648,178,...,35,366,41,284,16,-1,223,19,1425,3
4,5,3,10,4,1,20,4,1,1348,165,...,37,272,19,252,15,6,204,14,1144,1

In [23]:
def compute_past_x_match_avg(x, stat, data):
    x_match_avg = []
    for index in range(len(data)):
        if index <= (x - 1):
            start = 0
        else:
            start = (index - x)
        past_x_matches = data.iloc[start : index]
        avg = past_x_matches[stat].mean()
        x_match_avg.append(avg)
    new_column = 'avg_' + stat + '_' + str(x) + '_matches'
    return pd.Series(x_match_avg).values
        
columns = predictions_df.columns.tolist()
for stat in ['is_winner', 'points', 'points_allowed', 'point_diff', 'run_metre_diff', 'line_breaks', 'errors']:
    columns.append('avg_' + stat + '_' + str(5) + '_matches')
#columns = [*predictions_df.columns.tolist(), new_columns]
#print(columns)
predictions_df = predictions_df.reindex(columns=columns, fill_value=0)

for team in list(predictions_df['team_id'].unique()):
    team_df = predictions_df[predictions_df['team_id'] == team]
    team_df = team_df.reset_index()
    #print(team_df.head(10))
    for stat in ['is_winner', 'points', 'points_allowed', 'point_diff', 'run_metre_diff', 
                 'line_breaks', 'errors']:
        x = 5
        new_column = 'avg_' + stat + '_' + str(x) + '_matches'
        team_df[new_column] = compute_past_x_match_avg(x, stat, team_df)
    team_df = team_df.set_index('index')
    #print(team_df.head(10))
    predictions_df.loc[predictions_df['team_id'] == team] = team_df
    #print(predictions_df[predictions_df['team_id'] == team])
print(predictions_df[predictions_df['team_id'] == 12])

      id  match_id  team_id  opponent_id  is_winner  points  tries  \
12    13         7       12           11          1      24      3
24    25        13       12           13          1      18      3
35    36        18       12            3          0      18      3
49    50        25       12           10          1      33      4
79    80        40       12           11          1      12      1
92    93        47       12            5          1      35      6
111  112        56       12            4          0      22      4
120  121        61       12            3          1      22      3
132  133        67       12           10          0      20      4
147  148        74       12            8          1      29      4
160  161        81       12           16          1      16      2
186  187        94       12           14          1      28      4
201  202       101       12            2          1      23      3
221  222       111       12           15          0       6      1
238  239       120       12            6          0      10      1
250  251       126       12            9          1      36      6
256  257       129       12            4          0      12      2
277  278       139       12            1          0      18      3
295  296       148       12            6          1      28      5
318  319       160       12            2          1      40      7
327  328       164       12            5          1      17      3
342  343       172       12            8          0      12      2
355  356       178       12            9          0      16      3
373  374       187       12            7          1      22      5
396  397       199       12           11          0      12      2
409  410       205       12            8          1      16      3
426  427       214       12            7          0       2      0
436  437       219       12           16          1       9      1
451  452       226       12            5          0      24      4
465  466       233       12            4          0      20      3
486  487       244       12           13          0      18      3
503  504       252       12            2          0      12      2

     penalty_goals  run_metres  runs  ...  points_allowed  run_metres_allowed  \
12               3        1583   154  ...              14                1400
24              -1        1675   195  ...              14                1650
35               0        1541   165  ...              20                1582
49               4        1222   136  ...              14                1381
79               3        1222   147  ...               6                1225
92               1        1889   186  ...              12                1168
111              0        1575   176  ...              26                1277
120              3        1563   176  ...              14                1217
132              0        1487   168  ...              26                1483
147              2        1510   171  ...              18                1271
160              3        1763   201  ...               2                1324
186              2        1825   184  ...               2                1175
201              3        1387   167  ...              22                1219
221              0        1162   129  ...              32                1935
238              2        1255   157  ...              18                1369
250              0        1913   199  ...               4                1146
256              1        1871   202  ...              24                1523
277              0        1459   166  ...              50                1391
295              0        1453   177  ...              24                1467
318              0        1416   164  ...              31                1342
327              0        1694   200  ...              16                1520
342              0        1546   191  ...              20                1235
355              0        1374   146  ...              36                1472
373              1        1412   150  ...              16                1634
396              0        1181   144  ...              20                1548
409              0        1518   169  ...              14                1355
426              1        1252   171  ...              32                1468
436              1        1608   181  ...               8                1460
451              0        1351   154  ...              30                1540
465              1        1272   153  ...              24                1744
486              1        1881   205  ...              22                1417
503              0        1483   168  ...              30                1323

     line_breaks_allowed  avg_is_winner_5_matches  avg_points_5_matches  \
12                     5                      NaN                   NaN
24                     2                 1.000000                 24.00
35                     3                 1.000000                 21.00
49                     4                 0.666667                 20.00
79                     2                 0.750000                 23.25
92                     2                 0.800000                 21.00
111                    5                 0.800000                 23.20
120                    2                 0.600000                 24.00
132                    7                 0.800000                 24.80
147                    5                 0.600000                 22.20
160                    1                 0.600000                 25.60
186                    0                 0.600000                 21.80
201                    3                 0.800000                 23.00
221                    6                 0.800000                 23.20
238                    3                 0.800000                 20.40
250                    1                 0.600000                 16.60
256                    6                 0.600000                 20.60
277                    4                 0.400000                 17.40
295                    5                 0.200000                 16.40
318                    6                 0.400000                 20.80
327                    4                 0.600000                 26.80
342                    4                 0.600000                 23.00
355                    6                 0.600000                 23.00
373                    3                 0.600000                 22.60
396                    3                 0.600000                 21.40
409                    3                 0.400000                 15.80
426                    3                 0.400000                 15.60
436                    0                 0.400000                 13.60
451                    6                 0.600000                 12.20
465                    6                 0.400000                 12.60
486                    4                 0.400000                 14.20
503                    5                 0.200000                 14.60

     avg_points_allowed_5_matches  avg_point_diff_5_matches  \
12                            NaN                       NaN
24                           14.0                     10.00
35                           14.0                      7.00
49                           16.0                      4.00
79                           15.5                      7.75
92                           13.6                      7.40
111                          13.2                     10.00
120                          15.6                      8.40
132                          14.4                     10.40
147                          16.8                      5.40
160                          19.2                      6.40
186                          17.2                      4.60
201                          12.4                     10.60
221                          14.0                      9.20
238                          15.2                      5.20
250                          15.2                      1.40
256                          15.6                      5.00
277                          20.0                     -2.60
295                          25.6                     -9.20
318                          24.0                     -3.20
327                          26.6                      0.20
342                          29.0                     -6.00
355                          28.2                     -5.20
373                          25.4                     -2.80
396                          23.8                     -2.40
409                          21.6                     -5.80
426                          21.2                     -5.60
436                          23.6                    -10.00
451                          18.0                     -5.80
465                          20.8                     -8.20
486                          21.6                     -7.40
503                          23.2                     -8.60

     avg_run_metre_diff_5_matches  avg_line_breaks_5_matches  \
12                            NaN                        NaN
24                     183.000000                   5.000000
35                     104.000000                   4.000000
49                      55.666667                   3.666667
79                       2.000000                   3.250000
92                       1.000000                   2.800000
111                    108.600000                   3.600000
120                    163.200000                   3.800000
132                    240.600000                   4.000000
147                    273.200000                   4.400000
160                    321.600000                   4.600000
186                    265.200000                   3.600000
201                    335.600000                   4.000000
221                    300.000000                   4.000000
238                    144.600000                   3.600000
250                     74.000000                   3.400000
256                    139.600000                   4.200000
277                     79.200000                   4.600000
295                     59.200000                   5.000000
318                    211.000000                   5.600000
327                    248.600000                   7.200000
342                    130.000000                   6.600000
355                    122.600000                   5.600000
373                     89.400000                   4.800000
396                     47.800000                   4.200000
409                    -40.400000                   2.800000
426                    -42.600000                   2.200000
436                   -148.000000                   1.600000
451                    -98.800000                   1.600000
465                    -92.200000                   2.200000
486                   -113.200000                   2.400000
503                    -53.000000                   2.800000

     avg_errors_5_matches
12                    NaN
24              10.000000
35              10.500000
49               9.333333
79               8.500000
92               9.400000
111              9.200000
120              8.600000
132              9.000000
147              9.000000
160              7.400000
186              8.200000
201              8.600000
221              8.200000
238              9.800000
250             11.600000
256             10.400000
277             10.400000
295             11.400000
318             10.200000
327              9.400000
342             11.400000
355             12.200000
373             11.800000
396             11.600000
409             12.600000
426             11.800000
436             12.400000
451             13.800000
465             14.200000
486             13.000000
503             12.400000

[32 rows x 28 columns]

In [59]:
def compute_strength_of_opposition(data):
    x_match_avg = []
    for index in range(len(data)):
        if index < 7:
            start = 0
        else:
            start = (index - 7)
        past_x_days = data.iloc[start : index]

for team in list(predictions_df['team_id'].unique()):
    team_df = predictions_df[predictions_df['team_id'] == team]
    team_df = team_df.reset_index()
    for match in team_df.iterrows():
        match = match[1]
        opposition_id = match['opponent_id']
        match_id = match['match_id']
        opp_data = predictions_df.loc[(predictions_df['team_id'] == opposition_id) & (predictions_df['match_id'] == match_id)]
        opp_strength = opp_data.loc[opp_data.index.values[0], ['avg_is_winner_5_matches']].values[0]
        predictions_df.loc[int(match['index']), ['opp_strength']] = opp_strength
#print(predictions_df.head())

In [65]:
predictions_df[16:18]
#win_corr = predictions_df.corr()
#win_corr['is_winner']

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,...,run_metres_allowed,line_breaks_allowed,avg_is_winner_5_matches,avg_points_5_matches,avg_points_allowed_5_matches,avg_point_diff_5_matches,avg_run_metre_diff_5_matches,avg_line_breaks_5_matches,avg_errors_5_matches,opp_strength
16,17,9,4,14,0,16,2,2,1337,177,...,1353,1,0.0,14.0,20.0,-6.0,-204.0,1.0,14.0,1.0
17,18,9,14,4,1,20,3,2,1353,164,...,1337,2,1.0,34.0,12.0,22.0,542.0,5.0,10.0,0.0

In [ ]:
mycursor.close()