# Predicting Match Outcomes

In [1]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd
import datetime

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [3]:
query = pd.read_sql_query('''
    SELECT * 
    FROM TeamMatchStats
''', mydb)

In [4]:
match_stat_df = pd.DataFrame(query)

In [5]:
match_stat_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,prop_1,prop_2,hooker,sr_1,sr_2,lock_1,int_1,int_2,int_3,int_4
0,1,1,14,1,1,34,5,4,3,0.8000,...,404,396,391,407,406,483,1626,402,397,219
1,2,1,1,14,0,12,2,1,1,0.5000,...,11,500,499,2,10,269,3,400,9,1624
2,3,2,8,6,1,19,3,3,0,1.0000,...,192,503,201,196,188,197,190,429,194,505
3,4,2,6,8,0,18,3,2,1,0.6667,...,510,509,153,511,155,512,516,309,513,327
4,5,3,10,4,1,20,4,1,1,0.2500,...,268,272,265,264,375,266,260,276,267,261

# Prediction Algorithm

Things to try:
1. Want to create scoring function (sklearn.metrics import f1_score, make_scorer, classification_report)

2. Random Forest
3. Neural Network (10-3-2)

Features to try:
- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- Tackle Percentages
- Factor in the strength of opposition

In [6]:
correlation_df = match_stat_df
col = list(match_stat_df.columns)[35:52]
correlation_df = match_stat_df.drop(col, axis=1)
correlation_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,ineffective_tackles,tackle_percentage,kicks,kicking_metres,metres_per_kick,errors,handling_errors,penalties,sin_bins,send_offs
0,1,1,14,1,1,34,5,4,3,0.8000,...,14,0.8881,17,478,28.1176,10,9,7,0,0
1,2,1,1,14,0,12,2,1,1,0.5000,...,15,0.8715,14,382,27.2857,13,11,9,0,0
2,3,2,8,6,1,19,3,3,0,1.0000,...,27,0.8465,21,538,25.6190,6,6,9,0,0
3,4,2,6,8,0,18,3,2,1,0.6667,...,5,0.8883,13,284,21.8462,16,10,11,0,0
4,5,3,10,4,1,20,4,1,1,0.2500,...,19,0.8774,13,252,19.3846,15,10,6,0,0

In [7]:
correlation_df = correlation_df.drop(columns=['line_engaged_runs'])

In [8]:
import seaborn as sns
corr = correlation_df.corr()
corr['is_winner']
stats = corr[(corr['is_winner'] > .2) | (corr['is_winner'] < -.2)]
stats['is_winner']
#corr.style.background_gradient(cmap='coolwarm')

is_winner              1.000000
points                 0.616395
tries                  0.563085
conversions            0.495853
penalty_goals          0.331492
field_goals            0.213446
runs                   0.291058
run_metres             0.387814
kick_return_metres     0.257286
post_contact_metres    0.253308
line_breaks            0.372330
tackle_breaks          0.291125
hit_ups                0.295609
tackles               -0.330251
missed_tackles        -0.290167
kicks                  0.236040
kicking_metres         0.247338
errors                -0.236594
handling_errors       -0.203090
Name: is_winner, dtype: float64

Columns to take into consideration
From highly correlated stats:

- points
- tries
- penalty_goals
- run_metres
- runs
- line_breaks
- tackle_breaks
- tackles
- missed_tackles
- kicking_metres
- errors

In [73]:
prediction_columns = ['id', 'match_id', 'team_id', 'opponent_id', 'is_winner', 'points', 'tries', 'penalty_goals',
                     'run_metres', 'runs', 'line_breaks', 'tackle_breaks', 'tackles', 'missed_tackles',
                     'kicking_metres', 'errors']
predictions_df = match_stat_df[prediction_columns]
predictions_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,line_breaks,tackle_breaks,tackles,missed_tackles,kicking_metres,errors
0,1,1,14,1,1,34,5,3,1618,168,5,35,238,16,478,10
1,2,1,1,14,0,12,2,1,1076,130,2,16,339,35,382,13
2,3,2,8,6,1,19,3,0,1425,192,3,41,342,35,538,6
3,4,2,6,8,0,18,3,1,1648,178,4,35,366,41,284,16
4,5,3,10,4,1,20,4,1,1348,165,3,37,272,19,252,15

columns to create

- tackle_percentage
- metres_per_run

- point_differential
- run_metre differential
- 

- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- line_breaks last X matches
- errors last X matches
- Tackle Percentages
- Strength of opposition metric

In [74]:
columns = [*predictions_df.columns.tolist(),'point_diff', 'run_metre_diff', 'points_allowed', 'run_metres_allowed', 'line_breaks_allowed']
predictions_df = predictions_df.reindex(columns=columns, fill_value=0)
#print(predictions_df)

for match in list(predictions_df['match_id'].unique()):
    match_df = predictions_df[predictions_df['match_id'] == match]
    #print(match_df)
    for team in list(match_df['team_id']):
        team_data = match_df[match_df['team_id'] == team]
        opp_data = match_df[match_df['team_id'] != team]
        point_diff = team_data['points'].iloc[0] - opp_data['points'].iloc[0]
        run_metre_diff = team_data['run_metres'].iloc[0] - opp_data['run_metres'].iloc[0]
        points_allowed = opp_data['points'].iloc[0]
        run_metres_allowed = opp_data['run_metres'].iloc[0]
        line_breaks_allowed = opp_data['line_breaks'].iloc[0]
        
        predictions_df.loc[team_data.index, 'point_diff'] = point_diff
        predictions_df.loc[team_data.index, 'run_metre_diff'] = run_metre_diff
        predictions_df.loc[team_data.index, 'points_allowed'] = points_allowed
        predictions_df.loc[team_data.index, 'run_metres_allowed'] = run_metres_allowed
        predictions_df.loc[team_data.index, 'line_breaks_allowed'] = line_breaks_allowed
        
predictions_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,...,tackle_breaks,tackles,missed_tackles,kicking_metres,errors,point_diff,run_metre_diff,points_allowed,run_metres_allowed,line_breaks_allowed
0,1,1,14,1,1,34,5,3,1618,168,...,35,238,16,478,10,22,542,12,1076,2
1,2,1,1,14,0,12,2,1,1076,130,...,16,339,35,382,13,-22,-542,34,1618,5
2,3,2,8,6,1,19,3,0,1425,192,...,41,342,35,538,6,1,-223,18,1648,4
3,4,2,6,8,0,18,3,1,1648,178,...,35,366,41,284,16,-1,223,19,1425,3
4,5,3,10,4,1,20,4,1,1348,165,...,37,272,19,252,15,6,204,14,1144,1

In [75]:
def compute_past_x_match_avg(x, stat, data):
    x_match_avg = []
    for index in range(len(data)):
        if index <= (x - 1):
            start = 0
        else:
            start = (index - x)
        past_x_matches = data.iloc[start : index]
        avg = past_x_matches[stat].mean()
        x_match_avg.append(avg)
    new_column = 'avg_' + stat + '_' + str(x) + '_matches'
    return pd.Series(x_match_avg).values
        
columns = predictions_df.columns.tolist()
for stat in ['is_winner', 'points', 'points_allowed', 'point_diff', 'run_metre_diff', 'line_breaks', 'errors']:
    columns.append('avg_' + stat + '_' + str(5) + '_matches')
#columns = [*predictions_df.columns.tolist(), new_columns]
#print(columns)
predictions_df = predictions_df.reindex(columns=columns, fill_value=0)

for team in list(predictions_df['team_id'].unique()):
    team_df = predictions_df[predictions_df['team_id'] == team]
    team_df = team_df.reset_index()
    #print(team_df.head(10))
    for stat in ['is_winner', 'points', 'points_allowed', 'point_diff', 'run_metre_diff', 'line_breaks', 'errors']:
        x = 5
        new_column = 'avg_' + stat + '_' + str(x) + '_matches'
        team_df[new_column] = compute_past_x_match_avg(x, stat, team_df)
    team_df = team_df.set_index('index')
    #print(team_df.head(10))
    predictions_df.loc[predictions_df['team_id'] == team] = team_df
    #print(predictions_df[predictions_df['team_id'] == team])
print(predictions_df[predictions_df['team_id'] == 12])

      id  match_id  team_id  opponent_id  is_winner  points  tries  \
12    13         7       12           11          1      24      3
24    25        13       12           13          1      18      3
35    36        18       12            3          0      18      3
49    50        25       12           10          1      33      4
79    80        40       12           11          1      12      1
92    93        47       12            5          1      35      6
111  112        56       12            4          0      22      4
120  121        61       12            3          1      22      3
132  133        67       12           10          0      20      4
147  148        74       12            8          1      29      4
160  161        81       12           16          1      16      2
186  187        94       12           14          1      28      4
201  202       101       12            2          1      23      3
221  222       111       12           15          0       6      1
238  239       120       12            6          0      10      1
250  251       126       12            9          1      36      6
256  257       129       12            4          0      12      2
277  278       139       12            1          0      18      3
295  296       148       12            6          1      28      5
318  319       160       12            2          1      40      7
327  328       164       12            5          1      17      3
342  343       172       12            8          0      12      2
355  356       178       12            9          0      16      3
373  374       187       12            7          1      22      5
396  397       199       12           11          0      12      2
409  410       205       12            8          1      16      3
426  427       214       12            7          0       2      0
436  437       219       12           16          1       9      1
451  452       226       12            5          0      24      4
465  466       233       12            4          0      20      3
486  487       244       12           13          0      18      3
503  504       252       12            2          0      12      2

     penalty_goals  run_metres  runs  ...  points_allowed  run_metres_allowed  \
12               3        1583   154  ...              14                1400
24              -1        1675   195  ...              14                1650
35               0        1541   165  ...              20                1582
49               4        1222   136  ...              14                1381
79               3        1222   147  ...               6                1225
92               1        1889   186  ...              12                1168
111              0        1575   176  ...              26                1277
120              3        1563   176  ...              14                1217
132              0        1487   168  ...              26                1483
147              2        1510   171  ...              18                1271
160              3        1763   201  ...               2                1324
186              2        1825   184  ...               2                1175
201              3        1387   167  ...              22                1219
221              0        1162   129  ...              32                1935
238              2        1255   157  ...              18                1369
250              0        1913   199  ...               4                1146
256              1        1871   202  ...              24                1523
277              0        1459   166  ...              50                1391
295              0        1453   177  ...              24                1467
318              0        1416   164  ...              31                1342
327              0        1694   200  ...              16                1520
342              0        1546   191  ...              20                1235
355              0        1374   146  ...              36                1472
373              1        1412   150  ...              16                1634
396              0        1181   144  ...              20                1548
409              0        1518   169  ...              14                1355
426              1        1252   171  ...              32                1468
436              1        1608   181  ...               8                1460
451              0        1351   154  ...              30                1540
465              1        1272   153  ...              24                1744
486              1        1881   205  ...              22                1417
503              0        1483   168  ...              30                1323

     line_breaks_allowed  avg_is_winner_5_matches  avg_points_5_matches  \
12                     5                      NaN                   NaN
24                     2                 1.000000                 24.00
35                     3                 1.000000                 21.00
49                     4                 0.666667                 20.00
79                     2                 0.750000                 23.25
92                     2                 0.800000                 21.00
111                    5                 0.800000                 23.20
120                    2                 0.600000                 24.00
132                    7                 0.800000                 24.80
147                    5                 0.600000                 22.20
160                    1                 0.600000                 25.60
186                    0                 0.600000                 21.80
201                    3                 0.800000                 23.00
221                    6                 0.800000                 23.20
238                    3                 0.800000                 20.40
250                    1                 0.600000                 16.60
256                    6                 0.600000                 20.60
277                    4                 0.400000                 17.40
295                    5                 0.200000                 16.40
318                    6                 0.400000                 20.80
327                    4                 0.600000                 26.80
342                    4                 0.600000                 23.00
355                    6                 0.600000                 23.00
373                    3                 0.600000                 22.60
396                    3                 0.600000                 21.40
409                    3                 0.400000                 15.80
426                    3                 0.400000                 15.60
436                    0                 0.400000                 13.60
451                    6                 0.600000                 12.20
465                    6                 0.400000                 12.60
486                    4                 0.400000                 14.20
503                    5                 0.200000                 14.60

     avg_points_allowed_5_matches  avg_point_diff_5_matches  \
12                            NaN                       NaN
24                           14.0                     10.00
35                           14.0                      7.00
49                           16.0                      4.00
79                           15.5                      7.75
92                           13.6                      7.40
111                          13.2                     10.00
120                          15.6                      8.40
132                          14.4                     10.40
147                          16.8                      5.40
160                          19.2                      6.40
186                          17.2                      4.60
201                          12.4                     10.60
221                          14.0                      9.20
238                          15.2                      5.20
250                          15.2                      1.40
256                          15.6                      5.00
277                          20.0                     -2.60
295                          25.6                     -9.20
318                          24.0                     -3.20
327                          26.6                      0.20
342                          29.0                     -6.00
355                          28.2                     -5.20
373                          25.4                     -2.80
396                          23.8                     -2.40
409                          21.6                     -5.80
426                          21.2                     -5.60
436                          23.6                    -10.00
451                          18.0                     -5.80
465                          20.8                     -8.20
486                          21.6                     -7.40
503                          23.2                     -8.60

     avg_run_metre_diff_5_matches  avg_line_breaks_5_matches  \
12                            NaN                        NaN
24                     183.000000                   5.000000
35                     104.000000                   4.000000
49                      55.666667                   3.666667
79                       2.000000                   3.250000
92                       1.000000                   2.800000
111                    108.600000                   3.600000
120                    163.200000                   3.800000
132                    240.600000                   4.000000
147                    273.200000                   4.400000
160                    321.600000                   4.600000
186                    265.200000                   3.600000
201                    335.600000                   4.000000
221                    300.000000                   4.000000
238                    144.600000                   3.600000
250                     74.000000                   3.400000
256                    139.600000                   4.200000
277                     79.200000                   4.600000
295                     59.200000                   5.000000
318                    211.000000                   5.600000
327                    248.600000                   7.200000
342                    130.000000                   6.600000
355                    122.600000                   5.600000
373                     89.400000                   4.800000
396                     47.800000                   4.200000
409                    -40.400000                   2.800000
426                    -42.600000                   2.200000
436                   -148.000000                   1.600000
451                    -98.800000                   1.600000
465                    -92.200000                   2.200000
486                   -113.200000                   2.400000
503                    -53.000000                   2.800000

     avg_errors_5_matches
12                    NaN
24              10.000000
35              10.500000
49               9.333333
79               8.500000
92               9.400000
111              9.200000
120              8.600000
132              9.000000
147              9.000000
160              7.400000
186              8.200000
201              8.600000
221              8.200000
238              9.800000
250             11.600000
256             10.400000
277             10.400000
295             11.400000
318             10.200000
327              9.400000
342             11.400000
355             12.200000
373             11.800000
396             11.600000
409             12.600000
426             11.800000
436             12.400000
451             13.800000
465             14.200000
486             13.000000
503             12.400000

[32 rows x 28 columns]

In [77]:
def compute_strength_of_opposition(data):
    x_match_avg = []
    for index in range(len(data)):
        if index < 7:
            start = 0
        else:
            start = (index - 7)
        past_x_days = data.iloc[start : index]
        
for team in list(predictions_df['team_id'].unique()):
    team_df = predictions_df[predictions_df['team_id'] == team]
    team_df = team_df.reset_index()
    for match in team_df.iterrows():
        match = match[1]
        opposition_id = match['opponent_id']
        match_id = match['match_id']
        opp_data = predictions_df.loc[(predictions_df['team_id'] == opposition_id) & (predictions_df['match_id'] == match_id)]
        #print(opp_data)
        print('\n')
        print(opp_data['avg_is_winner_5_matches'])
        #print(predictions_df.loc[(predictions_df['team_id'] == opposition_id) & (predictions_df['match_id'] == match_id)])
        
        #print(opposition_id, match_id)
    #print(team_df.head(10))
#     opposition_win_percent = predictions_df[(predictions_df['match_id'] == team_df['match_id']) 
#                                             & (predictions_df['match_id'] == team_df['opponent_id'])]
#     print(opposition_win_percent)
#     for stat in ['is_winner', 'points', 'points_allowed', 'point_diff', 'run_metre_diff', 'line_breaks', 'errors']:
#         x = 5
#         new_column = 'avg_' + stat + '_' + str(x) + '_matches'
#         team_df[new_column] = compute_past_x_match_avg(x, stat, team_df)
#     team_df = team_df.set_index('index')
#     #print(team_df.head(10))
#     predictions_df.loc[predictions_df['team_id'] == team] = team_df

1   NaN
Name: avg_is_winner_5_matches, dtype: float64


16    0.0
Name: avg_is_winner_5_matches, dtype: float64


44    0.5
Name: avg_is_winner_5_matches, dtype: float64


59    0.666667
Name: avg_is_winner_5_matches, dtype: float64


69    0.5
Name: avg_is_winner_5_matches, dtype: float64


85    0.4
Name: avg_is_winner_5_matches, dtype: float64


98    0.8
Name: avg_is_winner_5_matches, dtype: float64


113    0.6
Name: avg_is_winner_5_matches, dtype: float64


141    0.6
Name: avg_is_winner_5_matches, dtype: float64


156    0.6
Name: avg_is_winner_5_matches, dtype: float64


173    0.6
Name: avg_is_winner_5_matches, dtype: float64


186    0.6
Name: avg_is_winner_5_matches, dtype: float64


214    0.2
Name: avg_is_winner_5_matches, dtype: float64


225    0.4
Name: avg_is_winner_5_matches, dtype: float64


233    0.2
Name: avg_is_winner_5_matches, dtype: float64


248    0.8
Name: avg_is_winner_5_matches, dtype: float64


269    0.2
Name: avg_is_winner_5_matches, dtype: float64


282    0.2
Name: avg_is_winner_5_matches, dtype: float64


302    0.8
Name: avg_is_winner_5_matches, dtype: float64


311    0.2
Name: avg_is_winner_5_matches, dtype: float64


330    0.4
Name: avg_is_winner_5_matches, dtype: float64


344    0.8
Name: avg_is_winner_5_matches, dtype: float64


367    0.6
Name: avg_is_winner_5_matches, dtype: float64


374    0.2
Name: avg_is_winner_5_matches, dtype: float64


394    0.6
Name: avg_is_winner_5_matches, dtype: float64


401    0.4
Name: avg_is_winner_5_matches, dtype: float64


416    0.8
Name: avg_is_winner_5_matches, dtype: float64


446    0.2
Name: avg_is_winner_5_matches, dtype: float64


461    0.2
Name: avg_is_winner_5_matches, dtype: float64


473    0.6
Name: avg_is_winner_5_matches, dtype: float64


480    1.0
Name: avg_is_winner_5_matches, dtype: float64


510    0.4
Name: avg_is_winner_5_matches, dtype: float64


0   NaN
Name: avg_is_winner_5_matches, dtype: float64


21    1.0
Name: avg_is_winner_5_matches, dtype: float64


36    1.0
Name: avg_is_winner_5_matches, dtype: float64


61    0.333333
Name: avg_is_winner_5_matches, dtype: float64


74    0.5
Name: avg_is_winner_5_matches, dtype: float64


86    1.0
Name: avg_is_winner_5_matches, dtype: float64


101    0.4
Name: avg_is_winner_5_matches, dtype: float64


116    0.8
Name: avg_is_winner_5_matches, dtype: float64


129    0.2
Name: avg_is_winner_5_matches, dtype: float64


154    0.0
Name: avg_is_winner_5_matches, dtype: float64


165    0.6
Name: avg_is_winner_5_matches, dtype: float64


177    0.4
Name: avg_is_winner_5_matches, dtype: float64


212    0.6
Name: avg_is_winner_5_matches, dtype: float64


226    0.8
Name: avg_is_winner_5_matches, dtype: float64


243    0.4
Name: avg_is_winner_5_matches, dtype: float64


254    0.6
Name: avg_is_winner_5_matches, dtype: float64


267    0.4
Name: avg_is_winner_5_matches, dtype: float64


277    0.4
Name: avg_is_winner_5_matches, dtype: float64


289    0.8
Name: avg_is_winner_5_matches, dtype: float64


304    0.4
Name: avg_is_winner_5_matches, dtype: float64


320    0.2
Name: avg_is_winner_5_matches, dtype: float64


337    0.6
Name: avg_is_winner_5_matches, dtype: float64


362    0.8
Name: avg_is_winner_5_matches, dtype: float64


383    0.4
Name: avg_is_winner_5_matches, dtype: float64


384    0.4
Name: avg_is_winner_5_matches, dtype: float64


405    0.8
Name: avg_is_winner_5_matches, dtype: float64


417    0.4
Name: avg_is_winner_5_matches, dtype: float64


432    0.6
Name: avg_is_winner_5_matches, dtype: float64


449    0.4
Name: avg_is_winner_5_matches, dtype: float64


476    0.8
Name: avg_is_winner_5_matches, dtype: float64


491    0.6
Name: avg_is_winner_5_matches, dtype: float64


496    0.8
Name: avg_is_winner_5_matches, dtype: float64


3   NaN
Name: avg_is_winner_5_matches, dtype: float64


30    0.0
Name: avg_is_winner_5_matches, dtype: float64


46    0.5
Name: avg_is_winner_5_matches, dtype: float64


58    1.0
Name: avg_is_winner_5_matches, dtype: float64


75    0.5
Name: avg_is_winner_5_matches, dtype: float64


82    0.4
Name: avg_is_winner_5_matches, dtype: float64


104    0.8
Name: avg_is_winner_5_matches, dtype: float64


118    0.2
Name: avg_is_winner_5_matches, dtype: float64


131    0.6
Name: avg_is_winner_5_matches, dtype: float64


147    0.6
Name: avg_is_winner_5_matches, dtype: float64


166    0.0
Name: avg_is_winner_5_matches, dtype: float64


189    1.0
Name: avg_is_winner_5_matches, dtype: float64


196    0.2
Name: avg_is_winner_5_matches, dtype: float64


207    0.8
Name: avg_is_winner_5_matches, dtype: float64


229    0.6
Name: avg_is_winner_5_matches, dtype: float64


241    0.2
Name: avg_is_winner_5_matches, dtype: float64


259    0.2
Name: avg_is_winner_5_matches, dtype: float64


279    0.4
Name: avg_is_winner_5_matches, dtype: float64


290    0.0
Name: avg_is_winner_5_matches, dtype: float64


307    0.4
Name: avg_is_winner_5_matches, dtype: float64


322    0.4
Name: avg_is_winner_5_matches, dtype: float64


342    0.6
Name: avg_is_winner_5_matches, dtype: float64


364    0.6
Name: avg_is_winner_5_matches, dtype: float64


375    0.2
Name: avg_is_winner_5_matches, dtype: float64


387    0.8
Name: avg_is_winner_5_matches, dtype: float64


409    0.4
Name: avg_is_winner_5_matches, dtype: float64


418    0.6
Name: avg_is_winner_5_matches, dtype: float64


447    0.4
Name: avg_is_winner_5_matches, dtype: float64


457    0.4
Name: avg_is_winner_5_matches, dtype: float64


474    0.2
Name: avg_is_winner_5_matches, dtype: float64


495    0.6
Name: avg_is_winner_5_matches, dtype: float64


508    0.2
Name: avg_is_winner_5_matches, dtype: float64


2   NaN
Name: avg_is_winner_5_matches, dtype: float64


29    0.0
Name: avg_is_winner_5_matches, dtype: float64


40    0.0
Name: avg_is_winner_5_matches, dtype: float64


57    0.0
Name: avg_is_winner_5_matches, dtype: float64


76    0.5
Name: avg_is_winner_5_matches, dtype: float64


95    0.8
Name: avg_is_winner_5_matches, dtype: float64


108    0.0
Name: avg_is_winner_5_matches, dtype: float64


119    0.4
Name: avg_is_winner_5_matches, dtype: float64


142    0.4
Name: avg_is_winner_5_matches, dtype: float64


155    0.6
Name: avg_is_winner_5_matches, dtype: float64


170    0.8
Name: avg_is_winner_5_matches, dtype: float64


178    0.4
Name: avg_is_winner_5_matches, dtype: float64


193    0.2
Name: avg_is_winner_5_matches, dtype: float64


205    0.4
Name: avg_is_winner_5_matches, dtype: float64


224    0.6
Name: avg_is_winner_5_matches, dtype: float64


238    0.8
Name: avg_is_winner_5_matches, dtype: float64


263    1.0
Name: avg_is_winner_5_matches, dtype: float64


287    0.8
Name: avg_is_winner_5_matches, dtype: float64


295    0.2
Name: avg_is_winner_5_matches, dtype: float64


316    0.6
Name: avg_is_winner_5_matches, dtype: float64


329    0.4
Name: avg_is_winner_5_matches, dtype: float64


339    0.2
Name: avg_is_winner_5_matches, dtype: float64


352    0.6
Name: avg_is_winner_5_matches, dtype: float64


382    0.6
Name: avg_is_winner_5_matches, dtype: float64


392    0.6
Name: avg_is_winner_5_matches, dtype: float64


411    0.4
Name: avg_is_winner_5_matches, dtype: float64


423    0.6
Name: avg_is_winner_5_matches, dtype: float64


439    0.8
Name: avg_is_winner_5_matches, dtype: float64


456    0.2
Name: avg_is_winner_5_matches, dtype: float64


472    0.6
Name: avg_is_winner_5_matches, dtype: float64


493    0.8
Name: avg_is_winner_5_matches, dtype: float64


505    0.4
Name: avg_is_winner_5_matches, dtype: float64


5   NaN
Name: avg_is_winner_5_matches, dtype: float64


20    0.0
Name: avg_is_winner_5_matches, dtype: float64


32    0.5
Name: avg_is_winner_5_matches, dtype: float64


49    0.666667
Name: avg_is_winner_5_matches, dtype: float64


72    1.0
Name: avg_is_winner_5_matches, dtype: float64


89    0.2
Name: avg_is_winner_5_matches, dtype: float64


107    0.4
Name: avg_is_winner_5_matches, dtype: float64


125    0.4
Name: avg_is_winner_5_matches, dtype: float64


132    0.8
Name: avg_is_winner_5_matches, dtype: float64


144    0.4
Name: avg_is_winner_5_matches, dtype: float64


169    0.8
Name: avg_is_winner_5_matches, dtype: float64


181    0.6
Name: avg_is_winner_5_matches, dtype: float64


192    0.4
Name: avg_is_winner_5_matches, dtype: float64


208    0.0
Name: avg_is_winner_5_matches, dtype: float64


219    0.6
Name: avg_is_winner_5_matches, dtype: float64


246    1.0
Name: avg_is_winner_5_matches, dtype: float64


264    0.6
Name: avg_is_winner_5_matches, dtype: float64


283    0.6
Name: avg_is_winner_5_matches, dtype: float64


291    0.4
Name: avg_is_winner_5_matches, dtype: float64


314    0.8
Name: avg_is_winner_5_matches, dtype: float64


321    0.6
Name: avg_is_winner_5_matches, dtype: float64


346    0.6
Name: avg_is_winner_5_matches, dtype: float64


357    0.6
Name: avg_is_winner_5_matches, dtype: float64


376    0.4
Name: avg_is_winner_5_matches, dtype: float64


395    0.4
Name: avg_is_winner_5_matches, dtype: float64


404    0.6
Name: avg_is_winner_5_matches, dtype: float64


425    0.8
Name: avg_is_winner_5_matches, dtype: float64


441    0.6
Name: avg_is_winner_5_matches, dtype: float64


453    0.8
Name: avg_is_winner_5_matches, dtype: float64


470    0.4
Name: avg_is_winner_5_matches, dtype: float64


484    0.2
Name: avg_is_winner_5_matches, dtype: float64


499    0.4
Name: avg_is_winner_5_matches, dtype: float64


4   NaN
Name: avg_is_winner_5_matches, dtype: float64


17    1.0
Name: avg_is_winner_5_matches, dtype: float64


42    0.0
Name: avg_is_winner_5_matches, dtype: float64


53    0.666667
Name: avg_is_winner_5_matches, dtype: float64


67    0.5
Name: avg_is_winner_5_matches, dtype: float64


84    1.0
Name: avg_is_winner_5_matches, dtype: float64


111    0.8
Name: avg_is_winner_5_matches, dtype: float64


122    0.4
Name: avg_is_winner_5_matches, dtype: float64


139    0.4
Name: avg_is_winner_5_matches, dtype: float64


158    0.8
Name: avg_is_winner_5_matches, dtype: float64


175    0.4
Name: avg_is_winner_5_matches, dtype: float64


188    0.4
Name: avg_is_winner_5_matches, dtype: float64


194    0.8
Name: avg_is_winner_5_matches, dtype: float64


211    0.4
Name: avg_is_winner_5_matches, dtype: float64


227    0.6
Name: avg_is_winner_5_matches, dtype: float64


234    0.6
Name: avg_is_winner_5_matches, dtype: float64


256    0.6
Name: avg_is_winner_5_matches, dtype: float64


275    0.6
Name: avg_is_winner_5_matches, dtype: float64


288    0.8
Name: avg_is_winner_5_matches, dtype: float64


317    0.2
Name: avg_is_winner_5_matches, dtype: float64

334    0.8
Name: avg_is_winner_5_matches, dtype: float64


347    0.4
Name: avg_is_winner_5_matches, dtype: float64


365    0.4
Name: avg_is_winner_5_matches, dtype: float64


380    0.8
Name: avg_is_winner_5_matches, dtype: float64


386    0.2
Name: avg_is_winner_5_matches, dtype: float64


407    0.2
Name: avg_is_winner_5_matches, dtype: float64


424    0.6
Name: avg_is_winner_5_matches, dtype: float64


442    0.4
Name: avg_is_winner_5_matches, dtype: float64


459    0.8
Name: avg_is_winner_5_matches, dtype: float64


465    0.4
Name: avg_is_winner_5_matches, dtype: float64


490    0.2
Name: avg_is_winner_5_matches, dtype: float64


501    0.8
Name: avg_is_winner_5_matches, dtype: float64


7   NaN
Name: avg_is_winner_5_matches, dtype: float64


26    1.0
Name: avg_is_winner_5_matches, dtype: float64


37    0.5
Name: avg_is_winner_5_matches, dtype: float64


63    0.0
Name: avg_is_winner_5_matches, dtype: float64


71    0.5
Name: avg_is_winner_5_matches, dtype: float64


94    0.4
Name: avg_is_winner_5_matches, dtype: float64


105    0.4
Name: avg_is_winner_5_matches, dtype: float64


126    0.2
Name: avg_is_winner_5_matches, dtype: float64


136    0.6
Name: avg_is_winner_5_matches, dtype: float64


145    0.4
Name: avg_is_winner_5_matches, dtype: float64


160    0.6
Name: avg_is_winner_5_matches, dtype: float64


191    0.2
Name: avg_is_winner_5_matches, dtype: float64


198    0.6
Name: avg_is_winner_5_matches, dtype: float64


210    0.8
Name: avg_is_winner_5_matches, dtype: float64


231    0.4
Name: avg_is_winner_5_matches, dtype: float64


245    0.4
Name: avg_is_winner_5_matches, dtype: float64


268    0.6
Name: avg_is_winner_5_matches, dtype: float64


281    1.0
Name: avg_is_winner_5_matches, dtype: float64


292    0.2
Name: avg_is_winner_5_matches, dtype: float64


306    0.4
Name: avg_is_winner_5_matches, dtype: float64


332    0.4
Name: avg_is_winner_5_matches, dtype: float64


345    0.2
Name: avg_is_winner_5_matches, dtype: float64


353    0.4
Name: avg_is_winner_5_matches, dtype: float64


368    0.4
Name: avg_is_winner_5_matches, dtype: float64


393    0.4
Name: avg_is_winner_5_matches, dtype: float64


415    0.8
Name: avg_is_winner_5_matches, dtype: float64


429    0.4
Name: avg_is_winner_5_matches, dtype: float64


436    0.4
Name: avg_is_winner_5_matches, dtype: float64


448    0.4
Name: avg_is_winner_5_matches, dtype: float64


478    0.6
Name: avg_is_winner_5_matches, dtype: float64


489    0.4
Name: avg_is_winner_5_matches, dtype: float64


506    1.0
Name: avg_is_winner_5_matches, dtype: float64


6   NaN
Name: avg_is_winner_5_matches, dtype: float64


19    0.0
Name: avg_is_winner_5_matches, dtype: float64


47    1.0
Name: avg_is_winner_5_matches, dtype: float64


55    1.0
Name: avg_is_winner_5_matches, dtype: float64


66    0.5
Name: avg_is_winner_5_matches, dtype: float64


81    0.4
Name: avg_is_winner_5_matches, dtype: float64


96    0.4
Name: avg_is_winner_5_matches, dtype: float64


112    0.8
Name: avg_is_winner_5_matches, dtype: float64


143    0.2
Name: avg_is_winner_5_matches, dtype: float64


150    0.6
Name: avg_is_winner_5_matches, dtype: float64


164    0.6
Name: avg_is_winner_5_matches, dtype: float64


183    0.2
Name: avg_is_winner_5_matches, dtype: float64


199    0.4
Name: avg_is_winner_5_matches, dtype: float64


206    0.2
Name: avg_is_winner_5_matches, dtype: float64


221    0.8
Name: avg_is_winner_5_matches, dtype: float64


237    0.8
Name: avg_is_winner_5_matches, dtype: float64


270    0.4
Name: avg_is_winner_5_matches, dtype: float64


286    0.2
Name: avg_is_winner_5_matches, dtype: float64


303    0.6
Name: avg_is_winner_5_matches, dtype: float64


315    0.2
Name: avg_is_winner_5_matches, dtype: float64


324    0.8
Name: avg_is_winner_5_matches, dtype: float64


350    0.2
Name: avg_is_winner_5_matches, dtype: float64


363    0.6
Name: avg_is_winner_5_matches, dtype: float64


378    0.4
Name: avg_is_winner_5_matches, dtype: float64


389    0.4
Name: avg_is_winner_5_matches, dtype: float64


410    0.2
Name: avg_is_winner_5_matches, dtype: float64


420    0.4
Name: avg_is_winner_5_matches, dtype: float64


433    0.6
Name: avg_is_winner_5_matches, dtype: float64


458    0.6
Name: avg_is_winner_5_matches, dtype: float64


468    1.0
Name: avg_is_winner_5_matches, dtype: float64


481    0.8
Name: avg_is_winner_5_matches, dtype: float64


507    0.4
Name: avg_is_winner_5_matches, dtype: float64


9   NaN
Name: avg_is_winner_5_matches, dtype: float64


24    1.0
Name: avg_is_winner_5_matches, dtype: float64


41    0.5
Name: avg_is_winner_5_matches, dtype: float64


51    0.333333
Name: avg_is_winner_5_matches, dtype: float64


68    1.0
Name: avg_is_winner_5_matches, dtype: float64


80    0.6
Name: avg_is_winner_5_matches, dtype: float64


103    0.4
Name: avg_is_winner_5_matches, dtype: float64


117    0.4
Name: avg_is_winner_5_matches, dtype: float64


130    0.6
Name: avg_is_winner_5_matches, dtype: float64


157    0.8
Name: avg_is_winner_5_matches, dtype: float64


168    0.4
Name: avg_is_winner_5_matches, dtype: float64


184    0.6
Name: avg_is_winner_5_matches, dtype: float64


195    1.0
Name: avg_is_winner_5_matches, dtype: float64


202    0.2
Name: avg_is_winner_5_matches, dtype: float64


216    0.2
Name: avg_is_winner_5_matches, dtype: float64


247    0.2
Name: avg_is_winner_5_matches, dtype: float64


260    0.2
Name: avg_is_winner_5_matches, dtype: float64


280    0.2
Name: avg_is_winner_5_matches, dtype: float64


297    0.4
Name: avg_is_winner_5_matches, dtype: float64


309    1.0
Name: avg_is_winner_5_matches, dtype: float64


325    0.8
Name: avg_is_winner_5_matches, dtype: float64


336    0.4
Name: avg_is_winner_5_matches, dtype: float64


358    0.2
Name: avg_is_winner_5_matches, dtype: float64


369    0.6
Name: avg_is_winner_5_matches, dtype: float64


388    0.6
Name: avg_is_winner_5_matches, dtype: float64


400    0.4
Name: avg_is_winner_5_matches, dtype: float64


431    0.2
Name: avg_is_winner_5_matches, dtype: float64


438    0.2
Name: avg_is_winner_5_matches, dtype: float64


455    0.6
Name: avg_is_winner_5_matches, dtype: float64


466    0.2
Name: avg_is_winner_5_matches, dtype: float64


486    0.4
Name: avg_is_winner_5_matches, dtype: float64


497    0.2
Name: avg_is_winner_5_matches, dtype: float64


8   NaN
Name: avg_is_winner_5_matches, dtype: float64


23    1.0
Name: avg_is_winner_5_matches, dtype: float64


38    0.0
Name: avg_is_winner_5_matches, dtype: float64


54    0.666667
Name: avg_is_winner_5_matches, dtype: float64


73    0.25
Name: avg_is_winner_5_matches, dtype: float64


87    0.4
Name: avg_is_winner_5_matches, dtype: float64


99    1.0
Name: avg_is_winner_5_matches, dtype: float64


114    0.6
Name: avg_is_winner_5_matches, dtype: float64


137    0.6
Name: avg_is_winner_5_matches, dtype: float64


151    0.6
Name: avg_is_winner_5_matches, dtype: float64


162    0.4
Name: avg_is_winner_5_matches, dtype: float64


185    0.8
Name: avg_is_winner_5_matches, dtype: float64


204    0.4
Name: avg_is_winner_5_matches, dtype: float64


218    0.2
Name: avg_is_winner_5_matches, dtype: float64


235    0.6
Name: avg_is_winner_5_matches, dtype: float64


250    0.6
Name: avg_is_winner_5_matches, dtype: float64


266    0.8
Name: avg_is_winner_5_matches, dtype: float64


285    1.0
Name: avg_is_winner_5_matches, dtype: float64


300    0.4
Name: avg_is_winner_5_matches, dtype: float64


310    0.4
Name: avg_is_winner_5_matches, dtype: float64


323    0.4
Name: avg_is_winner_5_matches, dtype: float64


348    0.4
Name: avg_is_winner_5_matches, dtype: float64


355    0.6
Name: avg_is_winner_5_matches, dtype: float64


371    0.4
Name: avg_is_winner_5_matches, dtype: float64


391    0.6
Name: avg_is_winner_5_matches, dtype: float64


414    0.6
Name: avg_is_winner_5_matches, dtype: float64


422    0.0
Name: avg_is_winner_5_matches, dtype: float64


435    0.0
Name: avg_is_winner_5_matches, dtype: float64


454    0.8
Name: avg_is_winner_5_matches, dtype: float64


471    0.2
Name: avg_is_winner_5_matches, dtype: float64


482    0.8
Name: avg_is_winner_5_matches, dtype: float64


509    0.2
Name: avg_is_winner_5_matches, dtype: float64


11   NaN
Name: avg_is_winner_5_matches, dtype: float64


18    0.0
Name: avg_is_winner_5_matches, dtype: float64


35    1.0
Name: avg_is_winner_5_matches, dtype: float64


50    0.333333
Name: avg_is_winner_5_matches, dtype: float64


64    0.0
Name: avg_is_winner_5_matches, dtype: float64


88    0.2
Name: avg_is_winner_5_matches, dtype: float64


97    0.6
Name: avg_is_winner_5_matches, dtype: float64


120    0.6
Name: avg_is_winner_5_matches, dtype: float64


128    0.4
Name: avg_is_winner_5_matches, dtype: float64


149    0.4
Name: avg_is_winner_5_matches, dtype: float64


174    0.8
Name: avg_is_winner_5_matches, dtype: float64


190    0.2
Name: avg_is_winner_5_matches, dtype: float64


215    0.6
Name: avg_is_winner_5_matches, dtype: float64


223    0.2
Name: avg_is_winner_5_matches, dtype: float64


240    0.2
Name: avg_is_winner_5_matches, dtype: float64


253    0.4
Name: avg_is_winner_5_matches, dtype: float64


261    1.0
Name: avg_is_winner_5_matches, dtype: float64

272    0.2
Name: avg_is_winner_5_matches, dtype: float64


293    0.4
Name: avg_is_winner_5_matches, dtype: float64


305    0.8
Name: avg_is_winner_5_matches, dtype: float64


328    0.4
Name: avg_is_winner_5_matches, dtype: float64


349    0.6
Name: avg_is_winner_5_matches, dtype: float64


366    0.4
Name: avg_is_winner_5_matches, dtype: float64


381    0.6
Name: avg_is_winner_5_matches, dtype: float64


390    0.8
Name: avg_is_winner_5_matches, dtype: float64


413    0.4
Name: avg_is_winner_5_matches, dtype: float64


428    0.6
Name: avg_is_winner_5_matches, dtype: float64


444    0.8
Name: avg_is_winner_5_matches, dtype: float64


460    0.6
Name: avg_is_winner_5_matches, dtype: float64


467    0.8
Name: avg_is_winner_5_matches, dtype: float64


485    0.2
Name: avg_is_winner_5_matches, dtype: float64


504    0.8
Name: avg_is_winner_5_matches, dtype: float64


10   NaN
Name: avg_is_winner_5_matches, dtype: float64


27    1.0
Name: avg_is_winner_5_matches, dtype: float64


33    0.5
Name: avg_is_winner_5_matches, dtype: float64


52    0.333333
Name: avg_is_winner_5_matches, dtype: float64


70    0.75
Name: avg_is_winner_5_matches, dtype: float64


83    0.6
Name: avg_is_winner_5_matches, dtype: float64


100    0.6
Name: avg_is_winner_5_matches, dtype: float64


115    0.8
Name: avg_is_winner_5_matches, dtype: float64


140    0.8
Name: avg_is_winner_5_matches, dtype: float64


153    0.2
Name: avg_is_winner_5_matches, dtype: float64


171    0.2
Name: avg_is_winner_5_matches, dtype: float64


180    0.4
Name: avg_is_winner_5_matches, dtype: float64


213    0.8
Name: avg_is_winner_5_matches, dtype: float64


228    0.2
Name: avg_is_winner_5_matches, dtype: float64


236    0.8
Name: avg_is_winner_5_matches, dtype: float64


249    0.8
Name: avg_is_winner_5_matches, dtype: float64


262    0.2
Name: avg_is_winner_5_matches, dtype: float64


284    0.6
Name: avg_is_winner_5_matches, dtype: float64


299    0.6
Name: avg_is_winner_5_matches, dtype: float64


308    0.8
Name: avg_is_winner_5_matches, dtype: float64


335    0.6
Name: avg_is_winner_5_matches, dtype: float64


341    0.6
Name: avg_is_winner_5_matches, dtype: float64


360    0.4
Name: avg_is_winner_5_matches, dtype: float64


373    0.6
Name: avg_is_winner_5_matches, dtype: float64


385    0.6
Name: avg_is_winner_5_matches, dtype: float64


402    0.6
Name: avg_is_winner_5_matches, dtype: float64


426    0.4
Name: avg_is_winner_5_matches, dtype: float64


445    0.4
Name: avg_is_winner_5_matches, dtype: float64


452    0.4
Name: avg_is_winner_5_matches, dtype: float64


469    0.8
Name: avg_is_winner_5_matches, dtype: float64


483    0.2
Name: avg_is_winner_5_matches, dtype: float64


500    0.4
Name: avg_is_winner_5_matches, dtype: float64


13   NaN
Name: avg_is_winner_5_matches, dtype: float64


25    0.0
Name: avg_is_winner_5_matches, dtype: float64


34    0.0
Name: avg_is_winner_5_matches, dtype: float64


48    0.333333
Name: avg_is_winner_5_matches, dtype: float64


78    0.0
Name: avg_is_winner_5_matches, dtype: float64


93    0.6
Name: avg_is_winner_5_matches, dtype: float64


110    0.4
Name: avg_is_winner_5_matches, dtype: float64


121    0.4
Name: avg_is_winner_5_matches, dtype: float64


133    0.2
Name: avg_is_winner_5_matches, dtype: float64


146    0.6
Name: avg_is_winner_5_matches, dtype: float64


161    0.4
Name: avg_is_winner_5_matches, dtype: float64


187    0.6
Name: avg_is_winner_5_matches, dtype: float64


200    0.6
Name: avg_is_winner_5_matches, dtype: float64


220    0.8
Name: avg_is_winner_5_matches, dtype: float64


239    0.2
Name: avg_is_winner_5_matches, dtype: float64


251    0.6
Name: avg_is_winner_5_matches, dtype: float64


257    0.6
Name: avg_is_winner_5_matches, dtype: float64


276    0.6
Name: avg_is_winner_5_matches, dtype: float64


294    0.2
Name: avg_is_winner_5_matches, dtype: float64


319    0.4
Name: avg_is_winner_5_matches, dtype: float64


326    0.2
Name: avg_is_winner_5_matches, dtype: float64


343    0.4
Name: avg_is_winner_5_matches, dtype: float64


354    0.4
Name: avg_is_winner_5_matches, dtype: float64


372    0.6
Name: avg_is_winner_5_matches, dtype: float64


397    0.4
Name: avg_is_winner_5_matches, dtype: float64


408    0.4
Name: avg_is_winner_5_matches, dtype: float64


427    0.8
Name: avg_is_winner_5_matches, dtype: float64


437    0.6
Name: avg_is_winner_5_matches, dtype: float64


450    0.0
Name: avg_is_winner_5_matches, dtype: float64


464    0.4
Name: avg_is_winner_5_matches, dtype: float64


487    0.8
Name: avg_is_winner_5_matches, dtype: float64


502    0.8
Name: avg_is_winner_5_matches, dtype: float64


12   NaN
Name: avg_is_winner_5_matches, dtype: float64


28    0.0
Name: avg_is_winner_5_matches, dtype: float64


43    0.0
Name: avg_is_winner_5_matches, dtype: float64


62    0.666667
Name: avg_is_winner_5_matches, dtype: float64


79    0.75
Name: avg_is_winner_5_matches, dtype: float64


90    0.2
Name: avg_is_winner_5_matches, dtype: float64


109    0.4
Name: avg_is_winner_5_matches, dtype: float64


127    0.6
Name: avg_is_winner_5_matches, dtype: float64


138    0.6
Name: avg_is_winner_5_matches, dtype: float64


148    0.2
Name: avg_is_winner_5_matches, dtype: float64


163    0.4
Name: avg_is_winner_5_matches, dtype: float64


176    0.6
Name: avg_is_winner_5_matches, dtype: float64


197    0.2
Name: avg_is_winner_5_matches, dtype: float64


209    0.4
Name: avg_is_winner_5_matches, dtype: float64


217    1.0
Name: avg_is_winner_5_matches, dtype: float64


232    0.6
Name: avg_is_winner_5_matches, dtype: float64


258    0.2
Name: avg_is_winner_5_matches, dtype: float64


273    0.2
Name: avg_is_winner_5_matches, dtype: float64


296    0.8
Name: avg_is_winner_5_matches, dtype: float64


313    0.4
Name: avg_is_winner_5_matches, dtype: float64


331    0.2
Name: avg_is_winner_5_matches, dtype: float64


340    0.6
Name: avg_is_winner_5_matches, dtype: float64


356    0.4
Name: avg_is_winner_5_matches, dtype: float64


379    0.6
Name: avg_is_winner_5_matches, dtype: float64


396    0.6
Name: avg_is_winner_5_matches, dtype: float64


412    0.4
Name: avg_is_winner_5_matches, dtype: float64


421    0.4
Name: avg_is_winner_5_matches, dtype: float64


443    0.8
Name: avg_is_winner_5_matches, dtype: float64


462    0.6
Name: avg_is_winner_5_matches, dtype: float64


479    0.6
Name: avg_is_winner_5_matches, dtype: float64


494    0.0
Name: avg_is_winner_5_matches, dtype: float64


511    0.8
Name: avg_is_winner_5_matches, dtype: float64


15   NaN
Name: avg_is_winner_5_matches, dtype: float64


22    1.0
Name: avg_is_winner_5_matches, dtype: float64


45    1.0
Name: avg_is_winner_5_matches, dtype: float64


60    0.666667
Name: avg_is_winner_5_matches, dtype: float64


77    0.5
Name: avg_is_winner_5_matches, dtype: float64


92    0.8
Name: avg_is_winner_5_matches, dtype: float64


106    0.0
Name: avg_is_winner_5_matches, dtype: float64


123    0.6
Name: avg_is_winner_5_matches, dtype: float64


134    0.6
Name: avg_is_winner_5_matches, dtype: float64


152    0.6
Name: avg_is_winner_5_matches, dtype: float64


167    0.4
Name: avg_is_winner_5_matches, dtype: float64


182    0.6
Name: avg_is_winner_5_matches, dtype: float64


203    1.0
Name: avg_is_winner_5_matches, dtype: float64


222    0.2
Name: avg_is_winner_5_matches, dtype: float64


244    0.2
Name: avg_is_winner_5_matches, dtype: float64


255    0.8
Name: avg_is_winner_5_matches, dtype: float64


271    0.8
Name: avg_is_winner_5_matches, dtype: float64


278    0.4
Name: avg_is_winner_5_matches, dtype: float64


301    0.4
Name: avg_is_winner_5_matches, dtype: float64


312    0.2
Name: avg_is_winner_5_matches, dtype: float64


327    0.6
Name: avg_is_winner_5_matches, dtype: float64


338    0.4
Name: avg_is_winner_5_matches, dtype: float64


361    0.6
Name: avg_is_winner_5_matches, dtype: float64


377    0.6
Name: avg_is_winner_5_matches, dtype: float64


399    0.4
Name: avg_is_winner_5_matches, dtype: float64


406    0.8
Name: avg_is_winner_5_matches, dtype: float64


430    0.6
Name: avg_is_winner_5_matches, dtype: float64


434    0.6
Name: avg_is_winner_5_matches, dtype: float64


451    0.6
Name: avg_is_winner_5_matches, dtype: float64


475    0.2
Name: avg_is_winner_5_matches, dtype: float64


488    0.4
Name: avg_is_winner_5_matches, dtype: float64


498    0.2
Name: avg_is_winner_5_matches, dtype: float64


14   NaN
Name: avg_is_winner_5_matches, dtype: float64


31    1.0
Name: avg_is_winner_5_matches, dtype: float64


39    1.0
Name: avg_is_winner_5_matches, dtype: float64


56    0.333333
Name: avg_is_winner_5_matches, dtype: float64


65    0.25
Name: avg_is_winner_5_matches, dtype: float64


91    0.0
Name: avg_is_winner_5_matches, dtype: float64


102    0.6
Name: avg_is_winner_5_matches, dtype: float64


124    0.2
Name: avg_is_winner_5_matches, dtype: float64


135    0.4
Name: avg_is_winner_5_matches, dtype: float64


159    0.6
Name: avg_is_winner_5_matches, dtype: float64


172    0.6
Name: avg_is_winner_5_matches, dtype: float64


179    0.4
Name: avg_is_winner_5_matches, dtype: float64


201    0.8
Name: avg_is_winner_5_matches, dtype: float64


230    0.4
Name: avg_is_winner_5_matches, dtype: float64


242    0.6
Name: avg_is_winner_5_matches, dtype: float64


252    0.2
Name: avg_is_winner_5_matches, dtype: float64


265    0.2
Name: avg_is_winner_5_matches, dtype: float64


274    0.6
Name: avg_is_winner_5_matches, dtype: float64


298    1.0
Name: avg_is_winner_5_matches, dtype: float64


318    0.4
Name: avg_is_winner_5_matches, dtype: float64


333    0.6
Name: avg_is_winner_5_matches, dtype: float64


351    1.0
Name: avg_is_winner_5_matches, dtype: float64


359    0.4
Name: avg_is_winner_5_matches, dtype: float64


370    0.6
Name: avg_is_winner_5_matches, dtype: float64


398    0.2
Name: avg_is_winner_5_matches, dtype: float64


403    0.6
Name: avg_is_winner_5_matches, dtype: float64


419    0.4
Name: avg_is_winner_5_matches, dtype: float64


440    0.6
Name: avg_is_winner_5_matches, dtype: float64


463    0.6
Name: avg_is_winner_5_matches, dtype: float64


477    0.2
Name: avg_is_winner_5_matches, dtype: float64


492    0.6
Name: avg_is_winner_5_matches, dtype: float64


503    0.2
Name: avg_is_winner_5_matches, dtype: float64

In [ ]:
mycursor.close()