# Predicting Match Outcomes

In [1]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd
import datetime

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [3]:
query = pd.read_sql_query('''
    SELECT * 
    FROM TeamMatchStats
''', mydb)

In [4]:
match_stat_df = pd.DataFrame(query)

In [5]:
match_stat_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,prop_1,prop_2,hooker,sr_1,sr_2,lock_1,int_1,int_2,int_3,int_4
0,1,1,14,1,1,34,5,4,3,0.8000,...,404,396,391,407,406,483,1626,402,397,219
1,2,1,1,14,0,12,2,1,1,0.5000,...,11,500,499,2,10,269,3,400,9,1624
2,3,2,8,6,1,19,3,3,0,1.0000,...,192,503,201,196,188,197,190,429,194,505
3,4,2,6,8,0,18,3,2,1,0.6667,...,510,509,153,511,155,512,516,309,513,327
4,5,3,10,4,1,20,4,1,1,0.2500,...,268,272,265,264,375,266,260,276,267,261

# Prediction Algorithm

Things to try:
1. Want to create scoring function (sklearn.metrics import f1_score, make_scorer, classification_report)

2. Random Forest
3. Neural Network (10-3-2)

Features to try:
- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- Tackle Percentages
- Factor in the strength of opposition

In [6]:
correlation_df = match_stat_df
col = list(match_stat_df.columns)[35:52]
correlation_df = match_stat_df.drop(col, axis=1)
correlation_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,ineffective_tackles,tackle_percentage,kicks,kicking_metres,metres_per_kick,errors,handling_errors,penalties,sin_bins,send_offs
0,1,1,14,1,1,34,5,4,3,0.8000,...,14,0.8881,17,478,28.1176,10,9,7,0,0
1,2,1,1,14,0,12,2,1,1,0.5000,...,15,0.8715,14,382,27.2857,13,11,9,0,0
2,3,2,8,6,1,19,3,3,0,1.0000,...,27,0.8465,21,538,25.6190,6,6,9,0,0
3,4,2,6,8,0,18,3,2,1,0.6667,...,5,0.8883,13,284,21.8462,16,10,11,0,0
4,5,3,10,4,1,20,4,1,1,0.2500,...,19,0.8774,13,252,19.3846,15,10,6,0,0

In [7]:
correlation_df = correlation_df.drop(columns=['line_engaged_runs'])

In [8]:
import seaborn as sns
corr = correlation_df.corr()
corr['is_winner']
stats = corr[(corr['is_winner'] > .2) | (corr['is_winner'] < -.2)]
stats['is_winner']
#corr.style.background_gradient(cmap='coolwarm')

is_winner              1.000000
points                 0.616395
tries                  0.563085
conversions            0.495853
penalty_goals          0.331492
field_goals            0.213446
runs                   0.291058
run_metres             0.387814
kick_return_metres     0.257286
post_contact_metres    0.253308
line_breaks            0.372330
tackle_breaks          0.291125
hit_ups                0.295609
tackles               -0.330251
missed_tackles        -0.290167
kicks                  0.236040
kicking_metres         0.247338
errors                -0.236594
handling_errors       -0.203090
Name: is_winner, dtype: float64

Columns to take into consideration
From highly correlated stats:

- points (allowed)
- tries (allowed)
- penalty_goals
- run_metres (allowed)
- runs
- runs_per_metre (allowed)
- line_breaks (allowed)
- tackle_breaks
- tackles (allowed)
- missed_tackles
- kicking_metres
- errors

In [28]:
stat_columns = ['id', 'match_id', 'team_id', 'opponent_id', 'is_winner', 'points', 'tries', 'penalty_goals',
                     'run_metres', 'runs', 'line_breaks', 'tackle_breaks', 'tackles', 'missed_tackles',
                     'kicking_metres', 'errors']
results_df = match_stat_df[stat_columns]
results_df['metres_per_run'] = results_df['run_metres'] / results_df['runs']
results_df.head()

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,line_breaks,tackle_breaks,tackles,missed_tackles,kicking_metres,errors,metres_per_run
0,1,1,14,1,1,34,5,3,1618,168,5,35,238,16,478,10,9.630952
1,2,1,1,14,0,12,2,1,1076,130,2,16,339,35,382,13,8.276923
2,3,2,8,6,1,19,3,0,1425,192,3,41,342,35,538,6,7.421875
3,4,2,6,8,0,18,3,1,1648,178,4,35,366,41,284,16,9.258427
4,5,3,10,4,1,20,4,1,1348,165,3,37,272,19,252,15,8.169697

columns to create

- points (allowed)
- tries (allowed)
- penalty_goals
- run_metres (allowed)
- runs
- runs_per_metre (allowed)
- line_breaks (allowed)
- tackle_breaks
- tackles (allowed)
- missed_tackles
- kicking_metres
- errors

- tackle_percentage
- metres_per_run

- point_differential
- run_metre differential
- 

- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- line_breaks last X matches
- errors last X matches
- Tackle Percentages
- Strength of opposition metric

In [29]:
columns = [*results_df.columns.tolist(),'opp_points', 'opp_tries', 'opp_run_metres',
           'opp_metres_per_run', 'opp_line_breaks', 'opp_tackles', 'point_diff', 'run_metre_diff']
results_df = results_df.reindex(columns=columns, fill_value=0)
#print(predictions_df)

for match in list(results_df['match_id'].unique()):
    match_df = results_df[results_df['match_id'] == match]
    #print(match_df)
    for team in list(match_df['team_id']):
        team_data = match_df[match_df['team_id'] == team]
        opp_data = match_df[match_df['team_id'] != team]
        
        opp_points = opp_data['points'].iloc[0]
        opp_tries = opp_data['tries'].iloc[0]
        opp_run_metres = opp_data['run_metres'].iloc[0]
        opp_metres_per_run = opp_data['metres_per_run'].iloc[0]
        opp_line_breaks = opp_data['line_breaks'].iloc[0]
        opp_tackles = opp_data['tackles'].iloc[0]
        
        point_diff = team_data['points'].iloc[0] - opp_points
        run_metre_diff = team_data['run_metres'].iloc[0] - opp_run_metres
        
        results_df.loc[team_data.index, 'opp_points'] = opp_points
        results_df.loc[team_data.index, 'opp_tries'] = opp_tries
        results_df.loc[team_data.index, 'opp_run_metres'] = opp_run_metres
        results_df.loc[team_data.index, 'opp_metres_per_run'] = opp_metres_per_run
        results_df.loc[team_data.index, 'opp_line_breaks'] = opp_line_breaks
        results_df.loc[team_data.index, 'opp_tackles'] = opp_tackles
        results_df.loc[team_data.index, 'point_diff'] = point_diff
        results_df.loc[team_data.index, 'run_metre_diff'] = run_metre_diff
          
results_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,...,errors,metres_per_run,opp_points,opp_tries,opp_run_metres,opp_metres_per_run,opp_line_breaks,opp_tackles,point_diff,run_metre_diff
0,1,1,14,1,1,34,5,3,1618,168,...,10,9.630952,12,2,1076,8.276923,2,339,22,542
1,2,1,1,14,0,12,2,1,1076,130,...,13,8.276923,34,5,1618,9.630952,5,238,-22,-542
2,3,2,8,6,1,19,3,0,1425,192,...,6,7.421875,18,3,1648,9.258427,4,366,1,-223
3,4,2,6,8,0,18,3,1,1648,178,...,16,9.258427,19,3,1425,7.421875,3,342,-1,223
4,5,3,10,4,1,20,4,1,1348,165,...,15,8.169697,14,2,1144,8.537313,1,323,6,204

In [30]:
def compute_past_x_match_avg(x, stat, data):
    x_match_avg = []
    for index in range(len(data)):
        if index <= (x - 1):
            start = 0
        else:
            start = (index - x)
        past_x_matches = data.iloc[start : index]
        avg = past_x_matches[stat].mean()
        x_match_avg.append(avg)
    return pd.Series(x_match_avg).values

In [31]:
columns = results_df.columns.tolist()
stats = ['is_winner', 'points', 'tries', 'penalty_goals', 'run_metres', 'runs', 'line_breaks',
         'tackle_breaks', 'tackles', 'missed_tackles', 'kicking_metres', 'errors']

for stat in stats:
    for x in [4, 8]:
        columns.append('avg_' + stat + '_past_' + str(x) + '_matches')
results_df = results_df.reindex(columns=columns, fill_value=0)

for team in list(results_df['team_id'].unique()):
    team_df = results_df[results_df['team_id'] == team]
    team_df = team_df.reset_index()
    for stat in stats:
        for x in [4, 8]:
            new_column = 'avg_' + stat + '_past_' + str(x) + '_matches'
            team_df[new_column] = compute_past_x_match_avg(x, stat, team_df)
    team_df = team_df.set_index('index')
    results_df.loc[results_df['team_id'] == team] = team_df
    #print(predictions_df[predictions_df['team_id'] == team])
print(results_df[results_df['team_id'] == 12])

      id  match_id  team_id  opponent_id  is_winner  points  tries  \
12    13         7       12           11          1      24      3
24    25        13       12           13          1      18      3
35    36        18       12            3          0      18      3
49    50        25       12           10          1      33      4
79    80        40       12           11          1      12      1
92    93        47       12            5          1      35      6
111  112        56       12            4          0      22      4
120  121        61       12            3          1      22      3
132  133        67       12           10          0      20      4
147  148        74       12            8          1      29      4
160  161        81       12           16          1      16      2
186  187        94       12           14          1      28      4
201  202       101       12            2          1      23      3
221  222       111       12           15          0       6      1
238  239       120       12            6          0      10      1
250  251       126       12            9          1      36      6
256  257       129       12            4          0      12      2
277  278       139       12            1          0      18      3
295  296       148       12            6          1      28      5
318  319       160       12            2          1      40      7
327  328       164       12            5          1      17      3
342  343       172       12            8          0      12      2
355  356       178       12            9          0      16      3
373  374       187       12            7          1      22      5
396  397       199       12           11          0      12      2
409  410       205       12            8          1      16      3
426  427       214       12            7          0       2      0
436  437       219       12           16          1       9      1
451  452       226       12            5          0      24      4
465  466       233       12            4          0      20      3
486  487       244       12           13          0      18      3
503  504       252       12            2          0      12      2

     penalty_goals  run_metres  runs  ...  avg_tackle_breaks_past_4_matches  \
12               3        1583   154  ...                               NaN
24              -1        1675   195  ...                             41.00
35               0        1541   165  ...                             40.50
49               4        1222   136  ...                             37.00
79               3        1222   147  ...                             34.50
92               1        1889   186  ...                             32.50
111              0        1575   176  ...                             30.50
120              3        1563   176  ...                             30.25
132              0        1487   168  ...                             32.25
147              2        1510   171  ...                             32.50
160              3        1763   201  ...                             31.75
186              2        1825   184  ...                             33.25
201              3        1387   167  ...                             31.50
221              0        1162   129  ...                             31.25
238              2        1255   157  ...                             30.75
250              0        1913   199  ...                             25.25
256              1        1871   202  ...                             33.75
277              0        1459   166  ...                             38.50
295              0        1453   177  ...                             40.50
318              0        1416   164  ...                             43.75
327              0        1694   200  ...                             39.00
342              0        1546   191  ...                             36.25
355              0        1374   146  ...                             38.75
373              1        1412   150  ...                             42.75
396              0        1181   144  ...                             37.25
409              0        1518   169  ...                             34.50
426              1        1252   171  ...                             32.00
436              1        1608   181  ...                             25.75
451              0        1351   154  ...                             25.00
465              1        1272   153  ...                             22.25
486              1        1881   205  ...                             17.00
503              0        1483   168  ...                             19.50

     avg_tackle_breaks_past_8_matches  avg_tackles_past_4_matches  \
12                                NaN                         NaN
24                          41.000000                      339.00
35                          40.500000                      327.50
49                          37.000000                      335.00
79                          34.500000                      329.50
92                          34.200000                      332.75
111                         33.833333                      323.75
120                         33.142857                      309.75
132                         33.375000                      304.25
147                         32.500000                      298.75
160                         31.125000                      303.75
186                         31.750000                      299.75
201                         31.875000                      300.75
221                         31.875000                      287.25
238                         31.250000                      318.75
250                         29.250000                      334.00
256                         32.625000                      321.75
277                         34.875000                      331.50
295                         35.625000                      310.25
318                         34.500000                      304.75
327                         36.375000                      308.75
342                         37.375000                      315.75
355                         39.625000                      317.75
373                         43.250000                      319.50
396                         38.125000                      341.00
409                         35.375000                      356.00
426                         35.375000                      348.50
436                         34.250000                      353.50
451                         31.125000                      361.75
465                         28.375000                      345.25
486                         24.500000                      358.50
503                         22.625000                      344.50

     avg_tackles_past_8_matches  avg_missed_tackles_past_4_matches  \
12                          NaN                                NaN
24                   339.000000                          34.000000
35                   327.500000                          32.000000
49                   335.000000                          38.333333
79                   329.500000                          36.750000
92                   334.000000                          38.750000
111                  325.000000                          39.000000
120                  320.571429                          34.750000
132                  316.875000                          34.250000
147                  315.750000                          34.000000
160                  313.750000                          36.250000
186                  304.750000                          35.250000
201                  302.500000                          34.750000
221                  293.000000                          34.000000
238                  311.250000                          39.000000
250                  316.875000                          41.250000
256                  311.250000                          39.000000
277                  309.375000                          39.750000
295                  314.500000                          34.750000
318                  319.375000                          37.250000
327                  315.250000                          46.250000
342                  323.625000                          46.000000
355                  314.000000                          46.000000
373                  312.125000                          41.250000
396                  324.875000                          35.500000
409                  335.875000                          32.500000
426                  333.125000                          31.500000
436                  336.500000                          34.000000
451                  351.375000                          33.500000
465                  350.625000                          43.250000
486                  353.500000                          45.750000
503                  349.000000                          44.250000

     avg_missed_tackles_past_8_matches  avg_kicking_metres_past_4_matches  \
12                                 NaN                                NaN
24                           34.000000                         416.000000
35                           32.000000                         417.000000
49                           38.333333                         435.333333
79                           36.750000                         501.000000
92                           37.800000                         516.750000
111                          36.666667                         478.000000
120                          36.285714                         456.750000
132                          35.500000                         395.500000
147                          36.375000                         395.500000
160                          37.625000                         435.000000
186                          35.000000                         459.750000
201                          34.500000                         460.750000
221                          34.000000                         483.250000
238                          37.625000                         489.500000
250                          38.250000                         443.750000
256                          36.875000                         427.000000
277                          36.875000                         368.250000
295                          36.875000                         350.000000
318                          39.250000                         392.750000
327                          42.625000                         357.250000
342                          42.875000                         333.000000
355                          40.375000                         328.750000
373                          39.250000                         316.750000
396                          40.875000                         415.000000
409                          39.250000                         481.750000
426                          38.750000                         534.750000
436                          37.625000                         555.500000
451                          34.500000                         512.750000
465                          37.875000                         518.250000
486                          38.625000                         565.500000
503                          39.125000                         532.000000

     avg_kicking_metres_past_8_matches  avg_errors_past_4_matches  \
12                                 NaN                        NaN
24                          416.000000                  10.000000
35                          417.000000                  10.500000
49                          435.333333                   9.333333
79                          501.000000                   8.500000
92                          496.600000                   9.250000
111                         457.666667                   8.750000
120                         447.571429                   9.000000
132                         448.250000                   9.750000
147                         456.125000                   8.000000
160                         456.500000                   7.000000
186                         458.250000                   8.250000
201                         428.125000                   8.500000
221                         439.375000                   8.750000
238                         462.250000                  11.000000
250                         451.750000                  11.250000
256                         443.875000                  10.500000
277                         425.750000                  11.250000
295                         419.750000                  10.750000
318                         418.250000                   9.250000
327                         392.125000                  10.000000
342                         350.625000                  11.750000
355                         339.375000                  12.250000
373                         354.750000                  12.750000
396                         386.125000                  12.000000
409                         407.375000                  11.500000
426                         431.750000                  11.250000
436                         436.125000                  13.000000
451                         463.875000                  15.500000
465                         500.000000                  14.000000
486                         550.125000                  13.000000
503                         543.750000                  11.250000

     avg_errors_past_8_matches
12                         NaN
24                   10.000000
35                   10.500000
49                    9.333333
79                    8.500000
92                    9.400000
111                   9.333333
120                   9.142857
132                   9.125000
147                   8.625000
160                   7.875000
186                   8.625000
201                   9.125000
221                   8.375000
238                   9.000000
250                   9.750000
256                   9.500000
277                  10.000000
295                  10.875000
318                  10.250000
327                  10.250000
342                  11.500000
355                  11.500000
373                  11.000000
396                  11.000000
409                  11.625000
426                  11.750000
436                  12.875000
451                  13.750000
465                  12.750000
486                  12.125000
503                  12.125000

[32 rows x 49 columns]

In [32]:
results_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,penalty_goals,run_metres,runs,...,avg_tackle_breaks_past_4_matches,avg_tackle_breaks_past_8_matches,avg_tackles_past_4_matches,avg_tackles_past_8_matches,avg_missed_tackles_past_4_matches,avg_missed_tackles_past_8_matches,avg_kicking_metres_past_4_matches,avg_kicking_metres_past_8_matches,avg_errors_past_4_matches,avg_errors_past_8_matches
0,1,1,14,1,1,34,5,3,1618,168,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1,14,0,12,2,1,1076,130,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2,8,6,1,19,3,0,1425,192,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,6,8,0,18,3,1,1648,178,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,3,10,4,1,20,4,1,1348,165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
query = pd.read_sql_query('''
    SELECT * 
    FROM Matches
''', mydb)
predictions_df = pd.DataFrame(query)
predictions_df.head()

In [ ]:
predictions_df = predictions_df[['id', 'round', 'home_team_id', 'home_score', 'away_team_id', 'away_score', 'winner', 'home_odds', 'away_odds']]

In [ ]:
columns = list(results_df.drop(columns=['id', 'match_id', 'team_id', 'opponent_id', 'is_winner', 'points',
                                    'tries', 'penalty_goals', 'run_metres', 'runs', 'line_breaks',
                                    'tackle_breaks', 'tackles', 'missed_tackles', 'kicking_metres',
                                    'errors', 'metres_per_run', 'opp_points', 'opp_tries', 'opp_run_metres',
                                    'opp_metres_per_run', 'opp_line_breaks', 'opp_tackles', 'point_diff',
                                    'run_metre_diff']))

columns = predictions_df.columns.tolist()
for team in ['h', 'a']:
    for column in columns:
        columns.append(team + '_' + column)
print(columns)
#c = [*predictions_df.columns.tolist().append(new_columns)

#columns = [*results_df.columns.tolist(),'opp_points', 'opp_tries', 'opp_run_metres',
           'opp_metres_per_run', 'opp_line_breaks', 'opp_tackles', 'point_diff', 'run_metre_diff']
predictions_df = predictions_df.reindex(columns=columns, fill_value=0)

for match in predictions_df.iterrows():
    match = match[1]
    home_team = match['home_team_id']
    away_team = match['away_team_id']
    match_result_data = results_df.loc[results_df['match_id'] == match['id']]
    home_data = match_result_data[match_result_data['team_id'] == home_team]
    away_data = match_result_data[match_result_data['team_id'] == away_team]
    for team in ['h', 'a']:
        if team == 'h':
            df = home_data
        else:
            df = away_data
        df = df.drop(columns=['id', 'match_id', 'team_id', 'opponent_id', 'is_winner', 'points',
                                    'tries', 'penalty_goals', 'run_metres', 'runs', 'line_breaks',
                                    'tackle_breaks', 'tackles', 'missed_tackles', 'kicking_metres',
                                    'errors', 'metres_per_run', 'opp_points', 'opp_tries', 'opp_run_metres',
                                    'opp_metres_per_run', 'opp_line_breaks', 'opp_tackles', 'point_diff',
                                     'run_metre_diff'])
        for column in list(df.columns):
            col = team + '_' + column
            print(col)
            print(column)
            match[col] = team[column]

#predictions_df = predictions_df.apply(lambda x: add_data_to_prediction_df(x))
predictions_df.head()

In [ ]:
mycursor.close()