# Predicting Match Outcomes

In [1]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd
import datetime

In [8]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [9]:
query = pd.read_sql_query('''
    SELECT * 
    FROM TeamMatchStats
''', mydb)

In [10]:
match_stat_df = pd.DataFrame(query)

In [11]:
match_stat_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,prop_1,prop_2,hooker,sr_1,sr_2,lock_1,int_1,int_2,int_3,int_4
0,1,1,14,1,1,34,5,4,3,0.8000,...,404,396,391,407,406,483,1626,402,397,219
1,2,1,1,14,0,12,2,1,1,0.5000,...,11,500,499,2,10,269,3,400,9,1624
2,3,2,8,6,1,19,3,3,0,1.0000,...,192,503,201,196,188,197,190,429,194,505
3,4,2,6,8,0,18,3,2,1,0.6667,...,510,509,153,511,155,512,516,309,513,327
4,5,3,10,4,1,20,4,1,1,0.2500,...,268,272,265,264,375,266,260,276,267,261

# Prediction Algorithm

Things to try:
1. Want to create scoring function (sklearn.metrics import f1_score, make_scorer, classification_report)

2. Random Forest
3. Neural Network (10-3-2)

Features to try:
- home field advantage
- form in last X matches
- Points differential last X matches
- Points scored last X matches
- Points allowed last X matches
- Running metre differential last X matches
- Tackle Percentages
- Factor in the strength of opposition

In [17]:
for match in list(match_stat_df['match_id'].unique()):
    match_df = match_stat_df[match_stat_df['match_id'] == match]
    for team in list(match_df['team_id']):
        team_data = match_df.loc[match_df['team_id'] == team]
        opp_data = match_df.loc[match_df['team_id'] != team]
#         opp_points = opp_data['points'][1]
#         point_differential = team_data['points'][0] - opp_points
#         opp_tries = opp_data['tries']
#         opp_runs = opp_data['runs']
#         opp_run_metres = opp_data['run_metres']
#         opp_metres_per_run = opp_data['metres_per_run']
#         opp_kick_return_metres = opp_data['kick_return_metres']
#         opp_post_contact_metres = opp_data['post_contact_metres']
#         opp_line_breaks = opp_data['line_breaks']
#         opp_tackles = opp_data['tackles']
#         opp_missed_tackles = opp_data['missed_tackles'] + opp_data['ineffective_tackles']
#         opp_kicks = opp_data['kicks']
#         opp_kicking_metres = opp_data['metres_per_kick']
        print(opp_data['points'].dtype)
        point_diff = team_data['points'] - opp_data['points']
        print(point_diff)
        #print(opp_data['points'])

int64
0   NaN
1   NaN
Name: points, dtype: float64
int64
0   NaN
1   NaN
Name: points, dtype: float64
int64
2   NaN
3   NaN
Name: points, dtype: float64
int64
2   NaN
3   NaN
Name: points, dtype: float64
int64
4   NaN
5   NaN
Name: points, dtype: float64
int64
4   NaN
5   NaN
Name: points, dtype: float64
int64
6   NaN
7   NaN
Name: points, dtype: float64
int64
6   NaN
7   NaN
Name: points, dtype: float64
int64
8   NaN
9   NaN
Name: points, dtype: float64
int64
8   NaN
9   NaN
Name: points, dtype: float64
int64
10   NaN
11   NaN
Name: points, dtype: float64
int64
10   NaN
11   NaN
Name: points, dtype: float64
int64
12   NaN
13   NaN
Name: points, dtype: float64
int64
12   NaN
13   NaN
Name: points, dtype: float64
int64
14   NaN
15   NaN
Name: points, dtype: float64
int64
14   NaN
15   NaN
Name: points, dtype: float64
int64
16   NaN
17   NaN
Name: points, dtype: float64
int64
16   NaN
17   NaN
Name: points, dtype: float64
int64
18   NaN
19   NaN
Name: points, dtype: float64
int64
18   NaN
19   NaN
Name: points, dtype: float64
int64
20   NaN
21   NaN
Name: points, dtype: float64
int64
20   NaN
21   NaN
Name: points, dtype: float64
int64
22   NaN
23   NaN
Name: points, dtype: float64
int64
22   NaN
23   NaN
Name: points, dtype: float64
int64
24   NaN
25   NaN
Name: points, dtype: float64
int64
24   NaN
25   NaN
Name: points, dtype: float64
int64
26   NaN
27   NaN
Name: points, dtype: float64
int64
26   NaN
27   NaN
Name: points, dtype: float64
int64
28   NaN
29   NaN
Name: points, dtype: float64
int64
28   NaN
29   NaN
Name: points, dtype: float64
int64
30   NaN
31   NaN
Name: points, dtype: float64
int64
30   NaN
31   NaN
Name: points, dtype: float64
int64
32   NaN
33   NaN
Name: points, dtype: float64
int64
32   NaN
33   NaN
Name: points, dtype: float64
int64
34   NaN
35   NaN
Name: points, dtype: float64
int64
34   NaN
35   NaN
Name: points, dtype: float64
int64
36   NaN
37   NaN
Name: points, dtype: float64
int64
36   NaN
37   NaN
Name: points, dtype: float64
int64
38   NaN
39   NaN
Name: points, dtype: float64
int64
38   NaN
39   NaN
Name: points, dtype: float64
int64
40   NaN
41   NaN
Name: points, dtype: float64
int64
40   NaN
41   NaN
Name: points, dtype: float64
int64
42   NaN
43   NaN
Name: points, dtype: float64
int64
42   NaN
43   NaN
Name: points, dtype: float64
int64
44   NaN
45   NaN
Name: points, dtype: float64
int64
44   NaN
45   NaN
Name: points, dtype: float64
int64
46   NaN
47   NaN
Name: points, dtype: float64
int64
46   NaN
47   NaN
Name: points, dtype: float64
int64
48   NaN
49   NaN
Name: points, dtype: float64
int64
48   NaN
49   NaN
Name: points, dtype: float64
int64
50   NaN
51   NaN
Name: points, dtype: float64
int64
50   NaN
51   NaN
Name: points, dtype: float64
int64
52   NaN
53   NaN
Name: points, dtype: float64
int64
52   NaN
53   NaN
Name: points, dtype: float64
int64
54   NaN
55   NaN
Name: points, dtype: float64
int64
54   NaN
55   NaN
Name: points, dtype: float64
int64
56   NaN
57   NaN
Name: points, dtype: float64
int64
56   NaN
57   NaN
Name: points, dtype: float64
int64
58   NaN
59   NaN
Name: points, dtype: float64
int64
58   NaN
59   NaN
Name: points, dtype: float64
int64
60   NaN
61   NaN
Name: points, dtype: float64
int64
60   NaN
61   NaN
Name: points, dtype: float64
int64
62   NaN
63   NaN
Name: points, dtype: float64
int64
62   NaN
63   NaN
Name: points, dtype: float64
int64
64   NaN
65   NaN
Name: points, dtype: float64
int64
64   NaN
65   NaN
Name: points, dtype: float64
int64
66   NaN
67   NaN
Name: points, dtype: float64
int64
66   NaN
67   NaN
Name: points, dtype: float64
int64
68   NaN
69   NaN
Name: points, dtype: float64
int64
68   NaN
69   NaN
Name: points, dtype: float64
int64
70   NaN
71   NaN
Name: points, dtype: float64
int64
70   NaN
71   NaN
Name: points, dtype: float64
int64
72   NaN
73   NaN
Name: points, dtype: float64
int64
72   NaN
73   NaN
Name: points, dtype: float64
int64
74   NaN
75   NaN
Name: points, dtype: float64
int64
74   NaN
75   NaN
Name: points, dtype: float64
int64
76   NaN
77   NaN
Name: points, dtype: float64
int64
76   NaN
77   NaN
Name: points, dtype: float64
int64
78   NaN
79   NaN
Name: points, dtype: float64
int64
78   NaN
79   NaN
Name: points, dtype: float64
int64
80   NaN
81   NaN
Name: points, dtype: float64
int64
80   NaN
81   NaN
Name: points, dtype: float64
int64
82   NaN
83   NaN
Name: points, dtype: float64
int64
82   NaN
83   NaN
Name: points, dtype: float64
int64
84   NaN
85   NaN
Name: points, dtype: float64
int64
84   NaN
85   NaN
Name: points, dtype: float64
int64
86   NaN
87   NaN
Name: points, dtype: float64
int64
86   NaN
87   NaN
Name: points, dtype: float64
int64
88   NaN
89   NaN
Name: points, dtype: float64
int64
88   NaN
89   NaN
Name: points, dtype: float64
int64
90   NaN
91   NaN
Name: points, dtype: float64
int64
90   NaN
91   NaN
Name: points, dtype: float64
int64
92   NaN
93   NaN
Name: points, dtype: float64
int64
92   NaN
93   NaN
Name: points, dtype: float64
int64
94   NaN
95   NaN
Name: points, dtype: float64
int64
94   NaN
95   NaN
Name: points, dtype: float64
int64
96   NaN
97   NaN
Name: points, dtype: float64
int64
96   NaN
97   NaN
Name: points, dtype: float64
int64
98   NaN
99   NaN
Name: points, dtype: float64
int64
98   NaN
99   NaN
Name: points, dtype: float64
int64
100   NaN
101   NaN
Name: points, dtype: float64
int64
100   NaN
101   NaN
Name: points, dtype: float64
int64
102   NaN
103   NaN
Name: points, dtype: float64
int64
102   NaN
103   NaN
Name: points, dtype: float64
int64
104   NaN
105   NaN
Name: points, dtype: float64
int64
104   NaN
105   NaN
Name: points, dtype: float64
int64
106   NaN
107   NaN
Name: points, dtype: float64
int64
106   NaN
107   NaN
Name: points, dtype: float64
int64
108   NaN
109   NaN
Name: points, dtype: float64
int64
108   NaN
109   NaN
Name: points, dtype: float64
int64
110   NaN
111   NaN
Name: points, dtype: float64
int64
110   NaN
111   NaN
Name: points, dtype: float64
int64
112   NaN
113   NaN
Name: points, dtype: float64
int64
112   NaN
113   NaN
Name: points, dtype: float64
int64
114   NaN
115   NaN
Name: points, dtype: float64
int64
114   NaN
115   NaN
Name: points, dtype: float64
int64
116   NaN
117   NaN
Name: points, dtype: float64
int64
116   NaN
117   NaN
Name: points, dtype: float64
int64
118   NaN
119   NaN
Name: points, dtype: float64
int64
118   NaN
119   NaN
Name: points, dtype: float64
int64
120   NaN
121   NaN
Name: points, dtype: float64
int64
120   NaN
121   NaN
Name: points, dtype: float64
int64
122   NaN
123   NaN
Name: points, dtype: float64
int64
122   NaN
123   NaN
Name: points, dtype: float64
int64
124   NaN
125   NaN
Name: points, dtype: float64
int64
124   NaN
125   NaN
Name: points, dtype: float64
int64
126   NaN
127   NaN
Name: points, dtype: float64
int64
126   NaN
127   NaN
Name: points, dtype: float64
int64
128   NaN
129   NaN
Name: points, dtype: float64
int64
128   NaN
129   NaN
Name: points, dtype: float64
int64
130   NaN
131   NaN
Name: points, dtype: float64
int64
130   NaN
131   NaN
Name: points, dtype: float64
int64
132   NaN
133   NaN
Name: points, dtype: float64
int64
132   NaN
133   NaN
Name: points, dtype: float64
int64
134   NaN
135   NaN
Name: points, dtype: float64
int64
134   NaN
135   NaN
Name: points, dtype: float64
int64
136   NaN
137   NaN
Name: points, dtype: float64
int64
136   NaN
137   NaN
Name: points, dtype: float64
int64
138   NaN
139   NaN
Name: points, dtype: float64
int64
138   NaN
139   NaN
Name: points, dtype: float64
int64
140   NaN
141   NaN
Name: points, dtype: float64
int64
140   NaN
141   NaN
Name: points, dtype: float64
int64
142   NaN
143   NaN
Name: points, dtype: float64
int64
142   NaN
143   NaN
Name: points, dtype: float64
int64
144   NaN
145   NaN
Name: points, dtype: float64
int64
144   NaN
145   NaN
Name: points, dtype: float64
int64
146   NaN
147   NaN
Name: points, dtype: float64
int64
146   NaN
147   NaN
Name: points, dtype: float64
int64
148   NaN
149   NaN
Name: points, dtype: float64
int64
148   NaN
149   NaN
Name: points, dtype: float64
int64
150   NaN
151   NaN
Name: points, dtype: float64
int64
150   NaN
151   NaN
Name: points, dtype: float64
int64
152   NaN
153   NaN
Name: points, dtype: float64
int64
152   NaN
153   NaN
Name: points, dtype: float64
int64
154   NaN
155   NaN
Name: points, dtype: float64
int64
154   NaN
155   NaN
Name: points, dtype: float64
int64
156   NaN
157   NaN
Name: points, dtype: float64
int64
156   NaN
157   NaN
Name: points, dtype: float64
int64
158   NaN
159   NaN
Name: points, dtype: float64
int64
158   NaN
159   NaN
Name: points, dtype: float64
int64
160   NaN
161   NaN
Name: points, dtype: float64
int64
160   NaN
161   NaN
Name: points, dtype: float64
int64
162   NaN
163   NaN
Name: points, dtype: float64
int64
162   NaN
163   NaN
Name: points, dtype: float64
int64
164   NaN
165   NaN
Name: points, dtype: float64
int64
164   NaN
165   NaN
Name: points, dtype: float64
int64
166   NaN
167   NaN
Name: points, dtype: float64
int64
166   NaN
167   NaN
Name: points, dtype: float64
int64
168   NaN
169   NaN
Name: points, dtype: float64
int64
168   NaN
169   NaN
Name: points, dtype: float64
int64
170   NaN
171   NaN
Name: points, dtype: float64
int64
170   NaN
171   NaN
Name: points, dtype: float64
int64
172   NaN
173   NaN
Name: points, dtype: float64
int64
172   NaN
173   NaN
Name: points, dtype: float64
int64
174   NaN
175   NaN
Name: points, dtype: float64
int64
174   NaN
175   NaN
Name: points, dtype: float64
int64
176   NaN
177   NaN
Name: points, dtype: float64
int64
176   NaN
177   NaN
Name: points, dtype: float64
int64
178   NaN
179   NaN
Name: points, dtype: float64
int64
178   NaN
179   NaN
Name: points, dtype: float64
int64
180   NaN
181   NaN
Name: points, dtype: float64
int64
180   NaN
181   NaN
Name: points, dtype: float64
int64
182   NaN
183   NaN
Name: points, dtype: float64
int64
182   NaN
183   NaN
Name: points, dtype: float64
int64
184   NaN
185   NaN
Name: points, dtype: float64
int64
184   NaN
185   NaN
Name: points, dtype: float64
int64
186   NaN
187   NaN
Name: points, dtype: float64
int64
186   NaN
187   NaN
Name: points, dtype: float64
int64
188   NaN
189   NaN
Name: points, dtype: float64
int64
188   NaN
189   NaN
Name: points, dtype: float64
int64
190   NaN
191   NaN
Name: points, dtype: float64
int64
190   NaN
191   NaN
Name: points, dtype: float64
int64
192   NaN
193   NaN
Name: points, dtype: float64

int64
192   NaN
193   NaN
Name: points, dtype: float64
int64
194   NaN
195   NaN
Name: points, dtype: float64
int64
194   NaN
195   NaN
Name: points, dtype: float64
int64
196   NaN
197   NaN
Name: points, dtype: float64
int64
196   NaN
197   NaN
Name: points, dtype: float64
int64
198   NaN
199   NaN
Name: points, dtype: float64
int64
198   NaN
199   NaN
Name: points, dtype: float64
int64
200   NaN
201   NaN
Name: points, dtype: float64
int64
200   NaN
201   NaN
Name: points, dtype: float64
int64
202   NaN
203   NaN
Name: points, dtype: float64
int64
202   NaN
203   NaN
Name: points, dtype: float64
int64
204   NaN
205   NaN
Name: points, dtype: float64
int64
204   NaN
205   NaN
Name: points, dtype: float64
int64
206   NaN
207   NaN
Name: points, dtype: float64
int64
206   NaN
207   NaN
Name: points, dtype: float64
int64
208   NaN
209   NaN
Name: points, dtype: float64
int64
208   NaN
209   NaN
Name: points, dtype: float64
int64
210   NaN
211   NaN
Name: points, dtype: float64
int64
210   NaN
211   NaN
Name: points, dtype: float64
int64
212   NaN
213   NaN
Name: points, dtype: float64
int64
212   NaN
213   NaN
Name: points, dtype: float64
int64
214   NaN
215   NaN
Name: points, dtype: float64
int64
214   NaN
215   NaN
Name: points, dtype: float64
int64
216   NaN
217   NaN
Name: points, dtype: float64
int64
216   NaN
217   NaN
Name: points, dtype: float64
int64
218   NaN
219   NaN
Name: points, dtype: float64
int64
218   NaN
219   NaN
Name: points, dtype: float64
int64
220   NaN
221   NaN
Name: points, dtype: float64
int64
220   NaN
221   NaN
Name: points, dtype: float64
int64
222   NaN
223   NaN
Name: points, dtype: float64
int64
222   NaN
223   NaN
Name: points, dtype: float64
int64
224   NaN
225   NaN
Name: points, dtype: float64
int64
224   NaN
225   NaN
Name: points, dtype: float64
int64
226   NaN
227   NaN
Name: points, dtype: float64
int64
226   NaN
227   NaN
Name: points, dtype: float64
int64
228   NaN
229   NaN
Name: points, dtype: float64
int64
228   NaN
229   NaN
Name: points, dtype: float64
int64
230   NaN
231   NaN
Name: points, dtype: float64
int64
230   NaN
231   NaN
Name: points, dtype: float64
int64
232   NaN
233   NaN
Name: points, dtype: float64
int64
232   NaN
233   NaN
Name: points, dtype: float64
int64
234   NaN
235   NaN
Name: points, dtype: float64
int64
234   NaN
235   NaN
Name: points, dtype: float64
int64
236   NaN
237   NaN
Name: points, dtype: float64
int64
236   NaN
237   NaN
Name: points, dtype: float64
int64
238   NaN
239   NaN
Name: points, dtype: float64
int64
238   NaN
239   NaN
Name: points, dtype: float64
int64
240   NaN
241   NaN
Name: points, dtype: float64
int64
240   NaN
241   NaN
Name: points, dtype: float64
int64
242   NaN
243   NaN
Name: points, dtype: float64
int64
242   NaN
243   NaN
Name: points, dtype: float64
int64
244   NaN
245   NaN
Name: points, dtype: float64
int64
244   NaN
245   NaN
Name: points, dtype: float64
int64
246   NaN
247   NaN
Name: points, dtype: float64
int64
246   NaN
247   NaN
Name: points, dtype: float64
int64
248   NaN
249   NaN
Name: points, dtype: float64
int64
248   NaN
249   NaN
Name: points, dtype: float64
int64
250   NaN
251   NaN
Name: points, dtype: float64
int64
250   NaN
251   NaN
Name: points, dtype: float64
int64
252   NaN
253   NaN
Name: points, dtype: float64
int64
252   NaN
253   NaN
Name: points, dtype: float64
int64
254   NaN
255   NaN
Name: points, dtype: float64
int64
254   NaN
255   NaN
Name: points, dtype: float64
int64
256   NaN
257   NaN
Name: points, dtype: float64
int64
256   NaN
257   NaN
Name: points, dtype: float64
int64
258   NaN
259   NaN
Name: points, dtype: float64
int64
258   NaN
259   NaN
Name: points, dtype: float64
int64
260   NaN
261   NaN
Name: points, dtype: float64
int64
260   NaN
261   NaN
Name: points, dtype: float64
int64
262   NaN
263   NaN
Name: points, dtype: float64
int64
262   NaN
263   NaN
Name: points, dtype: float64
int64
264   NaN
265   NaN
Name: points, dtype: float64
int64
264   NaN
265   NaN
Name: points, dtype: float64
int64
266   NaN
267   NaN
Name: points, dtype: float64
int64
266   NaN
267   NaN
Name: points, dtype: float64
int64
268   NaN
269   NaN
Name: points, dtype: float64
int64
268   NaN
269   NaN
Name: points, dtype: float64
int64
270   NaN
271   NaN
Name: points, dtype: float64
int64
270   NaN
271   NaN
Name: points, dtype: float64
int64
272   NaN
273   NaN
Name: points, dtype: float64
int64
272   NaN
273   NaN
Name: points, dtype: float64
int64
274   NaN
275   NaN
Name: points, dtype: float64
int64
274   NaN
275   NaN
Name: points, dtype: float64
int64
276   NaN
277   NaN
Name: points, dtype: float64
int64
276   NaN
277   NaN
Name: points, dtype: float64
int64
278   NaN
279   NaN
Name: points, dtype: float64
int64
278   NaN
279   NaN
Name: points, dtype: float64
int64
280   NaN
281   NaN
Name: points, dtype: float64
int64
280   NaN
281   NaN
Name: points, dtype: float64
int64
282   NaN
283   NaN
Name: points, dtype: float64
int64
282   NaN
283   NaN
Name: points, dtype: float64
int64
284   NaN
285   NaN
Name: points, dtype: float64
int64
284   NaN
285   NaN
Name: points, dtype: float64
int64
286   NaN
287   NaN
Name: points, dtype: float64
int64
286   NaN
287   NaN
Name: points, dtype: float64
int64
288   NaN
289   NaN
Name: points, dtype: float64
int64
288   NaN
289   NaN
Name: points, dtype: float64
int64
290   NaN
291   NaN
Name: points, dtype: float64
int64
290   NaN
291   NaN
Name: points, dtype: float64
int64
292   NaN
293   NaN
Name: points, dtype: float64
int64
292   NaN
293   NaN
Name: points, dtype: float64
int64
294   NaN
295   NaN
Name: points, dtype: float64
int64
294   NaN
295   NaN
Name: points, dtype: float64
int64
296   NaN
297   NaN
Name: points, dtype: float64
int64
296   NaN
297   NaN
Name: points, dtype: float64
int64
298   NaN
299   NaN
Name: points, dtype: float64
int64
298   NaN
299   NaN
Name: points, dtype: float64
int64
300   NaN
301   NaN
Name: points, dtype: float64
int64
300   NaN
301   NaN
Name: points, dtype: float64
int64
302   NaN
303   NaN
Name: points, dtype: float64
int64
302   NaN
303   NaN
Name: points, dtype: float64
int64
304   NaN
305   NaN
Name: points, dtype: float64
int64
304   NaN
305   NaN
Name: points, dtype: float64
int64
306   NaN
307   NaN
Name: points, dtype: float64
int64
306   NaN
307   NaN
Name: points, dtype: float64
int64
308   NaN
309   NaN
Name: points, dtype: float64
int64
308   NaN
309   NaN
Name: points, dtype: float64
int64
310   NaN
311   NaN
Name: points, dtype: float64
int64
310   NaN
311   NaN
Name: points, dtype: float64
int64
312   NaN
313   NaN
Name: points, dtype: float64
int64
312   NaN
313   NaN
Name: points, dtype: float64
int64
314   NaN
315   NaN
Name: points, dtype: float64
int64
314   NaN
315   NaN
Name: points, dtype: float64
int64
316   NaN
317   NaN
Name: points, dtype: float64
int64
316   NaN
317   NaN
Name: points, dtype: float64
int64
318   NaN
319   NaN
Name: points, dtype: float64
int64
318   NaN
319   NaN
Name: points, dtype: float64
int64
320   NaN
321   NaN
Name: points, dtype: float64
int64
320   NaN
321   NaN
Name: points, dtype: float64
int64
322   NaN
323   NaN
Name: points, dtype: float64
int64
322   NaN
323   NaN
Name: points, dtype: float64
int64
324   NaN
325   NaN
Name: points, dtype: float64
int64
324   NaN
325   NaN
Name: points, dtype: float64
int64
326   NaN
327   NaN
Name: points, dtype: float64
int64
326   NaN
327   NaN
Name: points, dtype: float64
int64
328   NaN
329   NaN
Name: points, dtype: float64
int64
328   NaN
329   NaN
Name: points, dtype: float64
int64
330   NaN
331   NaN
Name: points, dtype: float64
int64
330   NaN
331   NaN
Name: points, dtype: float64
int64
332   NaN
333   NaN
Name: points, dtype: float64
int64
332   NaN
333   NaN
Name: points, dtype: float64
int64
334   NaN
335   NaN
Name: points, dtype: float64
int64
334   NaN
335   NaN
Name: points, dtype: float64
int64
336   NaN
337   NaN
Name: points, dtype: float64
int64
336   NaN
337   NaN
Name: points, dtype: float64
int64
338   NaN
339   NaN
Name: points, dtype: float64
int64
338   NaN
339   NaN
Name: points, dtype: float64
int64
340   NaN
341   NaN
Name: points, dtype: float64
int64
340   NaN
341   NaN
Name: points, dtype: float64
int64
342   NaN
343   NaN
Name: points, dtype: float64
int64
342   NaN
343   NaN
Name: points, dtype: float64
int64
344   NaN
345   NaN
Name: points, dtype: float64
int64
344   NaN
345   NaN
Name: points, dtype: float64
int64
346   NaN
347   NaN
Name: points, dtype: float64
int64
346   NaN
347   NaN
Name: points, dtype: float64
int64
348   NaN
349   NaN
Name: points, dtype: float64
int64
348   NaN
349   NaN
Name: points, dtype: float64
int64
350   NaN
351   NaN
Name: points, dtype: float64
int64
350   NaN
351   NaN
Name: points, dtype: float64
int64
352   NaN
353   NaN
Name: points, dtype: float64
int64
352   NaN
353   NaN
Name: points, dtype: float64
int64
354   NaN
355   NaN
Name: points, dtype: float64
int64
354   NaN
355   NaN
Name: points, dtype: float64
int64
356   NaN
357   NaN
Name: points, dtype: float64
int64
356   NaN
357   NaN
Name: points, dtype: float64

int64
358   NaN
359   NaN
Name: points, dtype: float64
int64
358   NaN
359   NaN
Name: points, dtype: float64
int64
360   NaN
361   NaN
Name: points, dtype: float64
int64
360   NaN
361   NaN
Name: points, dtype: float64
int64
362   NaN
363   NaN
Name: points, dtype: float64
int64
362   NaN
363   NaN
Name: points, dtype: float64
int64
364   NaN
365   NaN
Name: points, dtype: float64
int64
364   NaN
365   NaN
Name: points, dtype: float64
int64
366   NaN
367   NaN
Name: points, dtype: float64
int64
366   NaN
367   NaN
Name: points, dtype: float64
int64
368   NaN
369   NaN
Name: points, dtype: float64
int64
368   NaN
369   NaN
Name: points, dtype: float64
int64
370   NaN
371   NaN
Name: points, dtype: float64
int64
370   NaN
371   NaN
Name: points, dtype: float64
int64
372   NaN
373   NaN
Name: points, dtype: float64
int64
372   NaN
373   NaN
Name: points, dtype: float64
int64
374   NaN
375   NaN
Name: points, dtype: float64
int64
374   NaN
375   NaN
Name: points, dtype: float64
int64
376   NaN
377   NaN
Name: points, dtype: float64
int64
376   NaN
377   NaN
Name: points, dtype: float64
int64
378   NaN
379   NaN
Name: points, dtype: float64
int64
378   NaN
379   NaN
Name: points, dtype: float64
int64
380   NaN
381   NaN
Name: points, dtype: float64
int64
380   NaN
381   NaN
Name: points, dtype: float64
int64
382   NaN
383   NaN
Name: points, dtype: float64
int64
382   NaN
383   NaN
Name: points, dtype: float64
int64
384   NaN
385   NaN
Name: points, dtype: float64
int64
384   NaN
385   NaN
Name: points, dtype: float64
int64
386   NaN
387   NaN
Name: points, dtype: float64
int64
386   NaN
387   NaN
Name: points, dtype: float64
int64
388   NaN
389   NaN
Name: points, dtype: float64
int64
388   NaN
389   NaN
Name: points, dtype: float64
int64
390   NaN
391   NaN
Name: points, dtype: float64
int64
390   NaN
391   NaN
Name: points, dtype: float64
int64
392   NaN
393   NaN
Name: points, dtype: float64
int64
392   NaN
393   NaN
Name: points, dtype: float64
int64
394   NaN
395   NaN
Name: points, dtype: float64
int64
394   NaN
395   NaN
Name: points, dtype: float64
int64
396   NaN
397   NaN
Name: points, dtype: float64
int64
396   NaN
397   NaN
Name: points, dtype: float64
int64
398   NaN
399   NaN
Name: points, dtype: float64
int64
398   NaN
399   NaN
Name: points, dtype: float64
int64
400   NaN
401   NaN
Name: points, dtype: float64
int64
400   NaN
401   NaN
Name: points, dtype: float64
int64
402   NaN
403   NaN
Name: points, dtype: float64
int64
402   NaN
403   NaN
Name: points, dtype: float64
int64
404   NaN
405   NaN
Name: points, dtype: float64
int64
404   NaN
405   NaN
Name: points, dtype: float64
int64
406   NaN
407   NaN
Name: points, dtype: float64
int64
406   NaN
407   NaN
Name: points, dtype: float64
int64
408   NaN
409   NaN
Name: points, dtype: float64
int64
408   NaN
409   NaN
Name: points, dtype: float64
int64
410   NaN
411   NaN
Name: points, dtype: float64
int64
410   NaN
411   NaN
Name: points, dtype: float64
int64
412   NaN
413   NaN
Name: points, dtype: float64
int64
412   NaN
413   NaN
Name: points, dtype: float64
int64
414   NaN
415   NaN
Name: points, dtype: float64
int64
414   NaN
415   NaN
Name: points, dtype: float64
int64
416   NaN
417   NaN
Name: points, dtype: float64
int64
416   NaN
417   NaN
Name: points, dtype: float64
int64
418   NaN
419   NaN
Name: points, dtype: float64
int64
418   NaN
419   NaN
Name: points, dtype: float64
int64
420   NaN
421   NaN
Name: points, dtype: float64
int64
420   NaN
421   NaN
Name: points, dtype: float64
int64
422   NaN
423   NaN
Name: points, dtype: float64
int64
422   NaN
423   NaN
Name: points, dtype: float64
int64
424   NaN
425   NaN
Name: points, dtype: float64
int64
424   NaN
425   NaN
Name: points, dtype: float64
int64
426   NaN
427   NaN
Name: points, dtype: float64
int64
426   NaN
427   NaN
Name: points, dtype: float64
int64
428   NaN
429   NaN
Name: points, dtype: float64
int64
428   NaN
429   NaN
Name: points, dtype: float64
int64
430   NaN
431   NaN
Name: points, dtype: float64
int64
430   NaN
431   NaN
Name: points, dtype: float64
int64
432   NaN
433   NaN
Name: points, dtype: float64
int64
432   NaN
433   NaN
Name: points, dtype: float64
int64
434   NaN
435   NaN
Name: points, dtype: float64
int64
434   NaN
435   NaN
Name: points, dtype: float64
int64
436   NaN
437   NaN
Name: points, dtype: float64
int64
436   NaN
437   NaN
Name: points, dtype: float64
int64
438   NaN
439   NaN
Name: points, dtype: float64
int64
438   NaN
439   NaN
Name: points, dtype: float64
int64
440   NaN
441   NaN
Name: points, dtype: float64
int64
440   NaN
441   NaN
Name: points, dtype: float64
int64
442   NaN
443   NaN
Name: points, dtype: float64
int64
442   NaN
443   NaN
Name: points, dtype: float64
int64
444   NaN
445   NaN
Name: points, dtype: float64
int64
444   NaN
445   NaN
Name: points, dtype: float64
int64
446   NaN
447   NaN
Name: points, dtype: float64
int64
446   NaN
447   NaN
Name: points, dtype: float64
int64
448   NaN
449   NaN
Name: points, dtype: float64
int64
448   NaN
449   NaN
Name: points, dtype: float64
int64
450   NaN
451   NaN
Name: points, dtype: float64
int64
450   NaN
451   NaN
Name: points, dtype: float64
int64
452   NaN
453   NaN
Name: points, dtype: float64
int64
452   NaN
453   NaN
Name: points, dtype: float64
int64
454   NaN
455   NaN
Name: points, dtype: float64
int64
454   NaN
455   NaN
Name: points, dtype: float64
int64
456   NaN
457   NaN
Name: points, dtype: float64
int64
456   NaN
457   NaN
Name: points, dtype: float64
int64
458   NaN
459   NaN
Name: points, dtype: float64
int64
458   NaN
459   NaN
Name: points, dtype: float64
int64
460   NaN
461   NaN
Name: points, dtype: float64
int64
460   NaN
461   NaN
Name: points, dtype: float64
int64
462   NaN
463   NaN
Name: points, dtype: float64
int64
462   NaN
463   NaN
Name: points, dtype: float64
int64
464   NaN
465   NaN
Name: points, dtype: float64
int64
464   NaN
465   NaN
Name: points, dtype: float64
int64
466   NaN
467   NaN
Name: points, dtype: float64
int64
466   NaN
467   NaN
Name: points, dtype: float64
int64
468   NaN
469   NaN
Name: points, dtype: float64
int64
468   NaN
469   NaN
Name: points, dtype: float64
int64
470   NaN
471   NaN
Name: points, dtype: float64
int64
470   NaN
471   NaN
Name: points, dtype: float64
int64
472   NaN
473   NaN
Name: points, dtype: float64
int64
472   NaN
473   NaN
Name: points, dtype: float64
int64
474   NaN
475   NaN
Name: points, dtype: float64
int64
474   NaN
475   NaN
Name: points, dtype: float64
int64
476   NaN
477   NaN
Name: points, dtype: float64
int64
476   NaN
477   NaN
Name: points, dtype: float64
int64
478   NaN
479   NaN
Name: points, dtype: float64
int64
478   NaN
479   NaN
Name: points, dtype: float64
int64
480   NaN
481   NaN
Name: points, dtype: float64
int64
480   NaN
481   NaN
Name: points, dtype: float64
int64
482   NaN
483   NaN
Name: points, dtype: float64
int64
482   NaN
483   NaN
Name: points, dtype: float64
int64
484   NaN
485   NaN
Name: points, dtype: float64
int64
484   NaN
485   NaN
Name: points, dtype: float64
int64
486   NaN
487   NaN
Name: points, dtype: float64
int64
486   NaN
487   NaN
Name: points, dtype: float64
int64
488   NaN
489   NaN
Name: points, dtype: float64
int64
488   NaN
489   NaN
Name: points, dtype: float64
int64
490   NaN
491   NaN
Name: points, dtype: float64
int64
490   NaN
491   NaN
Name: points, dtype: float64
int64
492   NaN
493   NaN
Name: points, dtype: float64
int64
492   NaN
493   NaN
Name: points, dtype: float64
int64
494   NaN
495   NaN
Name: points, dtype: float64
int64
494   NaN
495   NaN
Name: points, dtype: float64
int64
496   NaN
497   NaN
Name: points, dtype: float64
int64
496   NaN
497   NaN
Name: points, dtype: float64
int64
498   NaN
499   NaN
Name: points, dtype: float64
int64
498   NaN
499   NaN
Name: points, dtype: float64
int64
500   NaN
501   NaN
Name: points, dtype: float64
int64
500   NaN
501   NaN
Name: points, dtype: float64
int64
502   NaN
503   NaN
Name: points, dtype: float64
int64
502   NaN
503   NaN
Name: points, dtype: float64
int64
504   NaN
505   NaN
Name: points, dtype: float64
int64
504   NaN
505   NaN
Name: points, dtype: float64
int64
506   NaN
507   NaN
Name: points, dtype: float64
int64
506   NaN
507   NaN
Name: points, dtype: float64
int64
508   NaN
509   NaN
Name: points, dtype: float64
int64
508   NaN
509   NaN
Name: points, dtype: float64
int64
510   NaN
511   NaN
Name: points, dtype: float64
int64
510   NaN
511   NaN
Name: points, dtype: float64

In [ ]:
mycursor.close()