# Predicting Match Outcomes

In [1]:
#SQL Imports
import mysql.connector
#Pandas imports
import pandas as pd

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)
mycursor = mydb.cursor()

In [3]:
query = pd.read_sql_query('''
    SELECT * 
    FROM TeamMatchStats
''', mydb)

In [4]:
match_stat_df = pd.DataFrame(query)

In [5]:
match_stat_df.head()

,id,match_id,team_id,opponent_id,is_winner,points,tries,conversions,penalty_goals,conversion_percentage,...,prop_1,prop_2,hooker,sr_1,sr_2,lock_1,int_1,int_2,int_3,int_4
0,1,1,14,1,1,34,5,4,3,0.8000,...,404,396,391,407,406,483,1626,402,397,219
1,2,1,1,14,0,12,2,1,1,0.5000,...,11,500,499,2,10,269,3,400,9,1624
2,3,2,8,6,1,19,3,3,0,1.0000,...,192,503,201,196,188,197,190,429,194,505
3,4,2,6,8,0,18,3,2,1,0.6667,...,510,509,153,511,155,512,516,309,513,327
4,5,3,10,4,1,20,4,1,1,0.2500,...,268,272,265,264,375,266,260,276,267,261

In [27]:
for match in list(match_stat_df['match_id'].unique()):
    match_df = match_stat_df[match_stat_df['match_id'] == match]
    for team in list(match_df['team_id']):
        team_data = match_df.loc[match_df['team_id'] == team]
        opp_data = match_df.loc[match_df['team_id'] != team]
        opp_points = opp_data['points'][1]
        point_differential = team_data['points'][0] - opp_points
        opp_tries = opp_data['tries']
        opp_runs = opp_data['runs']
        opp_run_metres = opp_data['run_metres']
        opp_metres_per_run = opp_data['metres_per_run']
        opp_kick_return_metres = opp_data['kick_return_metres']
        opp_post_contact_metres = opp_data['post_contact_metres']
        opp_line_breaks = opp_data['line_breaks']
        opp_tackles = opp_data['tackles']
        opp_missed_tackles = opp_data['missed_tackles'] + opp_data['ineffective_tackles']
        opp_kicks = opp_data['kicks']
        opp_kicking_metres = opp_data['metres_per_kick']
        #Sprint(opp_data)
        print(team_data['points'][0])
        print(opp_points)

34
12

KeyError: 1

In [ ]:
mycursor.close()