# NRL match analysis

Going to determine which stats have the biggest impact on the outcome of NRL matches. We will see if we can use this information to make predictions about future matches.

In [2]:
#Import Pandas
import pandas as pd

In [3]:
#Connect to database
import mysql.connector as sql

mydb = sql.connect(
  host="localhost",
  user="root",
  passwd="NYg1@nts",
  database="NRL_data"
)

In [4]:
#Function to easily create dataframes from SQL query results
def create_df(query):
    return pd.read_sql_query(query, con=mydb)

In [5]:
#Only want to analyze matches from the 2018 season
matches2018 = "SELECT * FROM Matches WHERE year(date) = '2018';"
matches2018 = create_df(matches2018)
matches2018.head()

,id,date,round,home_team_id,home_score,away_team_id,away_score,winner,is_draw,stadium_id,weather,url
0,1,2018-03-08,1,14,34,1,12,14,0,1,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
1,2,2018-03-09,1,8,19,6,18,8,0,2,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
2,3,2018-03-09,1,10,20,4,14,10,0,3,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
3,4,2018-03-10,1,16,10,15,8,16,0,4,None,http://www.nrl.com/draw/nrl-premiership/2018/r...
4,5,2018-03-10,1,13,20,9,32,9,0,5,None,http://www.nrl.com/draw/nrl-premiership/2018/r...

# Make Standings to have better idea of teams that performed well

In [6]:
#Better way to view the data in a table...easier to work with team names than ids
matches2018 = '''SELECT m.id, m.round, m.date,
CASE
	WHEN m.home_team_id = m.winner THEN home.nickname
    ELSE away.nickname
END winner,
CASE
	WHEN m.home_team_id = m.winner THEN m.home_score
    ELSE m.away_score
END winning_score,
CASE
	WHEN m.home_team_id = m.winner THEN away.nickname
    ELSE home.nickname
END loser,
CASE
	WHEN m.home_team_id = m.winner THEN m.away_score
    ELSE m.home_score
END losing_score, home.nickname home, away.nickname away
FROM Matches m
JOIN Teams home
ON m.home_team_id = home.id
JOIN Teams away
ON m.away_team_id = away.id
WHERE year(m.date) = 2018
ORDER BY date;'''
matches2018 = create_df(matches2018)
matches2018.head()

,id,round,date,winner,winning_score,loser,losing_score,home,away
0,1,1,2018-03-08,Dragons,34,Broncos,12,Dragons,Broncos
1,2,1,2018-03-09,Knights,19,Sea Eagles,18,Knights,Sea Eagles
2,3,1,2018-03-09,Cowboys,20,Sharks,14,Cowboys,Sharks
3,6,1,2018-03-10,Storm,36,Bulldogs,18,Bulldogs,Storm
4,5,1,2018-03-10,Warriors,32,Rabbitohs,20,Rabbitohs,Warriors

In [7]:
winners = matches2018.groupby('winner')
w_scored = winners['winning_score'].sum()
w_allowed = winners['losing_score'].sum()

losers = matches2018.groupby('loser')
l_scored = losers['losing_score'].sum()
l_allowed = losers['winning_score'].sum()

total_scores = pd.concat([w_scored, l_scored, w_allowed, l_allowed], axis=1, join='inner')
total_scores.columns = ['scored_in_win', 'scored_in_loss', 'allowed_in_win', 'allowed_in_loss']
total_scores.head(2)

total_scores['scored'] = total_scores['scored_in_win'] + total_scores['scored_in_loss']
total_scores['allowed'] = total_scores['allowed_in_win'] + total_scores['allowed_in_loss']
total_scores['point_differential'] = total_scores['scored'] - total_scores['allowed']
total_points_data = total_scores[['point_differential', 'scored', 'allowed']]
total_points_data.head()

          point_differential  scored  allowed
Broncos                   56     556      500
Bulldogs                 -46     428      474
Cowboys                  -72     449      521
Dragons                   47     519      472
Eels                    -176     374      550

In [8]:
#Pull win / loss records from database
standings2018 = '''SELECT t.nickname team,
    count(m.winner) as wins,
    24 - count(m.winner) as loses
FROM Matches m
JOIN Teams t
ON m.winner = t.id
WHERE year(m.date) = 2018
GROUP BY m.winner
ORDER BY wins DESC;'''
standings2018 = create_df(standings2018).set_index('team')
standings2018.head()

           wins  loses
team
Roosters     16      8
Rabbitohs    16      8
Storm        16      8
Sharks       16      8
Dragons      15      9

In [9]:
final_standings = pd.concat([standings2018, total_points_data], axis=1, join='inner').sort_values(['wins', 'point_differential'], ascending=[0,0])
final_standings

            wins  loses  point_differential  scored  allowed
Roosters      16      8                 181     542      361
Storm         16      8                 173     536      363
Rabbitohs     16      8                 145     582      437
Sharks        16      8                  96     519      423
Broncos       15      9                  56     556      500
Panthers      15      9                  56     517      461
Dragons       15      9                  47     519      472
Warriors      15      9                  25     472      447
Tigers        12     12                 -83     377      460
Raiders       10     14                  23     563      540
Knights        9     15                -193     414      607
Bulldogs       8     16                 -46     428      474
Cowboys        8     16                 -72     449      521
Titans         8     16                -110     472      582
Sea Eagles     7     17                -122     500      622
Eels           6     18                -176     374      550

In [10]:
#From the standings above, we can see that points and 

final_standings.plot.scatter(x='wins', y='point_differential', color='Red', label='point_differential')
final_standings.plot.scatter(x='wins', y='scored', color='Blue', label='scored')
final_standings.plot.scatter(x='wins', y='allowed', color='Green', label='allowed')

We can see correlation between point_differential and wins, but lets look at alternative metrics and player stats to find a better correlation to win probability.

# Want to see if there are any statistics that are a good predictor of wins

In [11]:
#PlayerMatchStats
stats2018 = '''SELECT t.nickname team, 
	count(m.winner) * 2 as points,
    count(m.winner) as wins
FROM PlayerMatchStats m
JOIN Teams t
ON m.winner = t.id
WHERE year(m.date) = 2018
GROUP BY m.winner
ORDER BY points DESC;'''

In [45]:
query = '''SELECT CONCAT(p.first_name, ' ' ,p.last_name) name, t.nickname team, p_stats.*
        FROM PlayerMatchStats p_stats
        JOIN Players p
        ON p_stats.player_id = p.id
        JOIN Teams t
        ON p_stats.team_id = t.id;'''

player_df = create_df(query)
player_df

,name,team,id,match_id,player_id,team_id,position_id,minutes_played,points,tries,...,kicked_dead,errors,handling_errors,one_on_ones_lost,penalties,on_report,sin_bins,send_offs,stint_one,stint_two
0,Darius Boyd,Broncos,18,1,22,1,1,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
1,Corey Oates,Broncos,19,1,20,1,2,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
2,James Roberts,Broncos,20,1,27,1,3,80.0,8,2,...,0,0,0,0,1,0,0,0,80.0,None
3,Jordan Kahu,Broncos,21,1,251,1,3,80.0,4,0,...,0,1,1,0,0,0,0,0,80.0,None
4,Jamayne Isaako,Broncos,22,1,26,1,2,80.0,0,0,...,0,2,0,0,0,0,0,0,80.0,None
5,Anthony Milford,Broncos,23,1,19,1,4,80.0,0,0,...,1,1,1,0,1,0,0,0,80.0,None
6,Kodi Nikorima,Broncos,24,1,498,1,5,80.0,0,0,...,1,0,0,0,0,0,0,0,80.0,None
7,Matthew Lodge,Broncos,25,1,11,1,6,58.0,0,0,...,0,2,2,0,1,0,0,0,26.45,30.37
8,Sam Thaiday,Broncos,26,1,499,1,7,39.0,0,0,...,0,1,1,0,1,0,0,0,26.34,12.09
9,Tevita Pangai Junior,Broncos,27,1,500,1,6,46.0,0,0,...,0,2,2,0,0,0,0,0,22.44,22.55
10,Alex Glenn,Broncos,28,1,2,1,8,80.0,0,0,...,0,0,0,0,2,0,0,0,80.0,None
11,Matt Gillett,Broncos,29,1,10,1,8,68.0,0,0,...,0,0,0,0,0,0,0,0,67.51,None
12,Josh McGuire,Broncos,30,1,269,1,9,60.0,0,0,...,0,0,0,0,1,0,0,0,49.23,10.11
13,Andrew McCullough,Broncos,31,1,3,1,10,47.0,0,0,...,0,0,0,0,0,0,0,0,47.04,None
14,Joe Ofahengaue,Broncos,32,1,9,1,10,30.0,0,0,...,0,0,0,0,1,0,0,0,30.19,None
15,Korbin Sims,Broncos,33,1,400,1,10,34.0,0,0,...,0,0,0,0,0,0,0,0,34.06,None
16,Jaydn Su'a,Broncos,34,1,1624,1,10,19.0,0,0,...,0,2,2,0,1,1,0,0,19.19,None
17,Darius Boyd,Broncos,341,11,22,1,1,80.0,0,0,...,0,2,0,0,0,0,0,0,80.0,None
18,Corey Oates,Broncos,342,11,20,1,2,80.0,0,0,...,0,2,1,0,0,0,0,0,80.0,None
19,James Roberts,Broncos,343,11,27,1,3,80.0,0,0,...,0,0,0,0,1,0,0,0,80.0,None
20,Jordan Kahu,Broncos,344,11,251,1,3,18.0,0,0,...,0,0,0,0,0,0,0,0,18.0,None
21,Jamayne Isaako,Broncos,345,11,26,1,2,80.0,8,0,...,0,3,0,0,1,0,0,0,80.0,None
22,Anthony Milford,Broncos,346,11,19,1,4,80.0,0,0,...,1,0,0,0,0,0,0,0,80.0,None
23,Kodi Nikorima,Broncos,347,11,498,1,5,80.0,4,1,...,0,0,0,0,0,0,0,0,80.0,None
24,Matthew Lodge,Broncos,348,11,11,1,6,47.0,0,0,...,0,0,0,0,1,0,0,0,22.48,24.2
25,Andrew McCullough,Broncos,349,11,3,1,7,80.0,0,0,...,0,1,0,0,0,0,0,0,80.0,None
26,Tevita Pangai Junior,Broncos,350,11,500,1,6,39.0,4,1,...,0,1,0,0,2,0,0,0,21.52,16.4
27,Alex Glenn,Broncos,351,11,2,1,8,80.0,4,1,...,0,1,1,0,1,0,0,0,80.0,None
28,Matt Gillett,Broncos,352,11,10,1,8,80.0,0,0,...,0,0,0,0,1,0,0,0,80.0,None
29,Josh McGuire,Broncos,353,11,269,1,9,60.0,0,0,...,0,0,0,0,1,0,0,0,31.02,28.28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8674,Ken Maumalo,Warriors,8182,242,241,9,2,80.0,4,1,...,0,0,0,0,0,0,0,0,80.0,None
8675,Chanel Harris-Tavita,Warriors,8183,242,237,9,4,80.0,4,0,...,0,0,0,0,0,0,0,0,80.0,None
8676,Tohu Harris,Warriors,8184,242,234,9,5,80.0,0,0,...,0,0,0,0,0,0,0,0,80.0,None
8677,Agnatius Paasi,Warriors,8185,242,221,9,6,43.0,0,0,...,0,0,0,0,1,0,0,0,21.22,22.24
8678,Issac Luke,Warriors,8186,242,225,9,7,55.0,0,0,...,0,1,0,1,0,0,0,0,33.1,22.24
8679,Leeson Ah Mau,Warriors,8187,242,1626,9,6,48.0,0,0,...,0,0,0,0,0,0,0,0,26.01,13.34
8680,Adam Blair,Warriors,8188,242,220,9,8,80.0,4,1,...,0,1,1,0,1,0,0,0,80.0,None
8681,Isaiah Papali'i,Warriors,8189,242,224,9,8,80.0,0,0,...,0,1,0,0,2,0,0,0,80.0,None
8682,Lachlan Burr,Warriors,8190,242,1625,9,9,72.0,0,0,...,0,1,1,0,1,0,0,0,49.35,22.32
8683,Jazz Tevaga,Warriors,8191,242,227,9,10,14.0,0,0,...,0,0,0,0,0,0,0,0,14.0,None
8684,Bunty Afoa,Warriors,8192,242,222,9,10,36.0,0,0,...,0,0,0,0,0,0,0,0,36.06,None
8685,Nathaniel Roache,Warriors,8193,242,232,9,10,34.0,0,0,...,0,0,0,0,0,0,0,0,16.2,17.35
8686,Hayze Perham,Warriors,8194,242,240,9,10,17.0,0,0,...,0,0,0,0,0,0,0,0,17.0,None
8687,Roger Tuivasa-sheck,Warriors,8603,255,531,9,1,80.0,0,0,...,0,0,0,0,0,0,0,0,80.0,None
8688,Gerard Beale,Warriors,8604,255,239,9,2,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
8689,Peta Hiku,Warriors,8605,255,532,9,3,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
8690,Patrick Herbert,Warriors,8606,255,1640,9,3,80.0,4,1,...,0,1,1,0,1,0,0,0,80.0,None
8691,Ken Maumalo,Warriors,8607,255,241,9,2,80.0,8,2,...,0,0,0,0,0,0,0,0,80.0,None
8692,Chanel Harris-Tavita,Warriors,8608,255,237,9,4,68.0,6,0,...,0,1,1,0,1,0,0,0,68.17,None
8693,Blake Green,Warriors,8609,255,236,9,5,80.0,0,0,...,0,0,0,0,0,0,0,0,80.0,None
8694,Agnatius Paasi,Warriors,8610,255,221,9,6,51.0,0,0,...,0,1,1,0,0,0,0,0,23.59,19.04
8695,Issac Luke,Warriors,8611,255,225,9,7,53.0,0,0,...,0,0,0,0,0,0,0,0,29.12,23.38
8696,Leeson Ah Mau,Warriors,8612,255,1626,9,6,48.0,0,0,...,0,0,0,0,0,0,0,0,29.16,19.09
8697,Isaiah Papali'i,Warriors,8613,255,224,9,8,80.0,0,0,...,0,1,1,0,0,0,0,0,80.0,None
8698,Tohu Harris,Warriors,8614,255,234,9,8,80.0,0,0,...,0,2,2,0,1,0,0,0,80.0,None
8699,Lachlan Burr,Warriors,8615,255,1625,9,9,65.0,0,0,...,0,0,0,0,1,0,0,0,52.49,11.43
8700,Nathaniel Roache,Warriors,8616,255,232,9,10,37.0,0,0,...,0,0,0,0,0,0,0,0,27.1,10.06
8701,Adam Blair,Warriors,8617,255,220,9,10,46.0,0,0,...,0,0,0,0,2,0,0,0,45.55,None
8702,Hayze Perham,Warriors,8618,255,240,9,10,12.0,0,0,...,0,0,0,0,0,0,0,0,12.0,None
8703,Chris Satae,Warriors,8619,255,233,9,10,20.0,0,0,...,0,0,0,0,0,0,0,0,19.57,None

In [46]:
grouped = player_df.groupby(['match_id', 'team']) 
grouped.first()

                                        name    id  player_id  team_id  \
match_id team
1        Broncos                 Darius Boyd    18         22        1
         Dragons               Matthew Dufty     1        385       14
2        Knights                 Kalyn Ponga    35        209        8
         Sea Eagles            Tom Trbojevic    52        151        6
3        Cowboys                 Ben Hampton    69        244       10
         Sharks             Valentine Holmes    86        472        4
4        Roosters              James Tedesco   120        432       15
         Tigers             Tuimoala Lolohea   103        521       16
5        Rabbitohs             Alex Johnston   137        346       13
         Warriors        Roger Tuivasa-sheck   154        531        9
6        Bulldogs                 Moses Mbye   171        466        3
         Storm               Cameron Munster   188        175        7
7        Eels                   Bevan French   222        279       11
         Panthers              Dylan Edwards   205        319       12
8        Raiders                Jack Wighton   256         40        2
         Titans               Michael Gordon   239        117        5
9        Dragons               Matthew Dufty   290        385       14
         Sharks                   Josh Dugan   273         91        4
10       Bulldogs                 Moses Mbye   324        466        3
         Roosters              James Tedesco   307        432       15
11       Broncos                 Darius Boyd   341         22        1
         Cowboys                 Ben Hampton   358        244       10
12       Titans               Michael Gordon   392        117        5
         Warriors        Roger Tuivasa-sheck   375        531        9
13       Panthers              Dylan Edwards   409        319       12
         Rabbitohs             Alex Johnston   426        346       13
14       Storm                  Billy Slater   443        568        7
         Tigers              David Nofoaluma   460        459       16
15       Eels                   Bevan French   494        279       11
         Sea Eagles            Tom Trbojevic   477        151        6
...                                      ...   ...        ...      ...
242      Storm                Jahrome Hughes  8161        178        7
         Warriors                  Peta Hiku  8178        532        9
243      Bulldogs                Nick Meaney  8195       1636        3
         Cowboys              Te MaireMartin  8212        258       10
244      Panthers               Caleb Aekins  8229        315       12
         Rabbitohs             Alex Johnston  8246        346       13
245      Tigers                   Moses Mbye  8263        466       16
         Titans               Michael Gordon  8280        117        5
246      Broncos                 Darius Boyd  8297         22        1
         Sharks              William Kennedy  8314         98        4
247      Raiders     Charnze Nicoll-Klokstad  8348         39        2
         Sea Eagles           Brendan Elliot  8331        140        6
248      Eels              Clinton Gutherson  8382        280       11
         Knights                 Kalyn Ponga  8365        209        8
249      Broncos                 Darius Boyd  8416         22        1
         Rabbitohs             Alex Johnston  8399        346       13
250      Cowboys                 Jordan Kahu  8433        251       10
         Titans               Michael Gordon  8450        117        5
251      Sharks                   Josh Dugan  8467         91        4
         Storm                Jahrome Hughes  8484        178        7
252      Panthers               Caleb Aekins  8518        315       12
         Raiders     Charnze Nicoll-Klokstad  8501         39        2
253      Bulldogs                Nick Meaney  8552       1636        3
         Sea Eagles           Brendan Elliot  8535        140        6
254      Roosters              James Tedesco  8569        432       15
         Tigers                   Moses Mbye  8586        466       16
255      Knights                 Kalyn Ponga  8620        209        8
         Warriors        Roger Tuivasa-sheck  8603        531        9
256      Dragons               Matthew Dufty  8654        385       14
         Eels              Clinton Gutherson  8637        280       11

                     position_id  minutes_played  points  tries  conversions  \
match_id team
1        Broncos               1            80.0       0      0            0
         Dragons               1            80.0       0      0            0
2        Knights               1            89.0      10      1            3
         Sea Eagles            1            89.0       0      0            0
3        Cowboys               1            80.0       0      0            0
         Sharks                1            80.0       0      0            0
4        Roosters              1            80.0       0      0            0
         Tigers                1            80.0       6      0            1
5        Rabbitohs             1            80.0       0      0            0
         Warriors              1            80.0       0      0            0
6        Bulldogs              1            80.0       6      0            2
         Storm                 1            80.0       0      0            0
7        Eels                  1            80.0       0      0            0
         Panthers              1            80.0       0      0            0
8        Raiders               1            80.0       4      1            0
         Titans                1            80.0      10      0            4
9        Dragons               1            80.0       0      0            0
         Sharks                1            80.0       0      0            0
10       Bulldogs              1            80.0       4      0            2
         Roosters              1            80.0       4      1            0
11       Broncos               1            80.0       0      0            0
         Cowboys               1            80.0       0      0            0
12       Titans                1            80.0       4      0            1
         Warriors              1            80.0       4      1            0
13       Panthers              1            80.0       0      0            0
         Rabbitohs             1            80.0       0      0            0
14       Storm                 1            80.0       0      0            0
         Tigers                1            80.0       0      0            0
15       Eels                  1            80.0       0      0            0
         Sea Eagles            1            80.0       0      0            0
...                          ...             ...     ...    ...          ...
242      Storm                 1            80.0       4      1            0
         Warriors              1            80.0       0      0            0
243      Bulldogs              1            80.0       0      0            0
         Cowboys               1            80.0       0      0            0
244      Panthers              1            80.0       0      0            0
         Rabbitohs             1            80.0       0      0            0
245      Tigers                1            80.0       0      0            0
         Titans                1            80.0       6      0            2
246      Broncos               1            80.0       0      0            0
         Sharks                1            80.0       0      0            0
247      Raiders               1            80.0       4      1            0
         Sea Eagles            1            80.0       0      0            0
248      Eels                  1            80.0       0      0            0
         Knights               1            80.0      16      1            4
249      Broncos               1            80.0       0      0            0
         Rabbitohs             1            80.0       0      0            0
250      Cowboys               1            80.0      12      0            4
         Titans                1             3.0       0      0            0
251      Sharks                1            80.0       0      0            0
         Storm                 1            80.0       0      0            0
252      Panthers              1            80.0       0      0            0
         Raiders               1            71.0       4      1            0
253      Bulldogs              1            80.0       0      0            0
         Sea Eagles            1            80.0       0      0            0
254      Roosters              1            80.0       0      0            0
         Tigers                1            80.0       0      0            0
255      Knights               1            80.0      20      1            4
         Warriors              1            80.0       0      0            0
256      Dragons               1            80.0       4      1            0
         Eels                  1            80.0       4      1            0

                     conversion_attempts  ...  kicked_dead errors  \
match_id team                             ...
1        Broncos                       0  ...            0      1
         Dragons                       0  ...            0      0
2        Knights                       3  ...            0      0
         Sea Eagles                    0  ...            0      3
3        Cowboys                       0  ...            0      4
         Sharks                        0  ...            0      1
4        Roosters                      0  ...            0      3
         Tigers                        1  ...            0      0
5        Rabbitohs                     0  ...            0      3
         Warriors                      0  ...            0      0
6        Bulldogs                      3  ...            1      1
         Storm                         0  ...            1      0
7        Eels                          0  ...            0      0
         Panthers                      0  ...            0      2
8        Raiders                       0  ...            0      2
         Titans                        5  ...            0      1
9        Dragons                       0  ...            0      1
         Sharks                        0  ...            0      2
10       Bulldogs                      2  ...            0      0
         Roosters                      0  ...            0      0
11       Broncos                       0  ...            0      2
         Cowboys                       0  ...            0      0
12       Titans                        1  ...            0      0
         Warriors                      0  ...            0      2
13       Panthers                      0  ...            0      0
         Rabbitohs                     0  ...            0      0
14       Storm                         0  ...            0      0
         Tigers                        0  ...            0      1
15       Eels                          0  ...            0      2
         Sea Eagles                    0  ...            0      0
...                                  ...  ...          ...    ...
242      Storm                         0  ...            0      0
         Warriors                      0  ...            0      1
243      Bulldogs                      0  ...            0      0
         Cowboys                       0  ...            0      1
244      Panthers                      0  ...            0      0
         Rabbitohs                     0  ...            0      0
245      Tigers                        0  ...            0      0
         Titans                        2  ...            0      1
246      Broncos                       0  ...            0      1
         Sharks                        0  ...            0      2
247      Raiders                       0  ...            0      1
         Sea Eagles                    0  ...            0      0
248      Eels                          0  ...            0      1
         Knights                       4  ...            0      2
249      Broncos                       0  ...            0      0
         Rabbitohs                     0  ...            0      0
250      Cowboys                       4  ...            0      1
         Titans                        0  ...            0      2
251      Sharks                        0  ...            0      2
         Storm                         0  ...            0      0
252      Panthers                      0  ...            0      0
         Raiders                       0  ...            0      1
253      Bulldogs                      0  ...            0      0
         Sea Eagles                    0  ...            0      1
254      Roosters                      0  ...            0      1
         Tigers                        0  ...            0      3
255      Knights                       5  ...            0      2
         Warriors                      0  ...            0      0
256      Dragons                       0  ...            0      0
         Eels                          0  ...            0      0

                     handling_errors  one_on_ones_lost  penalties  on_report  \
match_id team
1        Broncos                   1                 0          0          0
         Dragons                   0                 0          1          0
2        Knights                   0                 0          0          0
         Sea Eagles                2                 0          0          0
3        Cowboys                   2                 0          0          0
         Sharks                    1                 0          1          0
4        Roosters                  2                 0          0          0
         Tigers                    0                 0          0          0
5        Rabbitohs                 2                 0          0          0
         Warriors                  0                 0          0          0
6        Bulldogs                  1                 0          0          0
         Storm                     0                 0          0          0
7        Eels                      0                 0          0          0
         Panthers                  2                 0          0          0
8        Raiders                   1                 0          0          0
         Titans                    0                 0          0          0
9        Dragons                   0                 0          0          0
         Sharks                    0                 0          1          0
10       Bulldogs                  0                 0          0          0
         Roosters                  0                 0          0          0
11       Broncos                   0                 0          0          0
         Cowboys                   0                 0          0          0
12       Titans                    0                 0          0          0
         Warriors                  1                 0          0          0
13       Panthers                  0                 0          1          0
         Rabbitohs                 0                 0          0          0
14       Storm                     0                 0          0          0
         Tigers                    0                 0          1          0
15       Eels                      0                 0          1          0
         Sea Eagles                0                 0          0          0
...                              ...               ...        ...        ...
242      Storm                     0                 0          0          0
         Warriors                  0                 0          0          0
243      Bulldogs                  0                 0          0          0
         Cowboys                   1                 0          0          0
244      Panthers                  0                 0          0          0
         Rabbitohs                 0                 0          0          0
245      Tigers                    0                 0          0          0
         Titans                    1                 0          0          0
246      Broncos                   1                 0          0          0
         Sharks                    2                 0          0          0
247      Raiders                   1                 0          0          0
         Sea Eagles                0                 0          0          0
248      Eels                      0                 0          0          0
         Knights                   1                 0          0          0
249      Broncos                   0                 0          0          0
         Rabbitohs                 0                 0          0          0
250      Cowboys                   1                 0          0          0
         Titans                    2                 0          0          0
251      Sharks                    1                 0          1          0
         Storm                     0                 0          0          0
252      Panthers                  0                 0          1          0
         Raiders                   1                 0          1          0
253      Bulldogs                  0                 0          1          0
         Sea Eagles                1                 0          0          0
254      Roosters                  2                 0          0          0
         Tigers                    3                 0          0          0
255      Knights                   1                 0          1          1
         Warriors                  0                 0          0          0
256      Dragons                   0                 0          0          0
         Eels                      0                 0          0          0

                     sin_bins  send_offs  stint_one  stint_two
match_id team
1        Broncos            0          0       80.0       None
         Dragons            0          0       80.0       None
2        Knights            0          0       89.0       None
         Sea Eagles         0          0       89.0       None
3        Cowboys            0          0       80.0       None
         Sharks             0          0       80.0       None
4        Roosters           0          0       80.0       None
         Tigers             0          0       80.0       None
5        Rabbitohs          0          0       80.0       None
         Warriors           0          0       80.0       None
6        Bulldogs           0          0       80.0       None
         Storm              0          0       80.0       None
7        Eels               0          0       80.0       None
         Panthers           0          0       80.0       None
8        Raiders            0          0       80.0       None
         Titans             0          0       80.0       None
9        Dragons            0          0       80.0       None
         Sharks             0          0       80.0       None
10       Bulldogs           0          0       80.0       None
         Roosters           0          0       80.0       None
11       Broncos            0          0       80.0       None
         Cowboys            0          0       80.0       None
12       Titans             0          0       80.0       None
         Warriors           0          0       80.0       None
13       Panthers           0          0       80.0       None
         Rabbitohs          0          0       80.0       None
14       Storm              0          0       80.0       None
         Tigers             0          0       80.0       None